<div class="col-lg-9">
<% if @hacks.length == 0 %>
  <div class="col-xs-12">
    <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>

    <%= render(partial: 'partials/firstpost') %>
    <% else %>
    <p style="text-align:center;font-size:18px;font-family:Content-regular;margin:20px;">There are not posts on this blog, yet.</p>
    <% end %>
  </div>
<% end %>
<% if @hacks.length > 0 %>
<div class="hack-card-layout" id="hack-card-layout">
  <div class="col-xs-12">
    <%= render(partial: 'partials/themes/chic/blog_post_big', locals: {hack: @hacks[0]}) %>

  </div>
  <div class="col-lg-10 col-lg-offset-1">
    <hr>

  </div>
<% (1..@hacks.length-1).each do |a| %>
    <div class="col-xs-12">
      <%= render(partial: 'partials/themes/chic/blog_post', locals: {hack: @hacks[a]}) %>

    </div>
    <div class="col-lg-10 col-lg-offset-1">
      <hr>

    </div>
<% end %>
</div>
<% end %>
<% if @hacks.length > 5 %>
<div class="col-xs-12 show-more">
  <button type="button" class="more" style="background-color:transparent;color:#aaa;border: 1px solid #aaa;border-radius:0px;height:40px;" name="button">LOAD MORE POSTS</button>
</div>
<div class="col-xs-12 show-more-loading hidden">
  <button type="button" class="more" style="background-color:transparent;color:#aaa;border: 1px solid #aaa;border-radius:0px;height:40px;" name="button" >LOADING MORE <span><img src="/images/loading.gif" height="30px" width="30px" alt="Loading image" /></span></button>
</div>
<% end %>
</div>

<div class="col-lg-3 zeropadding">
  <%= render(partial: 'partials/themes/chic/blog_about', locals: {blog: @blog}) %>

</div>

<script type="text/javascript">
$('.more').unbind().click(function(e){
  $('.show-more').addClass('hidden');
  $('.show-more-loading').removeClass('hidden');
  var category = (window.location.href).split('/')[(window.location.href).split('/').length-1];
  $.ajax({
    type: "GET",
    url: "/more_categoryposts?category="+category+"offset="+$('.hack-card-layout').find('.hack').length,
    success: function(html){
      $('.show-more').removeClass('hidden');
      $('.show-more-loading').addClass('hidden');
      if (html==""){
        $('.more').remove();
      }
      else {
      $("#hack-card-layout").append(html);


    }
    }
  });
});
$('.upvotes').unbind("click").click(function(e){
  var elementid = $(this).parents('.id').attr('id');
  var $click = $(this);
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      if (data!=null){
        $.ajax({
          type: "POST",
          data: {
                id: elementid
                },
          dataType: "json",
          url: "/upvote_hack",
          success: function(data){
            console.log(data);
          }
        });
        var $upvote = $click.children('.upvote');
        if($upvote.hasClass('upvoted')){
          $upvote.removeClass('upvoted');
          $upvote.addClass('unupvoted');
          var upvotenum = +$click.children('.count').text() - 1 ;
          $click.children('.count').text(upvotenum);
        }
        else {
          $upvote.removeClass('unupvoted');
          $upvote.addClass('upvoted');
          var upvotenum = +$click.children('.count').text() + 1 ;
          $click.children('.count').text(upvotenum);
        }
      }
      else {
        // $('#login_popup').addClass('visible');
        // set_size();
        window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;
      }
    }
  });
});
$('.follow').click(function(e){
  var elementid = $(this).parents('.id').attr('id');
  var $click = $(this);

  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      if (data!=null){

        $.ajax({
          type: "POST",
          data: {
                id: elementid
                },
          dataType: "json",
          url: "/follow_hack",
          success: function(data){
            console.log(data);
          }
        });
        var $follow = $click.children('.followimage');
        if($follow.hasClass('followed')){
          $follow.removeClass('followed');
          $follow.addClass('notfollowed');
          var follownum = +$click.children('.count').text() - 1 ;
          $click.children('.count').text(follownum);
        }
        else {
          $follow.removeClass('notfollowed');
          $follow.addClass('followed');
          var follownum = +$click.children('.count').text() + 1 ;
          $click.children('.count').text(follownum);
        }
      }
      else {
        window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;

        // $('#login_popup').addClass('visible');
        // set_size();
      }
    }
  });

});
</script>
