<% (0..@hacks.length-1).each do |a| %>
  <div class="col-xs-12">
      <%= render(partial: 'partials/themes/chic/blog_post', locals: {hack: @hacks[a]}) %>

    </div>
    <div class="col-lg-10 col-lg-offset-1">
      <hr>

    </div>
<% end %>
