<% (0..@notifications.length-1).each do |n|%>
  <div class="col-sm-8 col-sm-offset-2 col-xs-12 side-padding-5">
    <%= render(partial: 'partials/notification', locals: {notification: @notifications[n]}) %>
  </div>
<% end %>
