<%= javascript_include_tag 'notifications' %>
<div class="col-xs-12">
  <%= render(partial: 'partials/heading', locals: {heading: 'Notifications'}) %>
</div>
<div class="notification-card-layout" id="notification-card-layout">
<% (0..@notifications.length-1).each do |n|%>
  <div class="col-sm-8 col-sm-offset-2 col-xs-12 side-padding-5">
    <%= render(partial: 'partials/notification', locals: {notification: @notifications[n]}) %>
  </div>
<% end %>
</div>
<div class="col-xs-12 show-more">
  <button type="button" class="more" name="button">SHOW MORE</button>
</div>
<div class="col-xs-12 show-more-loading hidden">
  <button type="button" class="more" name="button" ><span><img src="/images/loading.gif" height="30px" width="30px" alt="Loading image" /></span></button>
</div>
<script>
var flag = 0;
$('.more').unbind().click(function(e){
  $('.show-more').addClass('hidden');
  $('.show-more-loading').removeClass('hidden');
  $.ajax({
    type: "GET",
    url: "/get_more_notifications?offset="+$('.notification-card-layout').find('.quote-cardsize').length,
    success: function(html){
      $('.show-more').removeClass('hidden');
      $('.show-more-loading').addClass('hidden');
      if (html==""){
        $('.more').remove();
      }
      $("#notification-card-layout").append(html);
      flag=0;
    }
  });
});
$('.scroll-wrapper').scroll(function() {
       if($('.scroll-wrapper').scrollTop() + $(window).height() >= $('.content-holder').height() && flag==0) {
         $.ajax({
           type: "GET",
           url: "/get_more_notifications?offset="+$('.notification-card-layout').find('.quote-cardsize').length,
           success: function(html){
             if (html==""){
               $('.more').remove();
             }
             $("#notification-card-layout").append(html);
             flag=0;
           }
         });
         flag=1;

       }
   });
function getDocHeight() {
    var D = document;
    return Math.max(
        D.body.scrollHeight, D.documentElement.scrollHeight,
        D.body.offsetHeight, D.documentElement.offsetHeight,
        D.body.clientHeight, D.documentElement.clientHeight
    );
}
</script>
