<% n=0 %>
<% (0..@hacks.length-1).each do |m|%>

  <% (0..2).each do |z| %>
    <% if n!=@hacks.length-1 %>
      <div class="col-lg-4 col-sm-6 col-xs-12 side-padding-5">
      <%= render(partial: 'partials/hackcard', locals: {hack: @hacks[n]}) %>
      </div>
      <% if (z+1)%3==0 %>
      <div class="clearfix"></div>
      <% end %>
    <% else break %>
    <% end %>
    <% n+= 1 %>
  <% end %>
  <% (1..1).each do |z| %>
    <% if n!=@hacks.length-1 %>
      <div class="col-xs-12 side-padding-5">
      <%= render(partial: 'partials/hackcardhorizontal', locals: {hack: @hacks[n]}) %>
      </div>
    <% else break %>
    <% end %>
    <% n+= 1 %>
  <% end %>
<% end %>
<script type="text/javascript">
var w = window.window.innerWidth;
if(w<1170){
  $('.horizontal').addClass('hidden');
  $('.vertical').removeClass('hidden');
  $('.hint-card').addClass('hidden');
  $('.profile-stats').addClass('hidden');
  $('.share-layout').addClass('hidden');
  $('.mobile-share').removeClass('hidden');

}
else {
  $('.horizontal').removeClass('hidden');
  $('.vertical').addClass('hidden');
  $('.hint-card').removeClass('hidden');
  $('.profile-stats').removeClass('hidden');
  $('.share-layout').removeClass('hidden');
  $('.mobile-share').addClass('hidden');

}
</script>
