  <div class="col-xs-12">
    <%= render(partial: 'partials/heading', locals: {heading: @pagename}) %>
  </div>
  <% (1..1).each do |n|%>
  <div class="col-xs-12 col-lg-8 side-padding-5 col-lg-offset-2" style="margin-bottom:20px;">
  <%= render(partial: 'partials/hintcreatecard', locals: {topic: 'Start typing here..', link: '/create'}) %>
  </div>
  <% end %>
  <div class="hack-card-layout" id="hack-card-layout">
  <% n=0 %>
  <% (0..@hacks.length-1).each do |m|%>
    <% (0..3).each do |z| %>
      <% if n!=@hacks.length-1 %>
        <div class="col-lg-3 col-sm-6 col-xs-12 side-padding-5">
        <%= render(partial: 'partials/hackcard', locals: {hack: @hacks[n]}) %>
        </div>
        <% if (z+1)%4==0 %>
        <div class="clearfix"></div>
        <% end %>
      <% else break %>
      <% end %>
      <% n+= 1 %>
    <% end %>
    <% (0..2).each do |z| %>
      <% if n!=@hacks.length-1 %>
        <div class="col-lg-4 col-sm-6 col-xs-12 side-padding-5">
        <%= render(partial: 'partials/hackcard', locals: {hack: @hacks[n]}) %>
        </div>
        <% if (z+1)%3==0 %>
        <div class="clearfix"></div>
        <% end %>
      <% else break %>
      <% end %>
      <% n+= 1 %>
    <% end %>
    <% (1..1).each do |z| %>
      <% if n!=@hacks.length-1 %>
        <div class="col-xs-12 side-padding-5">
        <%= render(partial: 'partials/hackcardhorizontal', locals: {hack: @hacks[n]}) %>
        </div>
      <% else break %>
      <% end %>
      <% n+= 1 %>
    <% end %>
  <% end %>
</div>
  <%= render(partial: 'partials/space') %>
  <div class="col-xs-12 show-more">
    <button type="button" class="more" name="button">SHOW MORE</button>
  </div>
  <div class="col-xs-12 show-more-loading hidden">
    <button type="button" class="more" name="button" ><span><img src="/images/loading.gif" height="30px" width="30px" alt="Loading image" /></span></button>
  </div>

  <script>

  $('.more').unbind().click(function(e){
    $('.show-more').addClass('hidden');
  $('.show-more-loading').removeClass('hidden');
    $.ajax({
      type: "GET",
      url: "/more_diys?offset="+$('.hack-card-layout').find('.hack').length,
      success: function(html){
        $('.show-more').removeClass('hidden');
        $('.show-more-loading').addClass('hidden');
        if (html==""){
          $('.more').remove();
        }
        else {
        $("#hack-card-layout").append(html);
        $('.upvotes').slice(-9).click(function(e){
          var elementid = $(this).parents('.id').attr('id');
          var $click = $(this);
          $.ajax({
            type: "GET",
            dataType: "json",
            url: "/get_session_user",
            success: function(data){
              if (data!=null){
                $.ajax({
                  type: "POST",
                  data: {
                        id: elementid
                        },
                  dataType: "json",
                  url: "/upvote_hack",
                  success: function(data){
                  }
                });
                var $upvote = $click.children('.upvote');
                if($upvote.hasClass('upvoted')){
                  $upvote.removeClass('upvoted');
                  $upvote.addClass('unupvoted');
                  var upvotenum = +$click.children('.count').text() - 1 ;
                  $click.children('.count').text(upvotenum);
                }
                else {
                  $upvote.removeClass('unupvoted');
                  $upvote.addClass('upvoted');
                  var upvotenum = +$click.children('.count').text() + 1 ;
                  $click.children('.count').text(upvotenum);
                }
              }
              else {
                $('#login_popup').addClass('visible');
                set_size();
              }
            }
          });
        });
        $('.follow').slice(-9).click(function(e){
          var elementid = $(this).parents('.id').attr('id');
          var $click = $(this);
          $.ajax({
            type: "GET",
            dataType: "json",
            url: "/get_session_user",
            success: function(data){
              if (data!=null){

                $.ajax({
                  type: "POST",
                  data: {
                        id: elementid
                        },
                  dataType: "json",
                  url: "/follow_hack",
                  success: function(data){
                  }
                });
                var $follow = $click.children('.followimage');
                if($follow.hasClass('followed')){
                  $follow.removeClass('followed');
                  $follow.addClass('notfollowed');
                  var follownum = +$click.children('.count').text() - 1 ;
                  $click.children('.count').text(follownum);
                }
                else {
                  $follow.removeClass('notfollowed');
                  $follow.addClass('followed');
                  var follownum = +$click.children('.count').text() + 1 ;
                  $click.children('.count').text(follownum);
                }
              }
              else {
                $('#login_popup').addClass('visible');
                set_size();
              }
            }
          });

        });
      }
      }
    });
  });
  $('.upvotes').unbind("click").click(function(e){
    var elementid = $(this).parents('.id').attr('id');
    var $click = $(this);
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/get_session_user",
      success: function(data){
        if (data!=null){
          $.ajax({
            type: "POST",
            data: {
                  id: elementid
                  },
            dataType: "json",
            url: "/upvote_hack",
            success: function(data){

            }
          });
          var $upvote = $click.children('.upvote');
          if($upvote.hasClass('upvoted')){
            $upvote.removeClass('upvoted');
            $upvote.addClass('unupvoted');
            var upvotenum = +$click.children('.count').text() - 1 ;
            $click.children('.count').text(upvotenum);
          }
          else {
            $upvote.removeClass('unupvoted');
            $upvote.addClass('upvoted');
            var upvotenum = +$click.children('.count').text() + 1 ;
            $click.children('.count').text(upvotenum);
          }
        }
        else {
          $('#login_popup').addClass('visible');
          set_size();
        }
      }
    });
  });
  $('.follow').click(function(e){
    var elementid = $(this).parents('.id').attr('id');
    var $click = $(this);

    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/get_session_user",
      success: function(data){
        if (data!=null){

          $.ajax({
            type: "POST",
            data: {
                  id: elementid
                  },
            dataType: "json",
            url: "/follow_hack",
            success: function(data){

            }
          });
          var $follow = $click.children('.followimage');
          if($follow.hasClass('followed')){
            $follow.removeClass('followed');
            $follow.addClass('notfollowed');
            var follownum = +$click.children('.count').text() - 1 ;
            $click.children('.count').text(follownum);
          }
          else {
            $follow.removeClass('notfollowed');
            $follow.addClass('followed');
            var follownum = +$click.children('.count').text() + 1 ;
            $click.children('.count').text(follownum);
          }
        }
        else {
          $('#login_popup').addClass('visible');
          set_size();
        }
      }
    });

  });
  </script>
