<div class="col-xs-12" style="margin-top:30px;">
  <%= render(partial: 'partials/heading', locals: {heading: "Collaborations"}) %>
</div>
<div class="col-xs-12">
  <div class="col-lg-12 pointer" style="background-color:#333;margin:10px;margin-top:30px;margin-bottom:30px;">
    <div class="dashboard-innerlayout" style="padding-top:40px;padding-bottom:40px;background-color:#333">
      <h3 class="dashboard-itemheading" style="color:#fff;">Hey! This feature below will be available after the Beta is complete :)</h3>

    </div>

  </div>
</div>
<% (0..2).each do |n| %>
  <div class="col-xs-4">
    <%= render(partial: 'partials/collab', locals: {collab: @collabs[n]}) %>
  </div>
<% end %>
