<div class="col-xs-12" style="margin-top:40px;">
  <img style="background-color:#ccc;object-fit:cover;display:block;margin:auto;" class="img-circle" width="50%" src="https://s-media-cache-ak0.pinimg.com/736x/d8/3a/c3/d83ac31d791d9c9aef46f89729f0cf90.jpg">
  <h3 class="collab-details" style="margin:30px;font-family:Heading;text-transform:uppercase;">Launch of the new Levis Jeans collection.</h3>
  <span class="collab-details" style="float:right;">Expires in 3 days.</span>
  <span class="collab-details" style="float:left;">Paid - Rs. 4000.</span>
  <h3 class="collab-details" style="margin:80px;">Objective - Shoot with the new Levis Jeans collection and talk about it on your blog and social channels.</h3>
  <h3 class="collab-details">Categories - fashion, lifestyle, street style</h3>
  <h3 class="collab-details">Location - Preferably Mumbai, Delhi, Bangalore, Chennai, Hyderabad, Pune.</h3>
  <ul>Brief:
    <li>Pair the new pair of levis jeans in creative ways and do a photo shoot. At least two different styles needed.</li>
    <li>Shoot to be done with the theme of street style. Idea is to be raw and bold.</li>
    <li>Content must be original and the photos should include the blogger. The voice should be authentic and genuine. </li>
    <li>#leviscollection hashtag should be used on all your social media posts and the blog. The blog must contain at least 5 links to the levis shopping page which will be shared later.</li>
    <li>Once you are selected for this campaign, a representative will get in touch to discuss the details.</li>
  </ul>
  <ul>T&C:
    <li>The products will be shipped to your address. They have to be sent back after the shoot.</li>
    <li>Payment included 30% id advance and 70% after the content is delivered.</li>
    <li>Content to be delivered by 15th May 2017.</li>
    <li>Maximum delay of 2 days is allowed post the submission date. If it is exceeded, a part of the payment will be withheld</li>
  </ul>
</div>
