<div class="col-xs-12" style="margin-top:30px;">
  <%= render(partial: 'partials/heading', locals: {heading: @blog['name']+" dashboard"}) %>
</div>
<div class="row">


  <a href="/drafts">
  <div class="col-lg-4 pointer drafts">
    <div class="dashboard-innerlayout card">
      <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/drafts.svg" class="dashboard-icons" alt="Stats Image" height="80px">
      <h3 class="dashboard-itemheading">Drafts</h3>

    </div>

  </div>
  </a>
  <a href="/edit_posts">
  <div class="col-lg-4 pointer">
    <div class="dashboard-innerlayout card">
      <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/edit_post.svg" class="dashboard-icons" alt="Stats Image" height="80px">
      <h3 class="dashboard-itemheading">Edit posts</h3>

    </div>

  </div>
  </a>
  <a href="/edit">
  <div class="col-lg-4 pointer">
    <div class="dashboard-innerlayout card">
      <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/edit.svg" class="dashboard-icons" alt="Stats Image" height="80px">
      <h3 class="dashboard-itemheading">EDIT MY BLOG</h3>

    </div>

  </div>
  </a>
  <a href="/about/edit">
  <div class="col-lg-4 pointer">
    <div class="dashboard-innerlayout card">
      <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/profile.svg" class="dashboard-icons" alt="Stats Image" height="80px">
      <h3 class="dashboard-itemheading">EDIT ABOUT PAGE</h3>

    </div>

  </div>
  </a>
  <a href="/import">
  <div class="col-lg-4 pointer">
    <div class="dashboard-innerlayout card">
      <img src="https://lh3.googleusercontent.com/Wyi5h62r9j6Dahf7S4Ul4nNLdG87k3m9PSeYcsnnDzLEPB4IxJL-QmRIVXFqkXx7nvE=w300" class="dashboard-icons" alt="Stats Image" height="80px">
      <h3 class="dashboard-itemheading">Import your wordpress blog</h3>

    </div>

  </div>
  </a>
  <a href="/help">
  <div class="col-lg-4 pointer">
    <div class="dashboard-innerlayout card">
      <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/help.svg" class="dashboard-icons" alt="Stats Image" height="80px">
      <h3 class="dashboard-itemheading">Help</h3>

    </div>

  </div>
  </a>

</div>
<div class="col-xs-12">
  <div class="col-lg-12 pointer" style="background-color:#333;margin:10px;margin-top:30px;margin-bottom:30px;">
    <div class="dashboard-innerlayout" style="padding-top:40px;padding-bottom:40px;background-color:#333">
      <h3 class="dashboard-itemheading" style="color:#fff;">Hey! The features below will be available after the Beta is complete :) You can still explore them</h3>

    </div>

  </div>
</div>
<div class="row">
  <a href="/collaborations">
    <div class="col-lg-4 pointer">
      <div class="dashboard-innerlayout card">
        <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/COLLABS.png" class="dashboard-icons" alt="Collaboration Image" height="80px">
        <h3 class="dashboard-itemheading">Collababorations</h3>

      </div>

    </div>
  </a>
  <a href="/ideas">
  <div class="col-lg-4 pointer">
    <div class="dashboard-innerlayout card">
      <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/IDEAS.png" class="dashboard-icons" alt="Ideas Image" height="80px">
      <h3 class="dashboard-itemheading">Ideas</h3>

    </div>

  </div>
  </a>
  <a href="/social">
  <div class="col-lg-4 pointer">
    <div class="dashboard-innerlayout card">
      <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/SOCIAL+MEDIA.png" class="dashboard-icons" alt="Social Image" height="80px">
      <h3 class="dashboard-itemheading">Social</h3>

    </div>

  </div>
  </a>
  <a href="/stats">
  <div class="col-lg-4 pointer">
    <div class="dashboard-innerlayout card">
      <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/STATS.png" class="dashboard-icons" alt="Stats Image" height="80px">
      <h3 class="dashboard-itemheading">Stats</h3>

    </div>

  </div>
  </a>
</div>
<div class="row" style="margin-top:0px;">
  <div class="col-lg-6">
    <div class="dashboard-innerlayout card">

    <div class="switch">
      <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox">
      <label for="cmn-toggle-1"></label>
    </div>
    <h3 class="dashboard-itemheading">Monetize my blog</h3>
  </div>
  </div>
  <div class="col-lg-6">
    <div class="dashboard-innerlayout card">

    <div class="switch">
      <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox">
      <label for="cmn-toggle-2"></label>
    </div>
    <h3 class="dashboard-itemheading">Turn on SEO</h3>
  </div>
  </div>



</div>
