<div class="col-xs-12">
  <%= render(partial: 'partials/heading', locals: {heading: 'Drafts'}) %>
</div>
<% (0..@drafts.length-1).each do |d| %>
<div class="col-xs-12">
  <div class="col-xs-10 col-xs-offset-1">

      <div class="col-xs-12 card" style="margin:20px;padding:10px;background-color:#fff;">
        <a href="/draft/<%= @drafts[d]['id'] %>">
        <div class="col-xs-10">
          <h1 style="font-family:Heading;text-transform:uppercase;margin-top:10px;"><%= @drafts[d]['title'] %></h1>
          <p style="font-family:Content-regular"><%= @drafts[d]['description'] %></p>
        </div>
        </a>
      <div class="col-xs-2" style="text-align:center;">
        <a href="/draft/<%= @drafts[d]['id'] %>"><i class="fa fa-pencil" style="font-size:20px;margin-top:30px;margin-right:20px;"></i></a>
          <i class="fa fa-trash-o delete_draft" id="<%= @drafts[d]['id'] %>" style="font-size:20px;margin-top:30px;"></i>
        </div>
      </div>

  </div>

</div>


<% end %>
<% if @drafts.length == 0 %>
<div class="col-xs-12">
  <p style="font-size:50px;text-align:center;margin:100px;">NO DRAFTS</p>
</div>
<% end %>
<script type="text/javascript">
  $('.delete_draft').click(function(e){
    var item = this;

      var result = confirm("Want to delete?");
    if (result) {
      window.location.href = "/delete_post/"+$(item).attr('id');
    }
});
</script>
