<div class="col-xs-12" style="margin-top:30px;">
  <%= render(partial: 'partials/heading', locals: {heading: "Ideas"}) %>
</div>
<div class="col-xs-12">
  <div class="col-lg-12 pointer" style="background-color:#333;margin:10px;margin-top:30px;margin-bottom:30px;">
    <div class="dashboard-innerlayout" style="padding-top:40px;padding-bottom:40px;background-color:#333">
      <h3 class="dashboard-itemheading" style="color:#fff;">Hey! This feature below will be available after the Beta is complete :)</h3>

    </div>

  </div>
</div>
<div class="col-xs-12">
  <p style="text-align:center;font-family:Content-bold;font-size:25px;line-height:30px;margin:30px;">Here are a few ideas for you. Writing on these trending topics is likely to recieve higher engagement but may reduce your novelty.</p>
</div>
<% (0..@ideas.length-1).each do |n| %>
  <div class="col-xs-10 col-xs-offset-1">
    <%= render(partial: 'partials/ideas', locals: {idea: @ideas[n]}) %>
  </div>

<% end %>
