<div class="image-upload col-xs-12" style="margin-top:100px;text-align:center;">
<label for="import">
  <div class="col-xs-12 zeromargin zeropadding">
    <h3 style="text-transform:uppercase;">Upload wordpress .XML file</h3>
    <p class="">Add your wordpress .xml file and import your content.</p>
  </div>
  <div class="col-xs-12" style="margin-top:20px;">
    <img id="logo-holder" src="https://s1-f.scribdassets.com/images/upload/Upload_Upload.svg?1494363827" height="100px" style="cursor:pointer;object-fit: cover;"/>
    <p id="upload-text" style="margin-top:20px;">Click to add your .xml file</p>
  </div>
</label>
<input style="font-size:15px;border:none;padding-top:10px;" type="file" id="import">
<button class="hidden" type="button" style="background-color:transparent;text-transform:uppercase;border:1px solid #aaa;font-family:Content-regular;width:150px;border-radius:5px" id="upload" name="button">Start Import</button>
<!-- <p id="file_name"></p> -->
<p>For instructions on how to get the .xml file, <a href="/help/export_wordpress" style="color:blue;text-decoration:underline;" target="_blank">Click here</a></p>
</div>
<div class="modal loading-modal"></div>
<script type="text/javascript">
$("#import").unbind().change(function (){
  if ( ! window.FileReader ) {
 return alert( 'FileReader API is not supported by your browser.' );
}
var $i = $( '#import' ), // Put file input ID here
 input = $i[0]; // Getting the element from jQuery
if ( input.files && input.files[0] ) {
 file = input.files[0]; // The file
 fr = new FileReader(); // FileReader instance
 fr.onload = function () {
   // Do stuff on onload, use fr.result for contents of file
   $('#logo-holder').attr('src','https://s-media-cache-ak0.pinimg.com/originals/97/66/87/976687b5a3b9cca49e7998e47178d3c6.png');
   $('#upload-text').text('File "'+$('#import').val()+'" selected. Start import now.');
  //  $('#file_name').text($('#import').val());
   $('#upload').removeClass('hidden');
   $('#upload').click(function(){
     $body = $("body");
     $body.addClass("loading");
     $.ajax({
       type: "POST",
       data: {
             data: fr.result,
             },
       dataType: "json",
       url: "/import_xml",
       success: function(data){
         $body.removeClass('Loading');
         window.location.href = "/"
       }
     });
   });
 };
 //fr.readAsText( file );
 fr.readAsDataURL( file );
} else {
 // Handle errors here
 alert( "File not selected or browser incompatible." )
}
});

</script>
