<div class="col-xs-12" style="margin-top:30px;">
  <%= render(partial: 'partials/heading', locals: {heading: "Social"}) %>
</div>
<div class="col-xs-12">
  <div class="col-lg-12 pointer" style="background-color:#333;margin:10px;margin-top:30px;margin-bottom:30px;">
    <div class="dashboard-innerlayout" style="padding-top:40px;padding-bottom:40px;background-color:#333">
      <h3 class="dashboard-itemheading" style="color:#fff;">Hey! This feature below will be available after the Beta is complete :)</h3>

    </div>

  </div>
</div>
<div class="col-lg-8 col-lg-offset-2">
<h3 style="text-align:center;">By connecting your social accounts, your posts will get shared automatically, as you publish a post.</h3>
</div>
<div class="col-xs-8 col-xs-offset-2 card" style="background-color:#fff;padding:20px;margin-top:20px;">
  <div class="row">
    <div class="col-xs-9">
      <img src="/images/facebook-logo-button.svg" style="vertical-align:initial;margin-right:20px;" alt="Facebook logo" height="20px" width="20px" >
      <span class="social-title" style="margin-top:5px;">Facebook</span>
    </div>
    <div class="col-xs-3">
      <button type="button" class="connect-button" name="button"> Connect</button>
    </div>
  </div>
</div>
<div class="col-xs-8 col-xs-offset-2 card" style="background-color:#fff;padding:20px;margin-top:20px;">
  <div class="row">
    <div class="col-xs-9">
      <img src="/images/instagram-logo.svg" style="vertical-align:initial;margin-right:20px;" alt="Imatagram logo" height="20px" width="20px" >
      <span class="social-title" style="margin-top:5px;">Instagram</span>
    </div>
    <div class="col-xs-3">
      <button type="button" class="connect-button" name="button"> Connect</button>
    </div>
  </div>
</div>
<div class="col-xs-8 col-xs-offset-2 card" style="background-color:#fff;padding:20px;margin-top:20px;">
  <div class="row">
    <div class="col-xs-9">
      <img src="/images/twitter-logo-button.svg" style="vertical-align:initial;margin-right:20px;" alt="Twitter logo" height="20px" width="20px" >
      <span class="social-title" style="margin-top:5px;">Twitter</span>
    </div>
    <div class="col-xs-3">
      <button type="button" class="connect-button" name="button"> Connect</button>
    </div>
  </div>
</div>
<div class="col-xs-8 col-xs-offset-2 card" style="background-color:#fff;padding:20px;margin-top:20px;">
  <div class="row">
    <div class="col-xs-9">
      <img src="/images/pinterest-logo-button.svg" style="vertical-align:initial;margin-right:20px;" alt="Pinterest logo" height="20px" width="20px" >
      <span class="social-title" style="margin-top:5px;">Pinterest</span>
    </div>
    <div class="col-xs-3">
      <button type="button" class="connect-button" name="button"> Connect</button>
    </div>
  </div>
</div>
