<div class="col-xs-12" style="margin-top:30px;">
  <%= render(partial: 'partials/heading', locals: {heading: "Stats Monthly"}) %>
</div>
<div class="col-xs-12">
  <div class="col-lg-12 pointer" style="background-color:#333;margin:10px;margin-top:30px;margin-bottom:30px;">
    <div class="dashboard-innerlayout" style="padding-top:40px;padding-bottom:40px;background-color:#333">
      <h3 class="dashboard-itemheading" style="color:#fff;">Hey! This feature below will be available after the Beta is complete :)</h3>

    </div>

  </div>
</div>
<div class="col-xs-4 stats-card">
  <h1>10.5K</h1>
  <p>Pageviews</p>
</div>
<div class="col-xs-4 stats-card">
  <h1>2.4K</h1>
  <p>Active users</p>
</div>
<div class="col-xs-4 stats-card">
  <h1>1.2K</h1>
  <p>Followers</p>
</div>
<div class="col-xs-4 stats-card">
  <h1>23</h1>
  <p>Posts live</p>
</div>
<div class="col-xs-4 stats-card">
  <h1>1.5%</h1>
  <p>Bounce rate</p>
</div>
<div class="col-xs-4 stats-card">
  <h1>1.5%</h1>
  <p>Bounce rate</p>
</div>
<div class="col-xs-12">
  <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/statspreview.png" width="100%">
</div>
