<div class="col-sm-12" style="background-color:#fff;">
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" class="question-text" id="question" placeholder="Question?">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" class="detail-text" id="details" placeholder="Add details here..">
    </div>
  </div>
  <span class="add-images"><img src="assets/tick.svg" class="plus-button" height="30px" width="30px" />Add images</span>
  <button type="button" class="question-submit" name="button">Submit</button>

</div>
<script>
  $('.question-submit').click(function(e){
      $.ajax({
        type: "POST",
        data: {
              question: $('.question-text').val(),
              description: $('.detail-text').val()
          },
        dataType: "json",
        url: "/create_question",
        success: function(data){

          // $('.login').addClass('hidden');
        }
      });
  });
</script>
