<div class="content-container">

  <div class="col-xs-12">
    <%= render(partial: 'partials/heading', locals: {heading: 'Q&A'}) %>
  </div>
  <% (1..1).each do |n|%>
  <div class="col-xs-12 col-sm-10 side-padding-5 col-sm-offset-1">
  <%= render(partial: 'partials/hintcreatecard', locals: {topic: 'Ask your question..',link: '/askquestion'}) %>
  </div>
  <% end %>
  <div class="qanda-layout">
    <% (0..@qandas.length-1).each do |n|%>
    <% if @qandas[n]['question_answers'].nil? %>
      <div class="col-xs-12 col-sm-10 side-padding-5 col-sm-offset-1">
        <% if @qandas[n]['question_products'].empty? %>
          <%= render(partial: 'partials/questioncard', locals: {images: false, qanda: @qandas[n]}) %>
        <% else %>
          <%= render(partial: 'partials/questioncard', locals: {images: true, qanda: @qandas[n]}) %>
        <% end %>
      </div>
    <% else %>
      <div class="col-xs-12 col-sm-10 side-padding-5 col-sm-offset-1">
        <% if @qandas[n]['answer_products'].nil? %>
          <%= render(partial: 'partials/qandacard', locals: {images: false, qanda: @qandas[n]}) %>
        <% else %>
          <%= render(partial: 'partials/qandacard', locals: {images: true, qanda: @qandas[n]}) %>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>


</div>
<div class="moreqanda col-xs-12">
  <button type="button" class="more-qanda" name="button"></button>
</div>
<script>
$('.more-qanda').unbind().click(function(e){
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/more_qanda?offset="+$('.qanda-layout').find('.quote-cardsize').length,
    success: function(data){


    }
  });
});
</script>
