<div class="row quote-cardsize" style="margin: 0 auto;padding-bottom:20px;">
    <div class="" style="z-index:10;padding:0px;">
      <div class="row">
        <div class="col-xs-12 subscribe-banner" style="margin-top:20px;">

              <div class="col-lg-2 col-lg-offset-5 col-xs-2 col-xs-offset-3">
                <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/email.gif" height="100px" width="100px" alt="Email illustration">
              </div>
              <div class="col-xs-12">
                <h1 id="email-pitch2" style="margin:30px 0 0px 0px;font-family:Content-bold;text-align:center;line-height:25px;color:#fff;font-size:20px;">The best of fashion, beauty and style, delivered weekly!</h1>
              </div>
              <div class="col-xs-12 zeropadding" style="margin-bottom:20px;">
                <div class="email-card-form">
                  <input id="emailid2" type="email" class="email-card-input" name="email" placeholder="Your Email">
                  <button class="email-card-submit" id="email-submit2" val="">Submit

                  </button>

                </div>
              </div>

        </div>
        <!-- <div class="col-lg-2">
          <div class="divider-line" style="height: 275px;background-color: #ccc;width: 1px;left: 50%;position: absolute;margin-top:15px;"></div>
        </div>
        <div class="col-xs-12 col-lg-5" style="margin-top:50px;margin-bottom:50px;">

              <div class="col-xs-12 col-lg-12">
                <div class="col-xs-12 zeropadding">
                  <img src="/images/megaphone.svg" height="80px" style="display:block;margin:auto;" alt="create post illustration"/>
                </div>
                <div class="col-xs-12" style="text-align:center;margin-top:20px;margin-bottom:20px;font-family:Content-bold;color:#fff;">Winkl is driven by people like you!</div>
                <a href="/create"><button type="button" name="button" class="white-more" >Create now!</button></a>
              </div>
        </div> -->
      </div>
    </div>
</div>
