<div class="row" style="margin-top:20px;">
  <div class="col-xs-12">
    <img src="<%= badge['url'] %>" height="80px" width="80px" class="img-circle badge-image"/>
  </div>
  <h4 class="text-center zeromargin badge-name"><b><%= badge['title'] %></b></h4>
  <p class="text-center badge-task"><%= badge['procedure'] %></p>
</div>
