<a href="/about"><div class="col-xs-12" style="margin-top:20px;">
  <% if defined?(@blog) && !@blog.nil? %>
  <p class="blog-aboutme" style="background-color:<%= @blog['theme_color'] %>;color:<%= @blog['text_color'] %>">ABOUT ME</p>
  <% else %>
  <p class="blog-aboutme">ABOUT ME</p>
  <% end %>
  <%
  if defined?(blog)
    src = /<img.*?src=['"](.*?)['"]/.match(blog['bio'])
     if src.nil?
        image = ''
      else
        image = src[1]
      end
  end
   %>
  <img src="<%= image %>" style="background-color:#f1f1f1" width="100%" style="object-fit:cover;" >

  <% if defined?(blog) %>
  <p style="text-align:center;font-family:Content-bold;margin-top:20px;"><%= blog['blog_user']['full_name'].upcase %></p>
  <% end %>
  <%
  if defined?(blog)
  src = /<\s*p[^>]*>([^<]*)<\s*\/\s*p\s*>/.match(blog['bio'])
    if src.nil?
      text = ''
    else
      text = src[1]
    end
  end
   %>
  <p style="text-align:center;margin-top:10px;max-width: 100ch;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"><%= text %></p><p style="text-decoration:underline;">Read more</p>

</div>
</a>
<% if defined?(@blog) && !@blog.nil? %>
<% if @blog['facebook']!="" || @blog['instagram']!="" || @blog['twitter']!="" || @blog['pinterest']!=""  %>
  <div class="col-xs-12" style="margin-top:40px;margin-bottom:40px;">

    <p class="blog-aboutme" style="margin-bottom:30px;background-color:<%= @blog['theme_color'] %>;color:<%= @blog['text_color'] %>">FOLLOW ME</p>

    <div class="social" style="text-align:center;float:none;">
      <% if @blog['facebook']!="" %>
      <li class="socialicons" style="float:none;" ><a href="https://facebook.com/<%= @blog['facebook'] %>" class="social-icon" style="float:none;margin-left:10px;" target="_blank"><%= image_tag('facebook_black.svg',size: "20x20", alt: "facebook icon", class: "icon", style: "display:initial;") %></a></li>
      <% end %>
      <% if @blog['instagram']!="" %>
      <li class="socialicons" style="float:none;" ><a href="https://www.instagram.com/<%= @blog['instagram'] %>" class="social-icon" style="float:none;margin-left:10px;" target="_blank"><%= image_tag('instagram.svg', size: "20x20", alt: "Instagram icon", class: "icon", style: "display:initial;") %></a></li>
      <% end %>
      <% if @blog['twitter']!="" %>
      <li class="socialicons" style="float:none;" ><a href="https://twitter.com/<%= @blog['twitter'] %>" class="social-icon" style="float:none;margin-left:10px;" target="_blank"><%= image_tag('twitter_black.svg', size: "20x20", alt: "Twitter icon", class: "icon", style: "display:initial;") %></a></li>
      <% end %>
      <% if @blog['pinterest']!="" %>
      <li class="socialicons" style="float:none;" ><a href="https://pinterest.com/<%= @blog['pinterest'] %>" class="social-icon" style="float:none;margin-left:10px;" target="_blank"><%= image_tag('pinterest_black.svg', size: "20x20", alt: "Pinterest icon", class: "icon", style: "display:initial;") %></a></li>
      <% end %>
    </div>
  </div>
<% end %>
<% end %>
<% if defined?(@blog) && !@blog.nil? %>
<div class="col-xs-12" style="text-align:center;">
<p class="blog-aboutme" style="margin-bottom:30px;background-color:<%= @blog['theme_color'] %>;color:<%= @blog['text_color'] %>">DONT MISS OUT</p>
<p style="font-family:Content-regular;text-align:center;margin-top:30px;margin-bottom:10px;">Subscribe to get updates from the blog and never miss a post!</p>
<% if @blog['blog_followed']==false %>
<button type="button" id="subscribe" value="<%= @blog['id'] %>" name="button">SUBSCRIBE</button>
<button type="button" id="unsubscribe" value="<%= @blog['id'] %>" name="button" class="hidden">SUBSCRIBED</button>
<% else %>
<button type="button" id="subscribe" value="<%= @blog['id'] %>" name="button" class="hidden">SUBSCRIBE</button>
<button type="button" id="unsubscribe" value="<%= @blog['id'] %>" name="button">SUBSCRIBED</button>
<% end %>
<script type="text/javascript">
  $('#subscribe').click(function(){
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/get_session_user",
      success: function(data){
        if (data!=null){
          $.ajax({
            type: "POST",
            data: {
                  id: $('#subscribe').val()
                  },
            dataType: "json",
            url: "/follow_blog",
            success: function(data){
              console.log(data);
            }
          });
          $('#subscribe').addClass('hidden');
          $('#unsubscribe').removeClass('hidden');
        }
        else {
          window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;
        }
      }
    });
  });

  $('#unsubscribe').click(function(){
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/get_session_user",
      success: function(data){
        if (data!=null){
          $.ajax({
            type: "POST",
            data: {
                  id: $('#unsubscribe').val()
                  },
            dataType: "json",
            url: "/follow_blog",
            success: function(data){
              console.log(data);
            }
          });
          $('#unsubscribe').addClass('hidden');
          $('#subscribe').removeClass('hidden');
        }
        else {
          window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;
        }
      }
    });

  });
</script>
</div>
<% end %>
<% if defined?(@blog) && !@blog.nil? && @blog['insta_accesstoken']!="" %>
<div class="col-xs-12">

  <p class="blog-aboutme" style="margin-bottom:30px;margin-top:30px;background-color:<%= @blog['theme_color'] %>;color:<%= @blog['text_color'] %>">INSTAGRAM</p>

<div id="instafeed" style="text-align:center;"></div>
<%= javascript_include_tag 'instafeed.min' %>
<script type="text/javascript">
  var userid = '<%= @blog['insta_userid'] %>';
  var accesstoken = '<%= @blog['insta_accesstoken'] %>';
  console.log(userid);
  var feed = new Instafeed({
  get: 'user',
  userId: userid,
  clientId: 'c30104825d8d47f18b0a1dea317bfd86',
  accessToken: accesstoken,
  // resolution: 'standard_resolution',
    template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" height="136px" width="136px" style="padding:2px" /></a>',
    sortBy: 'most-recent',
  limit: 6
  });
  feed.run();
</script>

</div>

<% elsif defined?(@blog) && !@blog.nil? && @blog['insta_accesstoken']=="" && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id'] %>
<div class="col-xs-12" style="text-align:center;margin-top:30px">
  <p class="blog-aboutme" style="margin-bottom:30px;background-color:<%= @blog['theme_color'] %>;color:<%= @blog['text_color'] %>">INSTAGRAM</p>
  <a style="background-color:#fb3958;padding:10px;border-radius:5px;color:#fff;font-size:12px" href="https://api.instagram.com/oauth/authorize/?client_id=c30104825d8d47f18b0a1dea317bfd86&redirect_uri=http://www.winkl.co/addinstatowinkl&response_type=code"><i style="margin-right:10px;font-size:16px" class="fa fa-instagram"></i>ADD INSTAGRAM FEED</a>
</div>

<% end %>
