<div class="col-lg-10 col-lg-offset-1 card hack" style="margin-top:20px;margin-bottom:40px;background-color:#fff;padding:0px;">
  <% if defined?(hack) %>
  <% if !hack['image'].nil? && !hack['image'].empty? %>
  <a href="/content/<%= hack['slug'] %>">
  <img class="list-img" src="<%= hack['image'] %>" alt="Post image" width="100%" style="background-color:#f1f1f1;object-fit:cover;">
  </a>
  <% else %>
  <% colors = ['#a02525','#269476','#3787cc','#cc8b2a','#b9473c','#9669FE', '#23819C', '#1F88A7', '#FF9331'] %>
  <% color = colors[Random.rand(colors.length-1)] %>
  <a href="/content/<%= hack['slug'] %>">
  <img class="list-img-blank" src="" alt="" height="400px" width="100%" style="background-color:<%=color%>;object-fit:cover;">
  </a>
  <div class="image-text" style="top:25%;">
    <%= hack['title'][0].upcase %>
  </div>
  <% end %>
  <% else %>
  <img class="list-img-blank" src="" alt="" height="400px" width="100%" style="background-color:#f1f1f1;object-fit:cover;">
  <% end %>
  <div class="blog-details">
  <div class="row">

    <div class="col-xs-12 zeropadding">
      <% if defined?(hack) %>
      <% tags = hack['posttype'].split(",") %>
        <% (0..tags.length-1).each do |n| %>
        <span class="blog-tags"><%= tags[n] %></span>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if defined?(hack) %>
  <a href="/content/<%= hack['slug'] %>">
  <h1 class="blog-list-title"><%= hack['title']%></h1>
  </a>
  <% else %>
  <div class="illustration-text" style="margin:10px;margin-top:20px;">

  </div>
  <% end %>
  <% if defined?(hack) %>
  <a href="/content/<%= hack['slug'] %>">
  <p class="blog-list-description"><%= hack['description'] %></h4>
  </a>
  <% else %>
  <div class="illustration-text" style="width:90%;margin-left:10px;margin-right:20px;" >

  </div>
  <% end %>
  <br>
  <div class="blog-list-readmore">
    <% if defined?(hack) %>
    <a href="/content/<%= hack['slug'] %>" class="blog-readmore pointer" onmouseover="this.style.backgroundColor='<%= @blog['theme_color'] %>';this.style.color='<%= @blog['text_color'] %>'" onmouseout="this.style.backgroundColor='transparent';this.style.color='<%= @blog['theme_color'] %>'" style="border: 1px solid <%= @blog['theme_color'] %>;color:<%= @blog['theme_color'] %>;">CONTINUE READING</a>

    <% end %>
  </div>
  </div>
</div>
