<div class="card" style="width:90%;z-index:10;position: relative;bottom:20px;background-color:#ffffff;margin: auto;">
  <div class="center center-block">
    <img src="assets/user.jpg" height="50px" width="50px" alt="Default user image" class="img-circle" style="position:absolute;z-index:100;border: 2px solid #fff;"/>
  </div>
  <div class="container" style="width:100%;">
    <div class="row toprow">
      <p class="empty">

      </p>
    </div>

      <div class="row" style="margin-left:30px;margin-right:30px;">

          <div class="col-xs-12 zeropadding center-vertical user-name">
            <p class="zeromargin name" style="text-align:center;">
              <b>Nikhil Kumar <span style="color:#bababa;">in</span> <span class="tag">Fashion</span></b>
            </p>
          </div>


      </div>
      <div class="row side-margin-10">
        <h4 class="title"><b>Dress like the world is about to end</b></h4>
      </div>
      <div class="row" style="margin:10px;">
        <p class="views" style="float:left;">10k views</p>
        <div class="side-margin-10" style="float:right;">
          <p class="bookmark-num count">
            5
          </p>
          <img src="/assets/bookmark-normal.svg" alt="Bookmark image" width="15px;" height="15px;" style="float:right;" class="side-margin-5" onmouseover="bookmark_hover(this);" onmouseout="bookmark_unhover(this);" />
        </div>
        <div class="side-margin-10" style="float:right;">
          <p class="helpful-num count">
            5
          </p>
        <img src="/assets/like-normal.svg" alt="Like image" width="15px;" height="15px;" style="float:right;" class="side-margin-5" onmouseover="helpful_hover(this);" onmouseout="helpful_unhover(this);" />
        </div>
        <div class="side-margin-10" style="float:right;">
          <p class="comment-num count">
            5
          </p>
          <img src="/assets/chat-normal.svg" alt="Comment image" width="15px;" height="15px;" style="float:right;" class="side-margin-5" onmouseover="chat_hover(this);" onmouseout="chat_unhover(this);" />
        </div>
      </div>



  </div>
</div>
