
<div class="card pointer" style="background-color:#fff;margin-bottom:20px;">
  <img style="background-color:#ccc;object-fit: cover;height:400px;"  width="100%" src="<%= collab[:image] %>">
  <div style="background-color:#fff;padding:10px;">
    <p style="background-color:green;padding-left:10px;padding-right:10px;font-size:10px;float:left;border-radius:5px;margin:0px;color:#fff;"><%= collab[:type] %></p>
    <p style="background-color:#f1f1f1;padding:5px;font-size:10px;float:right;border-radius:5px;margin:0px;text-transform:uppercase;">Apply by <%= collab[:date] %></p>
    <h3 style="text-align:center;margin-top:40px;font-family:Heading;text-transform:uppercase;"><%= collab[:title] %></h3>
    <p style="text-align:center;"><%= collab[:description] %></p>
    <span style="background-color:#333;padding:10px;display:block;margin:auto;border-radius:5px;text-align:center;color:#fff">More Details (Coming soon)</span>
  </div>
</div>
