<div class="quote-cardsize tipcard-overlay">
  <span class="close tip_close">&times;</span>
    <div class="tipcard imagecard" style="z-index:10;background-color:#ffffff;">
      <blockquote class="blockquote">
        <div><span style="float:left;margin:10px;"><sup><img src="/images/quotes.svg" alt="Open quote image" height="15px" width="15px" /></sup></span>
          <br>
          <br>

            <textarea type="text" maxlength="100" class="quote-text tip-input" name="name" placeholder="Quote.."></textarea>


          <span style="float:right;margin:10px;"><sup><img src="/images/quotes.svg" alt="Close quote image" height="15px" width="15px" class="quote" /></sup></span>
        </div>
        <hr class="white-small">
        <p class="quote-footer">
          <% if !session['user'].nil? %>
          <%= session['user']['full_name']  %>
          <% end %>
        </p>

      </blockquote>
      <div class="row">
        <br>
      </div>

    </div>
    <button type="button" id="submit-tip" name="button">Submit</button>
</div>
<script>
  $('#submit-tip').click(function(e){
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/get_session_user",
      success: function(data){
        if (data!=null){
          $.ajax({
            type: "POST",
            data: {
                  tip: $('.tip-input').val(),
              },
            dataType: "json",
            url: "/create_tip",
            success: function(data){
              location.reload();
            }
          });
        }
        else {
          alert('signin');
        }
      }
    });

  });
</script>
