<img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/build.gif" alt="Create Post" style="display:block;margin:auto;">
<p style="text-align:center;font-size:18px;font-family:Content-regular;margin:20px;">Build your blog, Create your first post</p>
<a href="/create">
<button type="button" class="post" name="button" style="display:block;margin:auto;float:none;text-transform:uppercase;">Create</button>
</a>
