

<div class="card" style="width:100%;z-index:10;position: relative;bottom:20px;background-color:#ffffff;margin: auto;">
  <a href="/user/<%= hack['hack_user']['slug'] %> ">
  <div class="center center-block">
    <img src="<%= hack['hack_user']['profile_pic'] %>" height="50px" width="50px" alt="User profile pic" class="img-circle" style="position:absolute;z-index:100;border: 2px solid #fff;"/>
  </div>
  </a>

  <div class="container" style="width:100%;">
    <% if defined?(delete) %>
    <a href="/edit/<%= hack['id'] %>">
    <% else %>
    <a href="/content/<%= hack['slug'] %>">
      <% end %>
    <div class="row toprow">
      <p class="empty">

      </p>
    </div>
    <p class="date" style="text-align:center;margin:0px;"><%= hack['created_at'] %></p>

      <div class="row" style="margin-left:30px;margin-right:30px;">

          <!-- <div class="col-xs-12 zeropadding center-vertical user-name">
            <p class="zeromargin name" style="text-align:center;">
              <% if !defined?(@blog) %>
              <b class="name" style="text-transform:capitalize;"><%= hack['hack_user']['full_name'] %><span style="color:#bababa;"> in </span> <span class="tag" style="text-transform:capitalize;"><%= hack['posttype'] %></span></b>
              <% else %>
              <b class="name" style="text-transform:capitalize;"><%= @blog['name'].to_s %><span style="color:#bababa;"> by </span> <span class="tag" style="text-transform:capitalize;"><%= hack['hack_user']['full_name'] %></span></b>
              <% end %>
            </p>
          </div> -->


      </div>
      <div class="row side-margin-10">
        <h4 class="title"><b><%= hack['title'] %></b></h4>
      </div>
      </a>
      <div class="row" style="margin:10px;">
        <!-- <% if hack['counter_views'] ==1 %>
        <p class="views" style="float:left;"><%= hack['counter_views'] %> View</p>
        <% else %>
        <p class="views" style="float:left;"><%= hack['counter_views'] %> Views</p>
        <% end %> -->

        <% if defined?(delete) %>
        <div class="side-margin-5 upvotes pointer" style="float:right;">
              <img class="delete" id="delete" alt="Delete post" src="/images/delete.svg"  width="15px;" height="15px;" style="float:right;" />
        </div>
        <div class="side-margin-10 upvotes pointer" style="float:right;">
              <a href="/edit/<%= hack['id'] %>"><img class="edit" alt="Edit post" src="/images/edit.svg"  width="15px;" height="15px;" style="float:right;" /></a>
        </div>
        <% else %>
        <div class="side-margin-5 follow pointer" style="float:right;">
          <!-- <p class="bookmark-num count">
            <%= hack['counter_follows'] %>
          </p> -->
          <% if hack['hack_followed'] %>
          <%= image_tag('', alt: "Follow icon", class: "followed followimage side-margin-5", size: '15x15', style: 'float:right;') %>
          <% else %>
            <img class="notfollowed followimage side-margin-5" alt="Not followed icon" width="15px;" height="15px;" style="float:right;" />
          <% end %>
        </div>
        <div class="side-margin-5 upvotes pointer" style="float:right;">
          <p class="helpful-num count">
            <!-- <%= hack['counter_upvotes'] %> -->
          </p>
          <% if hack['hack_upvoted'] %>
              <img class="upvoted upvote side-margin-5" alt="upvote icon" width="15px;" height="15px;" style="float:right;" />
          <% else %>
            <img class="unupvoted upvote side-margin-5" alt="not upvoted icon" width="15px;" height="15px;" style="float:right;" />
          <% end %>
        </div>
        <% end %>
        <!-- <div class="side-margin-5" style="float:right;">
          <p class="comment-num count">
            5
          </p>
          <img src="/assets/chat-normal.svg" alt="Image" width="17px;" height="17px;" style="float:right;" class="side-margin-5" onmouseover="chat_hover(this);" onmouseout="chat_unhover(this);" />
        </div> -->
      </div>
  </div>

</div>
