<div class="row hackcard hack cardsize id" id="<%= hack['id'] %>" style="margin: 0 auto;padding-top:20px;">
<% if defined?(delete) %>
<a href="/edit/<%= hack['id'] %>">
<% else %>
<a href="/content/<%= hack['slug'] %>">
<% end %>
  <div class="card imagecard">
    <% if !hack['image'].nil? && !hack['image'].empty? %>
    <%= image_tag(hack['image'], alt: "Post image", style: 'width:100%;') %>
    <% else %>
    <% colors = ['#a02525','#269476','#3787cc','#cc8b2a','#b9473c','#9669FE', '#23819C', '#1F88A7', '#FF9331'] %>
    <% color = colors[Random.rand(colors.length-1)] %>
    <%= image_tag('', style: "width:100%;height:400px;background-color:"+color, class: "no-image") %>
    <div class="image-text" style="top:40%;">
      <%= hack['title'][0].upcase %>
    </div>
    <% end %>
  </div>
</a>
<% object = {hack: hack} %>
<% if defined?(color) %>
<% object[:color] = color %>
<% end %>
<% if defined?(delete) %>
<% object[:delete] = delete %>
<% end %>
<%= render(partial: 'partials/hackcarddetails', locals: object) %>

</div>
