<a href="/content/<%= hack['slug'] %>">
<div class="row id hack" id="<%= hack['id'] %>" style="margin: 0 auto;padding-top:60px;padding-bottom:20px;">
<div class="card col-xs-12 zeropadding horizontal" style="background-color:#fff;display: flex;">
  <div class="col-xs-6 zeropadding imgcard">
    <a href="/content/<%= hack['slug'] %>">
    <% if !hack['image'].nil? && !hack['image'].empty? %>
    <%= image_tag(hack['image'], alt: "Post image", style: 'width:100%;align-items: stretch;') %>
    <% else %>
    <% colors = ['#a02525','#269476','#3787cc','#cc8b2a','#b9473c','#9669FE', '#23819C', '#1F88A7', '#FF9331'] %>
    <% color = colors[Random.rand(colors.length-1)] %>
      <%= image_tag('', style: "width:100%;background-color:"+color, class: "no-image") %>
      <div class="image-text" style="top:50%;">
        <%= hack['title'][0].upcase %>
      </div>
    <% end %>
    </a>
  </div>

  <div class="col-xs-6 zeropadding" style="background-color:#fff;">


      <div class="middle">
        <a href="/user/<%= hack['hack_user']['slug'] %> ">
        <img src="<%= hack['hack_user']['profile_pic'] %>" height="100px" width="100px" alt="User profile image" class="img-circle" style="margin-top:40px;"/>
        </a>
        <p class="date" style="text-align:center;margin-top:20px;"><%= hack['created_at'] %></p>

          <a href="/content/<%= hack['slug'] %>">
        <p class="zeromargin name" style="text-align:center;margin-top:20px;">
          <b><%= hack['hack_user']['full_name'] %><span style="color:#bababa;"> in </span> <span class="tag"><%= hack['posttype'] %></span></b>
        </p>
        <h4 class="title-big"><b><%= hack['title'] %></b></h4>
      </a>
        <div class="row" style="display: block;position: absolute;bottom: 20px;right:20px;">
          <!-- <% if hack['counter_views'] ==1 %>
            <p class="views" style="float:left;"><%= hack['counter_views'] %> View</p>
          <% else %>
            <p class="views" style="float:left;"><%= hack['counter_views'] %> Views</p>
          <% end %> -->
          <div class="side-margin-10 follow pointer" style="float:right;">
            <!-- <p class="bookmark-num count">
              <%= hack['counter_follows'] %>
            </p> -->
            <% if hack['hack_followed'] %>
              <img class="followed followimage side-margin-5" alt="Follow icon" width="15px;" height="15px;" style="float:right;" />
            <% else %>
              <img class="notfollowed followimage side-margin-5" alt="not followed icon" width="15px;" height="15px;" style="float:right;" />
            <% end %>
          </div>
          <div class="side-margin-10 upvotes pointer" style="float:right;">
            <p class="helpful-num count">
              <!-- <%= hack['counter_upvotes'] %> -->
            </p>
            <% if hack['hack_upvoted'] %>
                <img class="upvoted upvote side-margin-5" alt="upvote icon" width="15px;" height="15px;" style="float:right;" />
            <% else %>
              <img class="unupvoted upvote side-margin-5" alt="not upvoted icon" width="15px;" height="15px;" style="float:right;" />
            <% end %>
            </div>
          <!-- <div class="side-margin-10" style="float:right;">
            <p class="comment-num count">
              5
            </p>
            <img src="/assets/chat-normal.svg" alt="Image" width="19px;" height="19px;" style="float:right;" class="side-margin-5" onmouseover="chat_hover(this);" onmouseout="chat_unhover(this);" />
          </div> -->
        </div>
      </div>


  </div>

</div>
<div class="vertical hidden cardsize" style="margin: 0 auto;">
  <div class="card">
    <% if !hack['image'].nil? && !hack['image'].empty? %>
      <img src="<%= hack['image'] %>" alt="User image" style="width:100%;">
    <% else %>
    <% colors = ['#a02525','#269476','#3787cc','#cc8b2a','#b9473c','#9669FE', '#23819C', '#1F88A7', '#FF9331'] %>
    <% color = colors[Random.rand(colors.length-1)] %>
    <%= image_tag('', style: "width:100%;background-color:"+color, class: "no-image") %>
    <div class="image-text" style="top:40%;">
      <%= hack['title'][0].upcase %>
    </div>
    <% end %>
  </div>
  <%= render(partial: 'partials/hackcarddetails', locals: {hack: hack}) %>
</div>
</div>
