  <div class="row" style="margin: 0 auto; text-align:center; padding-bottom:50px;padding-top:40px;">
    <h3 class="heading">
      <% if !heading.nil? %>
        <%= heading %>
      <% else %>
        Heading
      <% end %>
    </h3>
    <hr style="width:30px;margin: 0 auto;">
  </div>
