
<div class="row quote-cardsize pointer" style="margin: 0 auto;">
    <div class="create-post" style="z-index:10;padding:20px;">


      <div class="row post-card">
        <div class="row" style="margin-bottom:15px;">
          <div class="col-lg-4 col-xs-6 card col-lg-offset-2" style="z-index:10;padding:20px;background-color:#fff;">
            <a class="pointer add-new" href="/create">
              <%= image_tag('write.svg', alt: "Create post icon", class: "icon", size: '50x50') %>
              <!-- <img src="/assets/write.svg" class="icon" height="50px" width="50px" /> -->
              <p>
                Write a post
              </p>
            </a>

          </div>
          <div class="col-lg-4 col-xs-6 card " style="z-index:10;padding:20px;background-color:#fff;">
            <a class="pointer add-new" href="/submitpost">
              <%= image_tag('post.svg', alt: "Submit post icon", class: "icon", size: '50x50') %>
              <!-- <img src="/assets/post.svg" class="icon" height="50px" width="50px" /> -->
                <p>
                  Submit a post
                </p>
            </a>

          </div>

        </div>

    </div>

    </div>

</div>
