<div class="row quote-cardsize pointer" style="margin: 0 auto; padding-top:40px;">
    <div class="tipcard" style="z-index:10;background-color:#ffffff;padding:20px;">

      <div class="row post-card">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-xs-1 zeropadding" style="width:40px;">
              <% if !session['user'].nil? %>
              <img src="<%= session['user']['profile_pic'] %>" height="50px" width="50px" class="img-circle" style="display:block;margin-top:10px;" />
              <% else %>
              <img src="/images/user.jpg" height="50px" width="50px" class="img-circle" style="display:block;margin-top:10px;" alt="default user image" />
              <% end %>
            </div>
            <div class="col-xs-10 zeropadding">
                <div class="row" style="margin-top:10px;">
                  <% if !session['user'].nil? %>
                  <div class="col-xs-12"><div class="mini-box"><span style="color:#333;">&nbsp<%= session['user']['full_name'] %></span></div></div>
                  <% else %>
                  <div class="col-xs-12 hidden"><div class="mini-box"><span style="color:#333;">&nbsp</span></div></div>
                  <% end %>
                  <div class="col-xs-12" style="margin-top: 5px;"><div class="mini-box"><span>&nbsp<%=  topic %></span></div></div>
                </div>
            </div>
        </div>

    </div>

    </div>

</div>
