<div class="" style="background-color:#fff;margin-bottom:20px;">
  <div style="background-color:#fff;padding:20px;">
    <div class="row">
      <div class="col-xs-9">
        <h3 style="margin-top:10px;font-family:Content-regular;"><%= idea[:title] %></h3>
        <p><%= idea[:description] %></p>
      </div>
      <div class="col-xs-3">
        <% if idea[:up]!="" %>
        <p style="color:green;font-family:Content-regular;float:right;"><%= idea[:up] %>% <i class="fa fa-arrow-up" aria-hidden="true"></i></p>
        <% end %>
      </div>
    </div>

  </div>
</div>
