

<div class="card" style="width:90%;z-index:10;position: relative;bottom:20px;background-color:#ffffff;margin: auto;">
  <a href="">
  <div class="center center-block">
    <img src="/images/user.jpg" height="50px" width="50px" alt="User profile pic" class="img-circle" style="position:absolute;z-index:100;border: 2px solid #fff;"/>
  </div>
  </a>

  <div class="container" style="width:100%;">
    <a href="">
    <div class="row toprow">
      <p class="empty">

      </p>
    </div>

      <div class="row" style="margin-left:30px;margin-right:30px;">

          <div class="col-xs-12 zeropadding center-vertical user-name">
            <p class="zeromargin name" style="text-align:center;">
              <div class="illustration-text">

              </div>
            </p>
          </div>


      </div>
      <div class="row side-margin-10">
        <div class="illustration-text" style="width:150px;">

        </div>
      </div>
      </a>
      <div class="row" style="margin:10px;">

        <!-- <p class="views" style="float:left;">10 Views</p> -->

        <% if defined?(delete) %>
        <div class="side-margin-5 upvotes pointer" style="float:right;">
              <img class="delete" id="delete" alt="Delete post" src="/images/delete.svg"  width="15px;" height="15px;" style="float:right;" />
        </div>
        <div class="side-margin-10 upvotes pointer" style="float:right;">
              <a href=""><img class="edit" alt="Edit post" src="/images/edit.svg"  width="15px;" height="15px;" style="float:right;" /></a>
        </div>
        <% else %>

        <% end %>
        <!-- <div class="side-margin-5" style="float:right;">
          <p class="comment-num count">
            5
          </p>
          <img src="/assets/chat-normal.svg" alt="Image" width="17px;" height="17px;" style="float:right;" class="side-margin-5" onmouseover="chat_hover(this);" onmouseout="chat_unhover(this);" />
        </div> -->
      </div>
  </div>

</div>
