<div class="row hackcard hack cardsize id" id="" style="margin: 0 auto;padding-top:60px;">
<a href="">
  <div class="card imagecard" style="border:0px;">
      <img src="" alt="" height="500px" width="100%" style="background-color:#fff;">
  </div>
</a>

<%= render(partial: 'partials/mockcarddetails') %>

</div>
