<% if !notification['activity'].nil? && notification['activity']=='content'%>
  <a href="/<%= notification['activity'] %>/<%= notification['slug'] %>">
<% end %>
<div class="row quote-cardsize" style="margin: 0 auto; padding-top:20px;">
    <div class="card imagecard" style="z-index:10;background-color:#ffffff;padding:20px;">
      <div class="row">
        <div class="col-xs-1 notification-image">
          <img src="<%= notification['icon_url'] %>" class="img-circle" height="40px" width="40px" />
        </div>
        <div class="col-xs-11">
          <p class="zeromargin notification-title">
            <%= notification['title'] %>
          </p>
          <p class="notification-description">
            <%= notification['description'] %>
          </p>
        </div>
      </div>
    </div>
</div>
<% if !notification['activity'].nil? %>
  </a>
<% end %>
