<div class="container">
  <ol>
    <li class="title">ABOUT US
      <ol class="level1">
        <li>Winkl is committed to ensuring that your privacy is protected and to processing your personal data in accordance with the Data Protection Act 1998, the Privacy and Electronic Communications (EC Directive) Regulations 2003 and other applicable privacy laws. We will only collect and use your personal data in accordance with this privacy statement.<br></li>
        <li>Winkl is owned and operated by Boven Technologies Private Limited trading as Winkl. Boven Technologies Private Limited is a company registered in Bangalore, Karnataka, India under registration CIN: U72901KA2016PTC094769. Its registered office is at No.36, Amruthalakshmi Nivas, Ramakrishna  Layout, Pategarapalya Main Rd, Malagala, Bangalore 560091.<br></li>
        <li>Unless otherwise noted in this privacy statement, the terms "Winkl", "we" and "us" refer to Boven Technologies Private Limited.<br></li>
      </ol>
    </li>
    <li class="title">PURPOSE OF THIS PRIVACY STATEMENT AND CHANGES TO IT
      <ol class="level1">
        <li>This privacy statement sets out:<br>
          <ol class="level2">
            <li>How Winkl collects, stores, shares and uses personal information (such as information that identifies, relates to or describes you, or which is capable of being associated with you) collected from you when you use our mobile application (the "App") or any software, services or application programming interfaces available on or through us ("Personal Data"); and
            <li>Details the types of Personal Data collected, stored, shared and used and your right to control your Personal Data, ("Privacy Statement"). <br></li>
          </ol>
        </li>
        <li>This Privacy Statement does not apply to information that may be collected by third parties who own or operate websites which link to our App or are accessible by links from our App. While accessing those other websites, you will be subject to the terms and conditions of use and privacy policy of those other websites. <br></li>
        <li>If you are under the age of 18, you must not use this App or submit Personal Data to it unless you have the consent of and are supervised by a parent or guardian.<br></li>
        <li>You should read this Privacy Statement carefully and we recommend that you print and keep a copy of it for your future reference.<br></li>
        <li>This Privacy Statement was updated on 10 September, 2016. We reserve the right to change and update this Privacy Statement from time to time. We recommend that you revisit this page regularly to keep informed on the current Privacy Statement and ensure that you are happy with any changes.<br></li>
        <li>By continuing to use this App, you confirm that you have read, understood and agree with the entire Privacy Statement in effect at the time of your use. If you do not agree to the entire Privacy Statement in effect at the time of your use, then you must not use this App.<br></li>

      </ol>

    </li>
    <li class="title">THE PERSONAL DATA THAT WE COLLECT FROM YOU
      <ol class="level1">

        <li>When you use this App (including through submissions/posts in user forums or blogs on or via this App, by accessing or browsing it or by communicating with us via email or by signing up for newsletters or other communications through it), we may collect all or some of the following Personal Data from or about you:<br></li>
        <ol class="level2">
          <li>your name and title and gender and date of birth;<br></li>
          <li>your company name or affiliation;<br></li>
          <li>your contact information including phone/mobile number/fax and email address, device information, location and network carrier;<br></li>
          <li>other demographic information including your home or other addresses and postcode;<br></li>
          <li>your communication and shopping preferences and interests;<br></li>
          <li>other information relevant to customer surveys and/or offers which we may make available to you;<br></li>
          <li>your browsing activities<br></li>
          <li>where you have submitted/posted content, your submissions/posts or blogs; and<br></li>
          <li>where you have registered with us, your user name and password.<br></li>

        </ol>
        <li>We may also collect some or all of the above types of information from our business partners or third parties who have your consent to pass that information on us or who may be authorised by you to authenticate or identify you to us or to sign in to our App using credentials from that business partner or third party.<br></li>
        <li>When you submit/post content which is Personal Data on or via the App in user forums or blogs on or accessed via this App, you agree that any such Personal Data may be viewed by others.<br></li>
        <li>We do not knowingly collect information from children under the age of 18 unless we have the consent to do so of the parent or guardian.<br></li>

      </ol>
    </li>

    <li class="title">WHAT WE DO WITH YOUR PERSONAL DATA
      <ol class="level1">
        <li>We (and third party data processors, vendors and hosting partners who may be acting on our behalf) may collect, store and process your Personal Data for the following reasons:<br>
          <ol class="level2">
            <li>to make this App available, to customise it, to provide content tailored to individual requirements; to understand your needs and provide you with improved products and services, newsletters and other communications and to enable others to view submissions/posts and blogs of users;<br></li>
            <li>to maintain any registered accounts that you may hold with us and to provide you with updates or notifications of changes to your account;<br></li>
            <li>for our internal record keeping requirements including collection of anonymised details about visitors to our App to compile aggregate statistics or produce internal reports;<br></li>
            <li>with your agreement, to contact you about our or our business partners' promotions, products and services or other information which we think you may find interesting, offers, or for customer satisfaction purposes;<br></li>
            <li>for market research, analysis, testing, monitoring, risk management and administrative purposes (including diagnosing technology problems which may be reported to us); and<br></li>
            <li>for any purposes related to the above or where we have a legal right or duty to use or disclose your Personal Data (including for abuse, crime and fraud prevention and related purposes).<br></li>

          </ol>
        </li>
        <li>In terms of sharing, disclosing or transferring your Personal Data to third parties (together, "Disclose" or "Disclosing"), except as set out in this Privacy Statement, we will not Disclose your Personal Data unless we have your permission or unless we are required to do so to:<br>
          <ol class="level2">
            <li>comply with applicable law or an order of a governmental or law enforcement body; or<br></li>
            <li>investigate, prevent or take action against suspected illegal activities (including fraud or where the personal safety of another person may be threatened) or breaches of our Terms of Use ; or<br></li>
            <li>establish or exercise our legal rights or defend against legal claims.<br></li>

          </ol>
        </li>
        <li>If we become aware that we have collected or been sent Personal Data from a person under the age of 18 without the consent of the parent or guardian, we will deactivate the relevant account as soon as is reasonably practicable.<br></li>
        <li>In the event that a third party proposes to acquire all or some of our business and/or assets, we may disclose your Personal Data to that third party in connection with their proposed or actual acquisition. In the event that we become insolvent or we are in any similar situation, we may also disclose your Personal Data to third parties as part of a business or asset sale carried out where such disclosure is lawful and compliant with the Data Protection Act 1998.<br></li>
        <li>We reserve the right to retain your Personal Data, any other information which we have collected and any content that you have submitted to the extent required by applicable laws and as we may require for operational and legal purposes.<br></li>

      </ol>
    </li>
    <li class="title">INTERNATIONAL TRANSFERS OF DATA</li>
      <ol class="level1">
        <li>We may transfer Personal Data that we collect from you to third party data processors, vendors or hosting partners acting on our behalf located in countries outside of the European Economic Area or to other entities in the Luxeva group of companies from time to time in connection with the purposes set out in WHAT WE DO WITH YOUR PERSONAL DATA. Countries outside the European Economic Area may not offer the same level of data protection as the United Kingdom, although our collection, storage, and use of your Personal Data will continue to be governed by this Privacy Statement.<br></li>
      </ol>


    <li class="title">INFORMATION SECURITY
      <ol class="level1">
        <li>We are committed to ensuring that your Personal Data is secure.<br></li>
        <li>In order to minimise the risk that there is unauthorised access to or Disclosure of your Personal Data, we put in place where practicable appropriate physical, electronic and managerial procedures to safeguard and secure it.<br></li>
        <li>Although we take appropriate measures to safeguard the Personal Data that you provide to us, no transmission over the internet is guaranteed to be secure. For your security, you should:<br>
          <ol class="level2">
            <li>if using a computer in a public location, always log out and close the website browser when you complete your online session;<br></li>
            <li>keep your account details and passwords private;<br></li>
            <li>frequently change your password;<br></li>
            <li>avoid using the same password for multiple online accounts.<br></li>

          </ol>
        </li>
      </ol>
    </li>
    <li class="title">LINKS TO OTHER WEBSITES AND THEIR PRIVACY STATEMENTS
      <ol class="level1">
        <li>Your use of other websites which are owned and operated by third parties and are accessed by links from this App is not governed by this Privacy Statement and we do not control any of those other websites.<br></li>
        <li>Once you use the links from this App to access those other websites, we are not responsible for the privacy of any data that you provide while using them.<br></li>
        <li>You should review the privacy policies applicable to those other websites and ask any questions or raise any concerns about their collection or use of your Personal Data with that website operator.<br></li>

      </ol>
    </li>
    <li class="title">YOUR CONTROL OVER YOUR PERSONAL DATA AND ACCESS TO IT
      <ol class="level1">
        <li>You may request details of the Personal Data that we hold about you under the Data Protection Act 1998 or amendments to such details if they are inaccurate or incomplete. We may charge you a small administration fee to respond to your request.<br></li>
        <li>You have the choice to restrict our collection or use of your Personal Data in the following ways:<br>
          <ol class="level2">
            <li>when you are asked by us to accept a cookie or to fill in a form on the App, look for your cookie settings and the area that you can click to indicate your preference as to use of your Personal Data for marketing or other purposes; and<br></li>
            <li>if you have previously agreed to accept a cookie, then you may change your mind at any time disabling or deleting the cookie or amending your cookie settings.<br></li>

          </ol>
        </li>
        <li>You have the choice as to whether we use your Personal Data to send you promotional or other information about third parties or us. If you consent but later change your mind to receiving such communications, you may contact us and we will cease such activity.<br></li>
        <li>Our details:<br>
          <ol class="level2">
            <li>Winkl is owned and operated by Boven Technologies Private Limited trading as Winkl. Boven Technologies Private Limited is a company registered in Bangalore, Karnataka, India under registration CIN CIN: U72901KA2016PTC094769. Its registered office is at No.36, Amruthalakshmi Nivas, Ramakrishna  Layout, Pategarapalya Main Rd, Malagala, Bangalore 560091. <br></li>
            <li>Write to us on contact@winkl.in ; or indicate your consent or withdrawal of your consent to marketing communications by clicking on the "Unsubscribe" link in communications which you receive from us.<br></li>

          </ol>
        </li>
      </ol>

    </li>
  </ol>

</div>
