<div class="modal-content">
  <span class="close post-close">&times;</span>
  <h4 class="post-heading">Submit to Winkl. Choose what you want to submit.</h4>
  <div class="row" style="margin-top:50px;margin-bottom:50px;">
    <div class="col-lg-6 col-xs-12">
      <a class="pointer add-new" href="/create">
        <%= image_tag('write.svg', alt: "Create post icon", class: "icon", size: '50x50') %>
        <!-- <img src="/assets/write.svg" class="icon" height="50px" width="50px" /> -->
        <p>
          Write a post
        </p>
      </a>

    </div>
    <div class="col-lg-6 col-xs-12">
      <a class="pointer add-new" href="/submitpost">
        <%= image_tag('post.svg', alt: "Submit post icon", class: "icon", size: '50x50') %>
        <!-- <img src="/assets/post.svg" class="icon" height="50px" width="50px" /> -->
          <p>
            Submit a post
          </p>
      </a>

    </div>
    <!-- <div class="col-lg-4 col-xs-12">
      <a class="pointer add-new" href="/askquestion">
        <img src="/assets/ask.svg" class="icon" height="50px" width="50px" />
        <p>
          Ask a question
        </p>

      </a>

    </div> -->
  </div>
</div>
