<div class="row profile">
  <div class="col-sm-4 profile-stats col-sm-offset-1">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-8 stat">
        <% if !session['user'].nil? %>
        <h1 class="stat-title"><b><%= @user[0]['counter_views'] %></b></h1>
        <% else %>
        <h1 class="stat-title"><b>0</b></h1>
        <% end %>
        <h5 class="stat-desc">Views</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-xs-12">
    <% if !session['user'].nil? %>
    <img src="<%= @user[0]['profile_pic'] %>" class="img-circle" height="100px" width="100px" style="display: block;margin: auto;" />
    <% else %>
    <img src="/images/user.jpg" height="100px" width="100px" class="img-circle" style="display:block;margin:auto;" alt="default user image" />
    <% end %>
  </div>
  <div class="col-sm-4 profile-stats">

    <div class="col-sm-4 stat">
      <% if !session['user'].nil? %>
      <h1 class="stat-title"><b><%= @userhacks.length %></b></h1>
      <% else %>
      <h1 class="stat-title"><b>0</b></h1>
      <% end %>
      <h5 class="stat-desc">Posts</h5>
    </div>

  </div>
  <div class="col-xs-12 user-name">
    <% if !session['user'].nil? %>
    <%= @user[0]['full_name'] %>
    <% else %>
    Username
    <% end %>
  </div>
  <% if !session['user'].nil? %>
  <% if(@user[0]['bio']!="") %>
  <div class="col-xs-10 col-lg-6 col-xs-offset-1 col-lg-offset-3 bio">
    <%= @user[0]['bio'] %><div class="side-margin-10 editbio" id="#editbio">
      <img src="/images/edit.svg" alt="Edit bio" height="20px" width="20px"/>
    </div>
  </div>
  <div class="col-xs-10 col-lg-6 col-xs-offset-1 col-lg-offset-3 bio-layout hidden">
    <input name="name" placeholder="Enter Bio" id="bio"/>
    <button type="button" name="button" id="savebio">Save</button>
  </div>
  <% else %>

  <div class="col-xs-10 col-lg-6 col-xs-offset-1 col-lg-offset-3" style="margin-top:10px;text-align:center;">
    <button type="button" name="button" id="addbio">Add Bio</button>
  </div>
  <div class="col-xs-10 col-lg-6 col-xs-offset-1 col-lg-offset-3 bio-layout hidden">
    <input name="name" placeholder="Enter Bio" id="bio"/>
    <button type="button" name="button" id="savebio">Save</button>
  </div>
  <% end %>
  <% end %>
  <div class="col-xs-8 col-xs-offset-2 bio">
    <!-- <button type="button" name="button" class="user-follow">Follow</button> -->
  </div>

  <% if !session['user'].nil? %>
  <div class="col-sm-10 col-xs-12 col-sm-offset-1">
    <br><br><br>
    <ul class="tab">
      <div class="row">
        <div class="col-xs-6" style="display:block;margin:auto;">
          <li><a href="javascript:void(0)" class="tablinks active" onclick="openCity(event, 'Posts')">Posts(<%= @userhacks.length %>)</a></li>

        </div>
        <div class="col-xs-6">
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Tips')">Tips(<%= @usertips.length %>)</a></li>
        </div>
        <!-- <div class="col-xs-4">
          <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'Likes')">Likes(4k)</a></li>
        </div> -->
      </div>

    </ul>
    <hr>
    <div id="Posts" class="tabcontent active" style="display:block;">
      <% (0..@userhacks.length-1).each do |n|%>
      <div class="col-sm-6 col-xs-12 side-padding-5">
      <%= render(partial: 'partials/hackcard', locals: {hack: @userhacks[n], delete: true}) %>
      </div>
      <div class="clearfix visible-xs-block visible-sm-block"></div>
      <% end %>
    </div>



    <div id="Tips" class="tabcontent">
      <% (0..@usertips.length-1).each do |n|%>
      <div class="col-lg-6 col-xs-12 side-padding-5 small-tip">
      <%= render(partial: 'partials/quotes', locals: {tip: @usertips[n]}) %>
      </div>
      <% if (n+1)%2==0 %>
      <div class="clearfix"></div>
      <% end %>
      <% end %>
    </div>
    <div id="Likes" class="tabcontent">
      <% (0..@usernotifications.length-1).each do |n|%>
        <div class="col-sm-8 col-sm-offset-2 col-xs-12 side-padding-5">
          <%= render(partial: 'partials/notification', locals: {notification: @usernotifications[n]}) %>
        </div>
      <% end %>
    </div>

  </div>
  <% end %>
</div>


<script>
$('#addbio').click(function(e){
  $('#addbio').addClass('hidden');
  $('.bio-layout').removeClass('hidden');
});
$('.editbio').click(function(e){
  console.log('click');
  $('.bio').addClass('hidden');
  $('.bio-layout').removeClass('hidden');
  $('#bio').val(`<% if !session['user'].nil? %>
    <%= @user[0]['bio'] %>
    <% end %>
    `);
  $('#bio').focus();
});
$('#savebio').click(function(e){
  $.ajax({
    type: "POST",
    data: {
          bio: $('#bio').val()
          },
    dataType: "json",
    url: "/save_bio",
    success: function(data){
      window.location.reload();
    }
  });
});

$('.quote-cardsize .imagecard').each(function( index ) {
  var num = Math.floor((Math.random() * 15) + 1);
  var imageUrl = "https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/tips/"+num+".jpg";
  $(this).css({'background-image':'url(' + imageUrl + ')'});
});
$('#delete').click(function(e){

  $.ajax({
    type: "POST",
    data: {
          id: $(this).parents('.id').attr('id')
          },
    dataType: "json",
    url: "/delete_post",
    success: function(data){
      window.location.reload();
    }
  });

})

$('.upvotes').click(function(e){

  $.ajax({
    type: "POST",
    data: {
          id: $(this).parents('.id').attr('id')
          },
    dataType: "json",
    url: "/upvote_hack",
    success: function(data){
    }
  });
  var $upvote = $(this).children('.upvote');
  if($upvote.hasClass('upvoted')){
    $upvote.removeClass('upvoted');
    $upvote.addClass('unupvoted');
    var upvotenum = +$(this).children('.count').text() - 1 ;
    $(this).children('.count').text(upvotenum);
  }
  else {
    $upvote.removeClass('unupvoted');
    $upvote.addClass('upvoted');
    var upvotenum = +$(this).children('.count').text() + 1 ;
    $(this).children('.count').text(upvotenum);
  }
});
$('.follow').click(function(e){
  $.ajax({
    type: "POST",
    data: {
          id: $(this).parents('.id').attr('id')
          },
    dataType: "json",
    url: "/follow_hack",
    success: function(data){
    }
  });
  var $follow = $(this).children('.follow');
  if($follow.hasClass('followed')){
    $follow.removeClass('followed');
    $follow.addClass('notfollowed');
    var follownum = +$(this).children('.count').text() - 1 ;
    $(this).children('.count').text(follownum);
  }
  else {
    $follow.removeClass('notfollowed');
    $follow.addClass('followed');
    var follownum = +$(this).children('.count').text() + 1 ;
    $(this).children('.count').text(follownum);
  }
});

</script>
