<div class="row quote-cardsize" style="margin: 0 auto; padding-top:20px;">
    <div class="card imagecard pointer" style="z-index:10;background-color:#ffffff;padding:20px;">

      <div class="row" style="padding:5px;">
        <img src="assets/more.svg" height="20px" width="30px" class="more" />
        <p class="answers-number">
          <%= qanda['counter_answers'] %> Ans
        </p>
      </div>
      <h4 class="question question_withanswer">
        <%= qanda['question'] %>
      </h4>
      <div class="row answer-layout">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-xs-1 zeropadding" style="width:40px;">
                <img src="<%= qanda['question_answers'][0]['answer_user']['profile_pic'] %>" height="40px" width="40px" alt="User profile pic" class="img-circle"/>
            </div>
            <div class="col-xs-10 zeropadding">
                <div class="row">
                    <div class="col-xs-12"><div class="mini-box"><span><%= qanda['question_answers'][0]['answer_user']['full_name'] %></span></div></div>
                    <div class="col-xs-12"><div class="mini-box"><span style="font-size:10px;color:#bababa;"><%= qanda['question_answers'][0]['answer_user']['badge'] %></span></div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="answer">
          <%= qanda['question_answers'][0]['description'] %>
        </h4>
        <% if images %>
        <div class="row">
          <% imgs = qanda['question_answers'][0]['answer_products'].split(',') %>
          <% (0..imgs.length-1).each do |n|%>
            <img src="<%= imgs[n] %>" height="100px" width="100px" />
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="row" style="margin-top:10px;margin-bottom:10px;">
        <p class="views" style="float:left;"><%= qanda['question_answers'][0]['counter_views'] %> views</p>
        <div class="side-margin-10" style="float:right;">
          <p class="bookmark-num count">
            5
          </p>
          <img src="/assets/bookmark-normal.svg" alt="Bookmark icon" width="15px;" height="15px;" style="float:right;" class="side-margin-5" onmouseover="bookmark_hover(this);" onmouseout="bookmark_unhover(this);" />
        </div>
        <div class="side-margin-10" style="float:right;">
          <p class="helpful-num count">
            5
          </p>
        <img src="/assets/like-normal.svg" alt="Like icon" width="15px;" height="15px;" style="float:right;" class="side-margin-5" onmouseover="helpful_hover(this);" onmouseout="helpful_unhover(this);" />
        </div>
        <div class="side-margin-10" style="float:right;">
          <p class="comment-num count">
            5
          </p>
          <img src="/assets/chat-normal.svg" alt="Comment icon" width="15px;" height="15px;" style="float:right;" class="side-margin-5" onmouseover="chat_hover(this);" onmouseout="chat_unhover(this);" />
        </div>

      </div>

    </div>

</div>
