<div class="row quote-cardsize" style="margin: 0 auto; padding-top:20px;">
    <div class="card imagecard pointer" style="z-index:10;background-color:#ffffff;padding:20px;">

      <div class="row" style="padding:5px;">
        <img src="assets/more.svg" height="20px" width="30px" class="more" />
        <p class="answers-number">
          <%= qanda['counter_answers'] %> Ans
        </p>
      </div>
      <h4 class="question">
        <%= qanda['question'] %>
      </h4>
      <% if images %>
      <div class="row">
        <% imgs = qanda['question_products'].split(',') %>
        <% (0..imgs.length-1).each do |n|%>
          <img src="<%= imgs[n] %>" height="100%" width="100px" />
        <% end %>
      </div>
      <% end %>
      <div class="row" style="margin-top:10px;margin-bottom:10px;">
        <div class="side-margin-10" style="float:right;">
          <p class="bookmark-num count">
            5
          </p>
          <img src="/assets/bookmark-normal.svg" alt="Image" width="15px;" height="15px;" style="float:right;" class="side-margin-5" onmouseover="bookmark_hover(this);" onmouseout="bookmark_unhover(this);" />
        </div>
        <div class="side-margin-10" style="float:right;">
          <p class="helpful-num count">
            5
          </p>
        <img src="/assets/like-normal.svg" alt="Image" width="15px;" height="15px;" style="float:right;" class="side-margin-5" onmouseover="helpful_hover(this);" onmouseout="helpful_unhover(this);" />
        </div>
        <div class="side-margin-10" style="float:right;">
          <p class="answer-this">
            Answer this
          </p>
        </div>

      </div>

    </div>

</div>
