<div class="row quote-cardsize" id="<%= tip['id'] %>" style="margin: 0 auto; padding-top:40px;">
    <div class="tipcard imagecard" style="z-index:10;background-color:#ffffff;">
      <blockquote class="blockquote">
        <div><span style="float:left;margin:10px;"><sup><img src="/images/quotes.svg" alt="Open quote icon" height="15px" width="15px" /></sup></span>
          <br>
          <br>
          <p  class="quote-text">
            <%= tip['tip'] %>

          </p>

          <span style="float:right;margin:10px;"><sup><img src="/images/quotes.svg" alt="Close quote icon" height="15px" width="15px" class="quote" /></sup></span>
        </div>
        <hr class="white-small">
        <p class="quote-footer">
          <%= tip['tip_user']['full_name'] %>
        </p>

      </blockquote>
      <div class="row">
        <br>
      </div>

    </div>
    <%= render(partial: 'partials/tipcarddetails', locals: {tip: tip}) %>
</div>
