<div class="modal-body">
    <div>
      <div class="row" style="margin-top:40px;">
        <div>

          <div class="col-lg-6 col-lg-offset-2 col-xs-12">
            <input type="text" name="name" class="search-text" placeholder="Search..">
          </div>
          <div class="col-lg-2 col-xs-12">
            <span><button type="button" name="button" class="search-button">Search</button></span>
          </div>
          <span class="close search-close">&times;</span>


        </div>
      </div>
    </div>
    <div class="container" id="search-result">

    </div>
</div>
<script>
$('.search-button').click(function(e){
  $('#search-result').empty();
  $.ajax({
    type: "GET",
    url: "/posts_search?search="+$('.search-text').val(),
    success: function(html){
      $("#search-result").append(html);
      $('.follow').remove();
      $('.upvotes').remove();
      $('.comment').remove();
    }
  });
  $.ajax({
    type: "GET",
    url: "/tips_search?search="+$('.search-text').val(),
    success: function(html){
      $("#search-result").append(html);
      $('.quote-cardsize .imagecard').each(function( index ) {
        var num = Math.floor((Math.random() * 15) + 1);
      var imageUrl = "https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/tips/"+num+".jpg";
        $(this).css({'background-image':'url(' + imageUrl + ')'});
      });
      $('.follow').remove();
      $('.upvotes').remove();
    }
  });
  $.ajax({
    type: "GET",
    url: "/video_search?search="+$('.search-text').val(),
    success: function(html){
      $("#search-result").append(html);
      $('.follow').remove();
      $('.upvotes').remove();
      $('.comment').remove();
    }
  });
});
$(document).keypress(function(e) {
    if(e.which == 13) {
      $('#search-result').empty();
      $.ajax({
        type: "GET",
        url: "/posts_search?search="+$('.search-text').val(),
        success: function(html){
          $("#search-result").append(html);
          $('.follow').remove();
          $('.upvotes').remove();
          $('.comment').remove();
        }
      });
      $.ajax({
        type: "GET",
        url: "/tips_search?search="+$('.search-text').val(),
        success: function(html){
          $("#search-result").append(html);
          $('.quote-cardsize .imagecard').each(function( index ) {
            var num = Math.floor((Math.random() * 15) + 1);
var imageUrl = "https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/tips/"+num+".jpg";
            $(this).css({'background-image':'url(' + imageUrl + ')'});
          });
          $('.follow').remove();
          $('.upvotes').remove();
        }
      });
      $.ajax({
        type: "GET",
        url: "/video_search?search="+$('.search-text').val(),
        success: function(html){
          $("#search-result").append(html);
          $('.follow').remove();
          $('.upvotes').remove();
          $('.comment').remove();
        }
      });
    }
});
</script>
