<script async defer src="//assets.pinterest.com/js/pinit.js"></script>
<div class="row">
  <div class="col-xs-8 col-lg-4 zeropadding">
    <div class="row">

    </div>

    <div class="row share-content">

      <div class="col-xs-4 zeropadding" style="margin-top:15px;margin-left:10px;font-family:Content-regular;font-size:15px;color:#333;text-align:center;">
        Share
      </div>
      <div class="col-xs-2 ">
        <%= image_tag('fb_share.svg',size: "30x30", alt: "Facebook share icon", class: "share-icon fb-icon pointer") %>
      </div>
      <div class="col-xs-2 ">
        <a href="https://twitter.com/intent/tweet?text=Check this out - <%= link %>" class="social-icon" target="_blank"><%= image_tag('twitter_share.svg',size: "30x30", alt: "Twitter share icon", class: "share-icon") %></a>
      </div>
      <div class="col-xs-2" style="margin-top:8px">
        <a data-pin-do="buttonBookmark" data-pin-tall="true" data-pin-round="true" data-pin-save="false" href="https://www.pinterest.com/pin/create/button/"><img class="" src="/images/pin_share.png" height="32" width="32" alt="Pinterest share icon" /></a>
      </div>
    </div>
  </div>
</div>

<script>
window.twttr = (function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0],
  t = window.twttr || {};
if (d.getElementById(id)) return t;
js = d.createElement(s);
js.id = id;
js.src = "https://platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js, fjs);

t._e = [];
t.ready = function(f) {
  t._e.push(f);
};

return t;
}(document, "script", "twitter-wjs"));

</script>
