<div class="modal-content">
  <span class="close login_close">&times;</span>
  <img src="/images/logo_horizontal.png" class="logo" height="80px" style="display:block;margin:auto;" alt="Winkl logo"/>
  <h4 class="login-heading" style="font-family:Content-bold;padding:30px;">Log in to Winkl</h4>
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <a class="oauth-btn pointer" id="fblogin">
        <img src="/images/facebook_login.png" class="img-circle icon" height="40px" width="40px" alt="Facebook login button"/>
          Log in with Facebook
      </a>

    </div>
    <div class="col-lg-6 col-xs-12" id="gSignInWrapper">
      <div class="pointer g-signin2" style="margin-top:20px;" id="" data-onsuccess="onSignIn">

      </div>

    </div>
  </div>
  <p class="login-content">
    We will never post anything without your permission.
  </p>
</div>

<% if session['login'].nil? %>
<script>
  set_size();
$('.login_close').click(function(e){
  window.location.href = "<%= @from %>";
  return false;
});
$('#fblogin').click(function(e){
  $.ajaxSetup({ cache: true });
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1753312334956150',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };
    (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  });

function statusChangeCallback(response) {
    if (response.status === 'connected') {
      testAPI();
    } else {
      FB.login(function(response) {
          testAPI();
        }, {scope: 'email'});
    }
  }
  function testAPI() {
      FB.api('/me', {fields: 'id,email,name,gender'}, function(response) {
        var fbid = response['id'];
        var email = response['email'];
        var name = response['name'];
        var gender;
        if(response['gender']=='male'){
          gender="M";
        }
        else {
          gender="F";
        }
        FB.api(
            "/"+response.id+"/picture?height=500&width=500",
            function (response) {
              var image = response['url'];
              $.ajax({
                type: "POST",
                data: {
                      full_name: name,
                      email: email,
                      gender: gender,
                      profile_pic: image,
                      device_id: "",
                      fb_id: fbid
                  },
                dataType: "json",
                url: "/sign_in",
                success: function(data){
                  console.log(data);
                  // if (location != ""){
                  //   window.location.href = "/"+location;
                  // }
                  // else {
                    // window.location.reload();
                    window.location.href = "<%= @from %>"
                  // }

                  // $('.login').addClass('hidden');
                }
              });
            }
        );
      });
    }
function onSignIn(googleUser) {
  var profile = googleUser.getBasicProfile();
  console.log(profile);
  $.ajax({
    type: "POST",
    data: {
          full_name: profile.getName(),
          email: profile.getEmail(),
          gender: 'F',
          profile_pic: profile.getImageUrl(),
          device_id: "",
      },
    dataType: "json",
    url: "/sign_in",
    success: function(data){
      console.log(data);
      // if (location != ""){
      //   window.location.href = "/"+location;
      // }
      // else {
        window.location.href = "<%= @from %>"
      // }
      // $('.login').addClass('hidden');
    }
  });
};
</script>
<% end %>
