<div class="modal-content subscribe-modal-content">

  <span class="close subscribe-close">&times;</span>
  <div class="row subscriber-row">
    <div class="col-lg-6 col-xs-0 zeropadding subscribe-image">
      <%= image_tag('https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/popup_image.jpg', alt: "Subscribe illustration", width: '100%') %>

    </div>
    <div class="col-lg-6 col-xs-12 subscribe-text">
      <h4 class="login-heading" style="padding-top:0px;font-family:Content-regular;">The best of fashion, beauty and style. <b style="font-family:Content-bold">Handpicked for you.</b></h4>
      <p style="text-align:center;font-family:Content-regular;">Signup for our weekly email</p>
      <p id="error_field"></p>
        <div class="email-card-form">
          <input id="emailid3" type="email" class="email-card-input" name="email" placeholder="Your Email Address">
          <button class="email-card-submit" id="email-submit3" val="">Go
          </button>
        </div>
    </div>
  </div>
</div>
<script>

</script>
