    <p class="terms-content">
      This page describes the terms on which Winkl offers you access to its content and services (“Terms”). They apply to your use of our website, app or any related applications (including mobile phone applications) or on any other media formats for the purposes of promoting Winkl (collectively referred to as the “Platform”). By using the Platform, you agree to the Terms. It is therefore important that you read these Terms carefully.<br>

          We may from time to time update or change these Terms. Changes take effect 30 days after we post them on the Platform, and by continuing to Use the Platform, you will be subject to these changes and the new Terms. We therefore recommend that you revisit this page regularly to stay informed of the current Terms which apply to your use of the Platform. These Terms supersede all previous oral and written terms and conditions (if any) communicated to you.<br>

          These Terms supplement and are in addition to the terms of our Privacy Policy. Our Privacy Policy explains the personal data that we collect about you and process when you use the Platform.<br>

    </p>
    <h3 class="terms-heading">THE PLATFROM</h3>
    <p class="terms-content">
      The Platform and the content and services available from it, all of which are currently accessed from the domain, is owned and operated by Boven Technologies Private Limited trading as Winkl. Boven Technologies Private Limited is a company registered in Bangalore, Karnataka, India under registration CIN: U72901KA2016PTC094769. Its registered office is at No.36, Amruthalakshmi Nivas, Ramakrishna  Layout, Pategarapalya Main Rd, Malagala, Bangalore 560091. <br>

      The terms “Winkl”, “we” and “us” on this page refer to Boven Technologies Private Limited.<br>

    </p>
    <h3 class="terms-heading">YOUR USE OF THE PLATFROM</h3>
    <p class="terms-content">
      Your Use of the Platform is solely for your own personal use. You should not:
      <span>
      <ol>
        <li>Use the Platform to copy, reproduce, use or otherwise deal with any content of the Platform;</li>
        <li>Use the content of the Platform or any part of it for any commercial exploitation (except where you first obtain a licence to do so from us);<br></li>
        <li>Modify, delete, distribute or re-post any content of the Platform, including but not limited to, legal notices, disclaimers or proprietary notices such as copyright or trademark symbols, logos etc. that you do not own or have express permission to modify;<br></li>
        <li>Engage in any form of antisocial, disrupting, or destructive acts, including "flaming," "spamming," "flooding," "trolling," “phishing” and "griefing" as those terms are commonly understood and used on the Internet;• reproduce, crawl or frame the Platform on or from any other website and/or mobile application; or<br></li>
        <li>Use the Platform in a way that might reasonably be expected to cause the Platform to be interrupted, damaged, rendered less efficient or in a manner which could in any way damage the operation of another user’s computer:<br></li>
        <li>In the event of any actual or suspected breach, your Use of the Platform will be terminated immediately.<br></li>
      </ol>
      </span>
    </p>
    <h3 class="terms-heading">THIRD PARTY WEBSITES/MOBILE APPLICATIONS, GOODS AND SERVICES</h3>
    <p class="terms-content">
      The Platform provides links to third party websites and/or mobile applications. We make no representations as to the quality, suitability, functionality or legality of any sites to which we may provide links, or any goods or services available from such sites. You acknowledge that when you access a link that leaves the website of the Platform, the site you will enter into is not controlled by Winkl and different terms of use and privacy policies may apply. By accessing links to other sites, you acknowledge that Winkl is not responsible for those sites. Winkl reserves the right to disable links from third-party sites to the Platform, although Winkl is under no obligation to do so.<br>

      All matters concerning any goods and/or services that you purchase from a third party site, including without limitation all contract terms, are solely between you and the owner of that site and you agree not to hold Winkl responsible or liable for any costs or damages to you or any third party arising directly or indirectly out of the purchase/availing by you of goods and/or services from any third party website and/or mobile application.<br>

    </p>
    <h3 class="terms-heading">USER-GENERATED CONTENT</h3>
    <p class="terms-content">
      Winkl provides users with access to a discussion and Q&A forum. The Platform, therefore, contains user-generated content (“UGC”) which we do not pre-screen and which contains views that are the opinions of those users. These views do not represent Winkl’s views, opinions, beliefs, morals or values and so, whilst we will do our best to monitor, edit or remove such UGC where we consider it appropriate or necessary to do so, we cannot promise that the content in or on the Platform (or any of it) is accurate, complete or up-to-date, that it will not offend or upset or that it does not infringe the intellectual property of other third parties.<br>
      Further, some users may post content or advice, medical or otherwise, in the form of answers to the questions posed by other users on the Q&A and discussion forums on the Platform. Such content and/or advice shall be for informational purposes only and any reliance placed on such content and/or advice by the users shall solely be at their own risk. The answers and messages posted by such users are their sole creation and responsibility. We do not endorse or guarantee the completeness, truthfulness, accuracy, or reliability of any answers or messages posted by such users, nor do we endorse any opinions they express. It is further clarified that Winkl shall not be liable for any consequence arising from or in connection with such content and/or advice.The user represents and warrants that, (i) where the UGC posted by a relevant user which does not belong to such user, the user has procured the right or the necessary permission or license to use the said UGC; and, (ii) the user shall not post or publish any UGC which is in contravention of any Indian laws, that which has not been created by the user, or that which violates the rights, title and interest of another person. Further, the user agrees and acknowledges that UGC posted or published on the Platform by such user is non-confidential and that the user submits such information at their own risk.<br>
      Registration To post any comments, messages, files, photos or images on our discussion and Q&A forum, you will need to register an account with us.<br>
      To register an account with us, you will need to provide us with your name, email address and a password. You must be 18 years or older to register an account with Winkl. By registering an account with us, you represent and warrant that you are at least 18 years old, that all information you submit is true, accurate and complete and you shall comply with these Terms. You must keep your account details up-to-date at all times including through provision of a valid and working email address, and you must keep the password which you use to access your account on the Platform confidential and must not disclose it to or share it with anyone. You will be responsible for all activities that occur under your password. You may not sell or otherwise transfer your Winkl account to another person or entity.<br>
      Winkl reserves the right to refuse to offer access to or use of the Platform to any person or entity at Winkl’s sole discretion including by changing its eligibility criteria at any time.<br>
      Interaction on the Platform You understand and agree that any interactions and associated issues with other users of the Platform or third party website on the Platform including but not limited to your issues in relation to use of the Platform and your experiences is strictly between you and the other users. You shall not hold us responsible for any such interactions and associated issues.<br>
      Prohibited User-Generated Content You are solely responsible for the UGC that you post on the Platform. Please therefore choose carefully the information that you post on the Platform. You shall not host, display, upload, modify, publish, transmit, update or share any information (in any media or form), whether in the form of an article, comment, query, response or otherwise, that:<br>
      <span>
      <ol>
        <li>Violates these Terms or any applicable law for the time being in force including, but not limited to, those governing false advertising, consumer protection and safety, discrimination, terror and hate speech;<br></li>
        <li>Is grossly harmful, blasphemous, obscene, pornographic, paedophilic or harmful to minors in anyway, hateful, or racially and ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, false, malicious, inaccurate or misleading, fraudulent in nature or involving the sale of counterfeit or stolen items or items which are otherwise illegal or otherwise unlawful in any manner whatsoever;<br></li>
        <li>Links directly or indirectly, reference or describe goods or services that are prohibited under these Terms or applicable law;<br></li>
        <li>Belongs to another person and upon which you do not have any right; which infringes upon any third party’s intellectual property rights or other proprietary rights including but not limited to copyright, patent, trademark, database rights and trade secrets;<br></li>
        <li>Infringes upon any third party’s rights of privacy, personality or endorsement;<br></li>
        <li>Is defamatory, libellous, seditious, harassing, threatening, invasive of another’s privacy, impersonates or intimidates any person (including Winkl, its personnel or users), or falsely states, impersonates and/or otherwise misrepresents an affiliation with any person or entity, through for example, the use of similar email address, account names, nicknames, or the creation of false accounts, deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;<br></li>
        <li>Advertises or promotes anything including personal or commercial websites;<br>
        causes Winkl to violate any applicable law, statute, ordinance or regulation including through taking a fee for a sale you make;<br>
        </li>
        <li>Contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource or otherwise interfere with any person or entity’s use or enjoyment of the Platform; and<br></li>
        <li>Threatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign states, or public order, or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.<br></li>

      </ol>
      </span>
      </p>
      <p class="terms-content">
      This is a non-exhaustive list which should be used as a guide on what you must not post on the Platform or transmit to other users.<br>
      You agree not to hold Winkl responsible or liable for any material posted on the Platform by you or other users. If you become aware of misuse of the Platform or wish to report any grievance as a result of your access or usage of the Platform, please get in touch at contact@winkl.in. We shall, subject to the Terms set out herein and applicable laws, redress such grievance within 1 month from the date of receipt of grievance by us.<br>
      Winkl reserves the right to reject, refuse to post and/or delete any UGC for any reason whatsoever, including, but not limited to, UGC being, in the sole opinion of Winkl, in violation of these Terms or being considered to be offensive, illegal or in violation of the rights of any person or entity, or being harmful or threatening the safety of others.<br>
      Intellectual Property Rights Winkl does not claim any ownership rights in the text, files, images including photos, videos, sounds, musical works, or any UGC that you submit, display or publish on the Platform. After posting UGC on the Platform, you continue to own the rights that you may have in that UGC, subject to the limited licence set out here.<br>
      By posting any UGC on the Platform, you hereby grant to Winkl, a limited licence to use, change (including by deleting from or adding to UGC), perform, display, reproduce, and distribute such UGC on the Platform or any related applications (including mobile phone applications) or on any other media formats for the purposes of promoting Winkl. The licence you grant to Winkl is worldwide, non-exclusive, royalty-free and sub-licensable. You warrant and represent that:<br>
      </p>
      <ol>
        <li>You own or have the necessary right to submit your UGC for use on the Platform, and to grant the licence mentioned above; and<br></li>
        <li>The posting of your UGC on the Platform does not violate the rights of any third parties including privacy rights, publicity rights, copyrights, contractual rights or any other rights; and<br></li>
        <li>You agree to pay all royalties, fees, and any other monies owing to any third party as a result of the use by us or any of our users of any UGC posted by you on the Platform, and agree that once UGC is displayed on the Platform, Winkl is under no obligation to delete that content, and therefore it may continue to appear and be used indefinitely.<br></li>

      </ol>

      <p class="terms-content">
        Compliance with laws If you choose to use the Platform outside India, then you are responsible for your compliance with local laws to the extent they are applicable. You specifically agree to comply with all local laws regarding online conduct and acceptable user-generated content.<br>
      </p>

    <h3 class="terms-heading">NEWSLETTERS</h3>
    <p class="terms-content">
      By registering an account with us, you agree to receive an Winkl newsletter by email from time to time. If you do not wish to receive these newsletters you may unsubscribe from the mailing list once you have registered using the link in the emailer.<br>

    </p>
    <h3 class="terms-heading">WINKL’S INTELLECTUAL PROPERTY RIGHTS</h3>
    <p class="terms-content">
      Winkl owns rights in the name and trademark WINKL and the WINKL logo that appears on the Platform (the “Logo”). You are not permitted to, and you agree not to, use these marks in any way (including as part of any other trademark, company name or domain name), in connection with any product or service.<br>
      Winkl owns or is the authorised licensee of all intellectual property rights (including copyright) in and to the Platform including intellectual property rights in the content hosted, published, displayed, uploaded on the Platform by us (other than the UGC, subject to the license granted herein). Copyright laws and treaties throughout the world protect these works and all rights in and to them are reserved by us. No information, content or material from Winkl may be copied, reproduced, republished, uploaded, posted, transmitted or distributed in any way without Winkl’s express written permission.<br>
      The treatment of ownership of rights in UGC is set out in paragraph 4 above.<br>
      <ul>
        <li>DISPUTE RESOLUTION: If you consider there to be a dispute between you and Winkl, please contact us at contact@winkl.in. These Terms and the privacy policy available separately on the Platform shall be governed by and construed in accordance with the laws of India. You agree to submit to the exclusive jurisdiction of the courts of India to resolve any dispute arising out of the Terms or your use of the Platform. Your Use of the Platform is not permitted in any jurisdiction that does not give effect to all provisions of the Terms, including without limitation, this section.<br></li>
        <li>LIABILITY: The content on the Platform has been provided in good faith on an “as is where is” basis without any warranty as to fitness for purpose. The content may contain inaccuracies or typographical errors. Whilst Winkl endeavours to ensure that the information on the Platform is correct, no warranty, express or implied, is given as to its accuracy and Winkl does not accept any liability for error or omission or that the functions contained in content, information and materials on the Platform, including, without limitation any third party sites or services linked to the Platform will be uninterrupted or timely, or that the defects will be rectified, or that the Platform or the servers that make such content, information and materials available are free of viruses or other harmful components. In using the Platform, you agree that Winkl or any of its employees, contractors, partners, sponsors, advertisers or others, are not responsible or liable for any content or items, including but not limited to any text, information, images including photographs or graphics, audio clips, video clips, and web-links posted by you, other users, or third parties onto the Platform. You also agree that Winkl or any of their affiliates are not responsible for the content or availability of third party websites and/or mobile applications linked to or referenced on the Platform. You agree that Winkl or any of their affiliates shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with your use of or reliance on any such content or on the goods or services available on or through any such websites and/or mobile applications or any other matter relating to the Winkl. Any material downloaded or otherwise obtained through the Platform is accessed at your own risk, and you will be solely responsible for any damage or loss of data that results from such download to your computer system. Winkl cannot and will not assure you that other users are or will be complying with the foregoing rules or any other provisions of these Terms, and, as between you and Winkl, you hereby assume all risk of harm or injury resulting from any such lack of compliance by you. Nothing in this Agreement shall limit or exclude our liability for fraudulent misrepresentation, for death or personal injury resulting from our negligence or the negligence of our agents or employees or for any other liability that cannot be limited or excluded by law.<br></li>
        <li>BREACH OF THESE TERMS: Winkl shall be entitled to and reserves the right to restrict, suspend or terminate your Winkl account or deny you access to the Platform or take such other action as Winkl deems appropriate, with or without notice to you, if it determines, in its sole discretion, that you are in breach any of the Terms or that your use of the Platform is inappropriate or otherwise unacceptable, whether or not on the basis of a user or a third party report of violation of its right as a result of your use of the Platform. Upon suspension or termination of your account with us, we reserve the right to remove or delete your information that is available with us, including but not limited to your login, account information and information posted by you. The restriction, suspension or termination of your Winkl account or your access to the Platform pursuant to this section will be without prejudice to any rights which Winkl may have against you in respect of your breach of these Terms. Winkl shall be entitled to disclose your user identity and details if required or requested by the courts or other law enforcement authorities and/or agencies or in such other circumstances as Winkl in its sole discretion considers reasonably necessary or appropriate.<br></li>
        <li>INDEMNIFICATION: You agree to indemnify and hold each of Boven Technologies Private Limited, its directors, representatives, employees and contractors, harmless from any claim or demand, including reasonable solicitors fees, made by any third party due to or arising out of your use of the Platform, the breach of these Terms by you, or the infringement by you of any intellectual property or other right of any other person or entity.<br></li>
        <li>GENERAL: If any provision of these Terms is unenforceable as determined by a court of competent jurisdiction under your national law, then such provision shall be struck out. All remaining provisions shall remain in full force and effect. If we delay or fail to act in respect of any breach by you of these Terms, this will not operate as a waiver of our right to act in relation to subsequent or similar breaches by you.<br><br></li>

      </ul>
    <p class="terms-content">
        Notices: If you need to give us notice of anything, you must write to us in English at contact@winkl.in. If we need to give you notice of anything, we shall write to you at the email address you provide to us, either during the registration process or when your email address changes. Notice shall be deemed given 24 hours after an email is sent, unless the sender is notified that the email address is invalid or receives any ‘delivery failure’ notification. If you have any questions about this, please contact contact@winkl.in

      </p>

    </p>
