<div class="card detailscard">
  <div class="center center-block">
    <img src="<%=tip['tip_user']['profile_pic']%>" height="50px" width="50px" alt="Profile picture" class="img-circle" style="position:absolute;z-index:100;border: 2px solid #fff;"/>
  </div>
  <div class="container" style="width:100%;">
    <div class="row toprow">
      <p class="empty">

      </p>
    </div>

      <div class="row" style="margin-left:30px;margin-right:30px;">

          <div class="col-xs-12 zeropadding center-vertical user-name">
            <p class="zeromargin name" style="text-align:center;">
              <b><%=tip['tip_user']['full_name']%><span style="color:#bababa;"> in</span> <span class="tag">Tips</span></b>
            </p>
          </div>


      </div>
      <div class="row" style="margin:10px;">
        <% if tip['counter_views'] ==1 %>
        <p class="views" style="float:left;"><%= tip['counter_views'] %> View</p>
        <% else %>
        <p class="views" style="float:left;"><%= tip['counter_views'] %> Views</p>
        <% end %>
        <div class="side-margin-10 follow pointer" style="float:right;">
          <p class="bookmark-num count">
            <%= tip['counter_follows'] %>
          </p>
          <% if tip['tip_followed'] %>
            <img class="followed follow side-margin-5" alt="Followed icon" width="15px;" height="15px;" style="float:right;" />
          <% else %>
            <img class="notfollowed follow side-margin-5" alt="Not followed icon" width="15px;" height="15px;" style="float:right;" />
          <% end %>

        </div>
        <div class="side-margin-10 upvotes pointer" style="float:right;">
          <p class="helpful-num count">
            <%= tip['counter_upvotes'] %>
          </p>
          <% if tip['tip_upvoted'] %>
              <img class="upvoted upvote side-margin-5" alt="Upvoted icon" width="15px;" height="15px;" style="float:right;" />
          <% else %>
            <img class="unupvoted upvote side-margin-5" alt="not upvoted icon" width="15px;" height="15px;" style="float:right;" />
          <% end %>

        </div>
        <div class="side-margin-10 share-tip pointer" style="float:right;">
          <img src="/images/share.svg" alt="Share Tip" width="15px;" height="15px;" style="float:right;"/>
        </div>

      </div>



  </div>
</div>
