<a href="/content/<%= video['slug'] %>">
<div class="card" style="z-index:10;position: relative;background-color:#ffffff;margin: auto;">
  <a href="/user/<%= video['hack_user']['slug'] %> ">
  <div class="center center-block">
    <img src="<%= video['hack_user']['profile_pic'] %>" height="50px" width="50px" alt="Profile picture" class="img-circle" style="position:absolute;z-index:100;border: 2px solid #fff;"/>
  </div>
  </a>
  <div class="container" style="width:100%;">
    <a href="/content/<%= video['slug'] %>">
    <div class="row toprow">
      <p class="empty">

      </p>
    </div>

      <div class="row" style="margin-left:30px;margin-right:30px;">

          <div class="col-xs-12 zeropadding center-vertical user-name">
            <p class="zeromargin name" style="text-align:center;">
              <b><%= video['hack_user']['full_name'] %><span style="color:#bababa;"> in</span> <span class="tag"><%= @pagename %></span></b>
            </p>
          </div>


      </div>
      <div class="row side-margin-10">
        <h4 class="title"><b><%= video['title'] %></b></h4>
      </div>
      </a>
      <div class="row" style="margin:10px;">
        <% if video['counter_views'] ==1 %>
        <p class="views" style="float:left;"><%= video['counter_views'] %> View</p>
        <% else %>
        <p class="views" style="float:left;"><%= video['counter_views'] %> Views</p>
        <% end %>
        <div class="side-margin-5 follow pointer" style="float:right;">
          <p class="bookmark-num count">
            <%= video['counter_follows'] %>
          </p>
          <% if video['hack_followed'] %>
          <%= image_tag('', alt: "Followed icon", class: "followed followimage side-margin-5", size: '15x15', style: 'float:right;') %>
          <% else %>
            <img class="notfollowed followimage side-margin-5" alt="Not followed icon" width="15px;" height="15px;" style="float:right;" />
          <% end %>
        </div>
        <div class="side-margin-5 upvotes pointer" style="float:right;">
          <p class="helpful-num count">
            <%= video['counter_upvotes'] %>
          </p>
          <% if video['hack_upvoted'] %>
              <img class="upvoted upvote side-margin-5" alt="Upvoted icon" width="15px;" height="15px;" style="float:right;" />
          <% else %>
            <img class="unupvoted upvote side-margin-5" alt="not upvoted icon" width="15px;" height="15px;" style="float:right;" />
          <% end %>
        </div>
        <% if defined?(delete) %>
        <div class="side-margin-5 upvotes pointer" style="float:right;">
              <img class="delete" alt="Delete post" src="/images/delete.svg"  width="15px;" height="15px;" style="float:right;" />
        </div>
        <% end %>
        <!-- <div class="side-margin-10" style="float:right;">
          <p class="comment-num count">
            5
          </p>
          <img src="/assets/chat-normal.svg" alt="Image" width="15px;" height="15px;" style="float:right;" class="side-margin-5" onmouseover="chat_hover(this);" onmouseout="chat_unhover(this);" />
        </div> -->
      </div>



  </div>
</div>
</a>
