<div class="row videocard cardsize id" id="<%= video['id'] %>" style="margin: 0 auto;padding-top:60px;">
<a href="/content/<%= video['slug'] %>">
<div class="card imagecard">
  <% if !video['image'].nil? && !video['image'].empty? %>
    <img src="<%= video['image'] %>" alt="Post main image" style="width:100%;" class="mainimage">
  <% else %>
  <% colors = ['#a02525','#269476','#3787cc','#cc8b2a','#b9473c','#9669FE', '#23819C', '#1F88A7', '#FF9331'] %>
  <% color = colors[Random.rand(colors.length-1)] %>
  <%= image_tag('', style: "width:100%;background-color:"+color, class: "no-image", alt: "Alternate image") %>
  <div class="image-text" style="top:40%;">
    <%= hack['title'][0].upcase %>
  </div>
  <% end %>
  <img src="/images/play-button.svg" class="play-button" alt="Play button" >
</div>

<%= render(partial: 'partials/videocarddetails', locals: {video: video}) %>
</a>
</div>
