<% (0..@videos.length-1).each do |n|%>
  <div class="col-lg-4 col-sm-6 col-xs-12 side-padding-5">
  <%= render(partial: 'partials/videocard', locals: {video: @videos[n]}) %>
  </div>
  <% if (n+1)%3==0 %>
  <div class="clearfix">
  </div>
  <% end %>
<% end %>
<script type="text/javascript">
var w = window.window.innerWidth;
if(w<1170){
  $('.horizontal').addClass('hidden');
  $('.vertical').removeClass('hidden');
  $('.hint-card').addClass('hidden');
  $('.profile-stats').addClass('hidden');
  $('.share-layout').addClass('hidden');
  $('.mobile-share').removeClass('hidden');

}
else {
  $('.horizontal').removeClass('hidden');
  $('.vertical').addClass('hidden');
  $('.hint-card').removeClass('hidden');
  $('.profile-stats').removeClass('hidden');
  $('.share-layout').removeClass('hidden');
  $('.mobile-share').addClass('hidden');

}
</script>
