  <div class="col-xs-12">
    <%= render(partial: 'partials/heading', locals: {heading: 'Videos'}) %>
  </div>
  <% (1..1).each do |n|%>
  <div class="col-xs-12 col-lg-8 side-padding-5 col-lg-offset-2" style="margin-bottom:20px;">
  <%= render(partial: 'partials/hintcreatecard', locals: {topic: 'Start typing here..', link: '/create'}) %>
  </div>
  <% end %>
  <div class="video-card-layout" id="video-card-layout">
  <% (0..@videos.length-1).each do |n|%>
  <div class="col-lg-4 col-sm-6 col-xs-12 side-padding-5">
  <%= render(partial: 'partials/videocard', locals: {video: @videos[n]}) %>
  </div>
  <% if (n+1)%3==0 %>
  <div class="clearfix">
  </div>
  <% end %>
  <% end %>
</div>
<div class="col-xs-12 show-more">
  <button type="button" class="more" name="button">SHOW MORE</button>
</div>
<div class="col-xs-12 show-more-loading hidden">
  <button type="button" class="more" name="button" ><span><img src="/images/loading.gif" height="30px" width="30px" /></span></button>
</div>
<script>
$('.more').unbind().click(function(e){
  $('.show-more').addClass('hidden');
  $('.show-more-loading').removeClass('hidden');
  $.ajax({
    type: "GET",
    url: "/more_videos?offset="+$('.video-card-layout').find('.videocard').length,
    success: function(html){
      $('.show-more').removeClass('hidden');
      $('.show-more-loading').addClass('hidden');
      if (html==""){
        $('.more').remove();
      }
      else {
      $("#video-card-layout").append(html);
      $('.upvotes').slice(-9).click(function(e){
        var elementid = $(this).parents('.id').attr('id');
        var $click = $(this);
        $.ajax({
          type: "GET",
          dataType: "json",
          url: "/get_session_user",
          success: function(data){
            if (data!=null){
              $.ajax({
                type: "POST",
                data: {
                      id: elementid
                      },
                dataType: "json",
                url: "/upvote_hack",
                success: function(data){
                }
              });
              var $upvote = $click.children('.upvote');
              if($upvote.hasClass('upvoted')){
                $upvote.removeClass('upvoted');
                $upvote.addClass('unupvoted');
                var upvotenum = +$click.children('.count').text() - 1 ;
                $click.children('.count').text(upvotenum);
              }
              else {
                $upvote.removeClass('unupvoted');
                $upvote.addClass('upvoted');
                var upvotenum = +$click.children('.count').text() + 1 ;
                $click.children('.count').text(upvotenum);
              }
            }
            else {
              $('#login_popup').addClass('visible');
            }
          }
        });
      });
      $('.follow').slice(-9).click(function(e){
        var elementid = $(this).parents('.id').attr('id');
        var $click = $(this);
        $.ajax({
          type: "GET",
          dataType: "json",
          url: "/get_session_user",
          success: function(data){
            if (data!=null){

              $.ajax({
                type: "POST",
                data: {
                      id: elementid
                      },
                dataType: "json",
                url: "/follow_hack",
                success: function(data){
                }
              });
              var $follow = $click.children('.followimage');
              if($follow.hasClass('followed')){
                $follow.removeClass('followed');
                $follow.addClass('notfollowed');
                var follownum = +$click.children('.count').text() - 1 ;
                $click.children('.count').text(follownum);
              }
              else {
                $follow.removeClass('notfollowed');
                $follow.addClass('followed');
                var follownum = +$click.children('.count').text() + 1 ;
                $click.children('.count').text(follownum);
              }
            }
            else {
              $('#login_popup').addClass('visible');
            }
          }
        });
      });
    }
    }
  });
});
$('.upvotes').click(function(e){
  var elementid = $(this).parents('.id').attr('id');
  var $click = $(this);
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      if (data!=null){
        $.ajax({
          type: "POST",
          data: {
                id: elementid
                },
          dataType: "json",
          url: "/upvote_hack",
          success: function(data){
          }
        });
        var $upvote = $click.children('.upvote');
        if($upvote.hasClass('upvoted')){
          $upvote.removeClass('upvoted');
          $upvote.addClass('unupvoted');
          var upvotenum = +$click.children('.count').text() - 1 ;
          $click.children('.count').text(upvotenum);
        }
        else {
          $upvote.removeClass('unupvoted');
          $upvote.addClass('upvoted');
          var upvotenum = +$click.children('.count').text() + 1 ;
          $click.children('.count').text(upvotenum);
        }
      }
      else {
        $('#login_popup').addClass('visible');
      }
    }
  });
});
$('.follow').click(function(e){
  var elementid = $(this).parents('.id').attr('id');
  var $click = $(this);
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      if (data!=null){

        $.ajax({
          type: "POST",
          data: {
                id: elementid
                },
          dataType: "json",
          url: "/follow_hack",
          success: function(data){
          }
        });
        var $follow = $click.children('.followimage');
        if($follow.hasClass('followed')){
          $follow.removeClass('followed');
          $follow.addClass('notfollowed');
          var follownum = +$click.children('.count').text() - 1 ;
          $click.children('.count').text(follownum);
        }
        else {
          $follow.removeClass('notfollowed');
          $follow.addClass('followed');
          var follownum = +$click.children('.count').text() + 1 ;
          $click.children('.count').text(follownum);
        }
      }
      else {
        $('#login_popup').addClass('visible');
      }
    }
  });
});
</script>
