<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <% if @pagename.empty? %>
    <title>Winkl</title>
    <% else %>
    <title><%= @pagename %></title>
    <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
      <%= stylesheet_link_tag 'bootstrap-tour', media: 'all' %>
      <%= stylesheet_link_tag 'style', media: 'all' %>
      <%= stylesheet_link_tag 'styles', media: 'all' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.8.min.js"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>

      <% if defined?(@blog) && @blog['logo']!="" %>
      <link rel="shortcut icon" href="<%= @blog['logo'] %>" type="image/x-icon">
      <% else %>
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <% end %>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="376315237259-7obumn5nf7pg1a6qnc6jmkd084rfb6th">
    <% if defined?(@pagedescription) %>
    <meta name="description" content="<%= @pagedescription %>">
    <% else %>
    <meta name="description" content="Fashion Blog">
    <% end %>
    <% if defined?(@content) && defined?(@blog) %>
      <meta property="og:url" content="http://<%= @blog['subdomain'] %>.winkl.co/content/<%= @content['slug'] %>" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="<%=  @content['title'] %>" />
      <meta property="og:description" content="<%= @content['description'] %>" />
      <meta property="og:image" content="<%= @content['image'] %>" />
      <meta property="og:image:width" content="600" />
      <meta property="og:image:height" content="314" />
    <% end %>
  </head>
  <body style="background-color:#fff;">
    <% if !session['login'].nil? %>
    <nav class="navbar navbar-default fixed-navbar" id="header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          onclick="openNav()"
          style="border:0px;
          padding-bottom:0px;
          padding-top:2px;">
          <span><%= image_tag('menu.svg', alt: "side menubar", size: '25x20') %></span>
        </button>
        <div class="logolayout" style="height:50px;">
          <a href="http://winkl.in" style="margin-left:20px;"><%= image_tag('logo_horizontal.png', alt: "Winkl logo", class: "", size: "110x40") %></a>

        </div>
      </div>


      <div class="collapse navbar-collapse" id="collapsemenu">
        <ul class="topnav">
          <div class="col-sm-12 zeropadding zerocurvature" style="vertical-align:top;background-color: #fff;padding-top:10px;">
            <div>

            </div>
            <% if !session['login'].nil? %>
            <% if defined?(@create) %>
            <a href="/create">
              <div class="post button capitals" onmouseover="" style="top:0px;">
                CREATE A POST
              </div>
            </a>
            <% end %>

            <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
            <a href="/dashboard">
              <div class="dashboard-button button capitals" onmouseover="" style="top:0px;">
                Manage Blog
              </div>
              </a>
            <% else %>
            <a href="http://winkl.in/blogger">
              <div class="post button" onmouseover="" style="top:0px">
                I AM A BLOGGER
              </div>
            </a>
            <% end %>

            <% if defined?(@type) && @type=="Content" && defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id'] %>
              <a href="/edit/<%= @content['id'] %>">
                <div class="dashboard-button button capitals" onmouseover="" style="top:0px;">
                  Edit post
                </div>
              </a>
            <% end %>

            <% end %>
            <% if !session['login'].nil? %>
              <div class="user button dropdown pointer" style="top:0px;">
              <img src="<%= session['user']['profile_pic'] %>" alt="Profile picture" class="img-circle" height="30px" width="30px" />
                <div class="dropdown-content">
                  <!-- <a href="#">Drafts</a> -->

                  <!-- <a href="#">Settings</a> -->
                  <a href="/saved" target="_blank">Saved</a>
                  <a href="/create">New Post</a>
                  <a href="/drafts">Drafts</a>


                  <a href="#" onclick="signOut();">Logout</a>
                </div>
              </div>
            <% end %>



          </div>


        </ul>
      </div>
      <div id="mySidenav" class="sidenav" style="position:fixed;">
        <img src="/images/close.svg" alt="Close icon" class="closebtn" href="#" onclick="closeNav()" onmouseover="" style="cursor: pointer;"/>
        <div class="col-xs-12" style="margin-top:20px;margin-bottom:20px;">
          <div class="row">

          </div>
        </div>
        <div class="row">

        </div>

        <ul class="topnav" >
          <% if !session['login'].nil? %>
          <% if defined?(@create) %>
          <li><a href="/create" class="sidenav-list-a">CREATE A POST</a></li>

          <% end %>

          <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
          <li><a href="/dashboard" class="sidenav-list-a">Manage Blog</a></li>

          <% else %>
          <li><a href="/blogger" class="sidenav-list-a">I AM A BLOGGER</a></li>


          <% end %>

          <% if defined?(@type) && @type=="Content" && defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id'] %>
          <li><a href="/edit/<%= @content['id'] %>" class="sidenav-list-a">Edit Post</a></li>

          <% end %>

          <% end %>



          <li><hr></li>
          <% if !session['login'].nil? %>
          <li><a class="sidenav-list-a" href="/saved">Saved</a></li>
          <li><a class="sidenav-list-a" href="/logout">Logout</a></li>
          <% end %>

        </ul>

      </div>



    </nav>
  <% end %>
        <% if defined?(@blog) && !@blog.nil? %>
        <div class="container title-layout" style="width:100%;padding-bottom:20px;">
        <div class="jumbotron title-jumbotron" style="margin-top:50px;padding-top:60px;margin-bottom:0px;">
          <a href="/">
          <% if @blog['showlogo']==true %>
          <% if @blog['logosize']=='small' %>
        <%= image_tag( @blog['logo'], alt: "Blog logo", style: "max-width:200px;display:block;margin:auto;", id: "blog_logo") %>
          <% elsif @blog['logosize']=='medium' %>
        <%= image_tag( @blog['logo'], alt: "Blog logo", style: "max-width:300px;display:block;margin:auto;", id: "blog_logo") %>
          <% else %>
        <%= image_tag( @blog['logo'], alt: "Blog logo", style: "max-width:400px;display:block;margin:auto;", id: "blog_logo") %>
          <% end %>
          <% else %>
          <%= image_tag( '', alt: "Blog logo", style: "max-width:200px;display:block;margin:auto;", id: "blog_logo", class: 'hidden') %>

          <% end %>
        <% if @blog['showheading']==true %>
        <h1 style="text-align:center;margin-top:20px;font-family: Heading;color: #000;text-transform: uppercase;letter-spacing: 5px;" id="blog_name"><%= @blog['name'] %></h1>
        <% else %>
        <h1 style="text-align:center;margin-top:20px;font-family: Heading;color: #000;text-transform: uppercase;letter-spacing: 2px;" id="blog_name" class="hidden"><%= @blog['name'] %></h1>
        <% end %>
        <% if @blog['showdescription']==true %>
        <p style="text-align:center;font-size:15px;margin-top:20px;color: #aaa;text-transform: uppercase;" id="blog_description"><%= @blog['description'] %></p>
        <% else %>
        <p style="text-align:center;font-size:15px;margin-top:20px;color: #aaa;text-transform: uppercase;" id="blog_description" class="hidden"><%= @blog['description'] %></p>
        <% end %>

        <% else %>
        <div class="container title-layout" style="width:100%;padding-bottom:20px;">
        <div class="jumbotron title-jumbotron" style="margin-top:50px;padding-top:60px;margin-bottom:0px;">
        <%= image_tag( '/images/logo_horizontal.png', alt: "Blog logo", style: "max-width:200px;display:block;margin:auto;", id: "blog_logo") %>

        <h1 style="text-align:center;margin-top:20px;" id="blog_name">This is the blog name</h1>
        <p id="blog_description">This is the blog description</p>
        </a>
        <% end %>

        <!-- <% if defined?(@blog) && !@blog.nil? %>
        <ul style="list-style-type:none;">
          <div class="social">
            <% if !@blog['facebook'].nil? && !@blog['facebook'].empty? %>
            <li class="socialicons" ><a href="https://facebook.com/<%= @blog['facebook'] %>" class="social-icon" target="_blank"><%= image_tag('facebook_black.svg',size: "15x15", alt: "facebook icon", class: "icon") %></a></li>
            <% end %>
            <% if !@blog['instagram'].nil? && !@blog['instagram'].empty? %>
            <li class="socialicons" ><a href="https://www.instagram.com/<%= @blog['instagram'] %>" class="social-icon" target="_blank"><%= image_tag('instagram.svg', size: "15x15", alt: "Instagram icon", class: "icon") %></a></li>
            <% end %>
            <% if !@blog['twitter'].nil? && !@blog['twitter'].empty? %>
            <li class="socialicons" ><a href="https://twitter.com/<%= @blog['twitter'] %>" class="social-icon" target="_blank"><%= image_tag('twitter_black.svg', size: "15x15", alt: "Twitter icon", class: "icon") %></a></li>
            <% end %>
            <% if !@blog['pinterest'].nil? && !@blog['pinterest'].empty? %>
            <li class="socialicons" ><a href="https://pinterest.com/<%= @blog['pinterest'] %>" class="social-icon" target="_blank"><%= image_tag('pinterest_black.svg', size: "15x15", alt: "Pinterest icon", class: "icon") %></a></li>
            <% end %>
          </div>
        </ul>
        <% end %> -->

      </div>
    </div>
<div class="container">
  <div class="col-xs-12">
    <% if !defined?(@blog) %>
    <div class="tab-menu" >
      <ul class="nav nav-pills" style="display:table;margin:auto;">
      <li><a href="#" class="blog-tabs">Home</a></li>
      <li><a href="#" class="blog-tabs">Menu 1</a></li>
      <li><a href="#" class="blog-tabs">About</a></li>
      </ul>
    </div>

    <% elsif defined?(@blog) && !@blog['category']!=""%>
      <div class="tab-menu" style="border-top:1px solid <%= @blog['theme_color'] %>;border-bottom:5px solid <%= @blog['theme_color'] %>;">
        <ul class="nav nav-pills" style="display:table;margin:auto;">
          <% if defined?(@active) && @active== "Home" %>
          <li><a href="/" style="color:<%= @blog['theme_color'] %>" class="blog-tabs"><span style="font-family:Heading;border-bottom:2px solid <%= @blog['theme_color'] %>;padding-bottom:3px;">Home</span></a></li>
          <% else %>
          <li><a href="/" style="color:<%= @blog['theme_color'] %>" class="blog-tabs">Home</a></li>
          <% end %>
          <li class="blog-tabs" style="color:<%= @blog['theme_color'] %>;opacity:0.5;">|</li>
          <% tabs = @blog['category'].split("~"); %>
          <% (0..tabs.length-1).each do |tab| %>
            <% if defined?(@active) && @active==tabs[tab] %>
            <li><a href="/tabs/<%= tabs[tab] %>" style="color:<%= @blog['theme_color'] %>" class="blog-tabs"><span style="font-family:Heading;border-bottom:2px solid <%= @blog['theme_color'] %>;padding-bottom:3px;"><%= tabs[tab] %></span></a></li>
            <% else %>
            <li><a href="/tabs/<%= tabs[tab] %>" style="color:<%= @blog['theme_color'] %>" class="blog-tabs"><%= tabs[tab] %></a></li>
            <% end %>
            <li class="blog-tabs" style="color:<%= @blog['theme_color'] %>;opacity:0.5;">|</li>
          <% end %>
          <% if defined?(@active) && @active =="About" %>
          <li><a href="/about" style="color:<%= @blog['theme_color'] %>" class="blog-tabs"><span style="font-family:Heading;border-bottom:2px solid <%= @blog['theme_color'] %>;padding-bottom:3px;">About</span></a></li>
          <% else %>
          <li><a href="/about" style="color:<%= @blog['theme_color'] %>" class="blog-tabs">About</a></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

    <% if defined?(@type) && @type=="Content" %>
    <div id="main" style="background-color:#fff;">
      <% else %>
      <div id="main" style="background-color:#fff;">
        <% end %>

        <div class="container zeropadding">
          <div class="col-sm-12" style="margin-bottom:40px;margin-top:40px;">
            <%= yield %>
          </div>
        </div>
    </div>
      <div id="login_popup" class="modal">
        <%= render(partial: 'partials/signin') %>
      </div>

      <% if defined?(@blog) && !@blog.nil? %>
      <div class="accent" style="background-color:<%= @blog['theme_color'] %>;">
      <% else %>
      <div class="accent" style="background-color:#333;">
      <% end %>
        <ul class="accent" style="display:table;margin:auto;height:30px;">

        </ul>
      </div>
      <div class="container footer-container">
        <div class="row">
          <div class="footer col-xs-12" style="background-color:#fff;">
            <footer class="global-footer content-loaded" style="margin-top:0px;padding-top:0px;margin-bottom:0px;border:0px;">
              <div class="jumbotron" style="margin-bottom:0px;">
                <% if defined?(@blog) && !@blog.nil? %>
                <ul style="list-style-type:none;margin:0px;padding:0px;">
                  <div class="social">
                    <% if !@blog['facebook'].nil? && !@blog['facebook'].empty? %>
                    <li class="socialicons" ><a href="https://facebook.com/<%= @blog['facebook'] %>" class="social-icon footer-social" target="_blank"><%= image_tag('facebook_black.svg',size: "15x15", alt: "facebook icon", class: "icon") %></a></li>
                    <% end %>
                    <% if !@blog['instagram'].nil? && !@blog['instagram'].empty? %>
                    <li class="socialicons" ><a href="https://www.instagram.com/<%= @blog['instagram'] %>" class="social-icon footer-social" target="_blank"><%= image_tag('instagram.svg', size: "15x15", alt: "Instagram icon", class: "icon") %></a></li>
                    <% end %>
                    <% if !@blog['twitter'].nil? && !@blog['twitter'].empty? %>
                    <li class="socialicons" ><a href="https://twitter.com/<%= @blog['twitter'] %>" class="social-icon footer-social" target="_blank"><%= image_tag('twitter_black.svg', size: "15x15", alt: "Twitter icon", class: "icon") %></a></li>
                    <% end %>
                    <% if !@blog['pinterest'].nil? && !@blog['pinterest'].empty? %>
                    <li class="socialicons" ><a href="https://pinterest.com/<%= @blog['pinterest'] %>" class="social-icon footer-social" target="_blank"><%= image_tag('pinterest_black.svg', size: "15x15", alt: "Pinterest icon", class: "icon") %></a></li>
                    <% end %>
                  </div>
                 </ul>
                <% end %>
                <% if defined?(@blog) && !@blog.nil? %>
                <% if @blog['logo']!="" %>
                <%= image_tag( @blog['logo'], alt: "Blog logo", style: "max-height:50px;display:block;margin:auto;margin-top:50px;", id: "blog_logo_footer") %>
                <% else %>
                <%= image_tag( @blog['logo'], alt: "Blog logo", style: "max-height:50px;display:block;margin:auto;margin-top:50px;", id: "blog_logo_footer", class: 'hidden') %>

                <% end %>
                <p style="text-align:center;margin-top:20px;" id="blog_description_footer"><%= @blog['description'] %></p>
                <% else %>
                <%= image_tag( '/images/logo_horizontal.png', alt: "Blog logo", style: "max-height:50px;display:block;margin:auto;margin-top:50px;", id: "blog_logo_footer") %>
                <p style="text-align:center;margin-top:20px;" id="blog_description_footer">This is the blog description</p>
                <% end %>

              </div>
              <a href="http://www.winkl.co/blogger">
                <p class="powered" >POWERED BY WINKL</p>
              </a>
            </footer>
          </div>
        </div>
      </div>
  </body>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'bootstrap-tour' %>
  <%= javascript_include_tag 'script' %>
  <!-- <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
  <script type="text/javascript">
  var tour = new Tour({
    name: "tour",
    steps: [],
    container: "body",
    smartPlacement: true,
    keyboard: true,
    storage: window.localStorage,
    debug: false,
    backdrop: true,
    backdropContainer: 'body',
    backdropPadding: 0,
    redirect: true,
    orphan: false,
    duration: false,
    delay: false,
    basePath: "",

    afterGetState: function (key, value) {},
    afterSetState: function (key, value) {},
    afterRemoveState: function (key, value) {},
    onStart: function (tour) {},
    onEnd: function (tour) { window.location.href = "/"; },
    onShow: function (tour) {},
    onShown: function (tour) {},
    onHide: function (tour) {},
    onHidden: function (tour) {},
    onNext: function (tour) {},
    onPrev: function (tour) {},
    onPause: function (tour, duration) {},
    onResume: function (tour, duration) {},
    onRedirectError: function (tour) {}
  });
  tour.addStep({
  path: "",
  host: "",
  element: "#blog_name",
  placement: "top",
  smartPlacement: true,
  title: "Test",
  content: "Test",
  next: 1,
  prev: -1,
  animation: true,
  container: "body",
  backdrop: false,
  backdropContainer: 'body',
  backdropPadding: false,
  redirect: true,
  reflex: false,
  orphan: false,
  template: `<div class='popover tour'>
      <div class='arrow'></div>
      <h3 class='popover-title'></h3>
      <div class='popover-content'></div>
      <div class='popover-navigation'>
          <button class='btn btn-default' data-role='prev'>« Prev</button>
          <button class='btn btn-default' data-role='next'>Next »</button>
      </div>
      <button class='btn btn-default' data-role='end'>End tour</button>
    </div>`,
  onShow: function (tour) {},
  onShown: function (tour) {},
  onHide: function (tour) {},
  onHidden: function (tour) {},
  onNext: function (tour) {},
  onPrev: function (tour) {},
  onPause: function (tour) {},
  onResume: function (tour) {},
  onRedirectError: function (tour) {}
});
tour.addStep({
path: "",
host: "",
element: ".dashboard-button",
placement: "top",
smartPlacement: true,
title: "Test",
content: "Test",
next: 2,
prev: 0,
animation: true,
container: "body",
backdrop: false,
backdropContainer: 'body',
backdropPadding: false,
redirect: true,
reflex: false,
orphan: false,
template: `<div class='popover tour'>
    <div class='arrow'></div>
    <h3 class='popover-title'></h3>
    <div class='popover-content'></div>
    <div class='popover-navigation'>
        <button class='btn btn-default' data-role='prev'>« Prev</button>
        <span data-role='separator'>|</span>
        <button class='btn btn-default' data-role='next'>Next »</button>
    </div>
    <button class='btn btn-default' data-role='end'>End tour</button>
  </div>`,
onShow: function (tour) {},
onShown: function (tour) {},
onHide: function (tour) {},
onHidden: function (tour) {},
onNext: function (tour) {},
onPrev: function (tour) {},
onPause: function (tour) {},
onResume: function (tour) {},
onRedirectError: function (tour) {}
});
tour.addStep({
path: "",
host: "",
element: "#blog_description_footer",
placement: "top",
smartPlacement: true,
title: "Test",
content: "Test",
next: -1,
prev: 1,
animation: true,
container: "body",
backdrop: false,
backdropContainer: 'body',
backdropPadding: false,
redirect: true,
reflex: false,
orphan: false,
template: `<div class='popover tour'>
    <div class='arrow'></div>
    <h3 class='popover-title'></h3>
    <div class='popover-content'></div>
    <div class='popover-navigation'>
        <button class='btn btn-default' data-role='prev'>« Prev</button>
        <span data-role='separator'>|</span>
        <button class='btn btn-default' data-role='next'>Next »</button>
    </div>
    <button class='btn btn-default' data-role='end'>End tour</button>
  </div>`,
onShow: function (tour) {},
onShown: function (tour) {},
onHide: function (tour) {},
onHidden: function (tour) {},
onNext: function (tour) {},
onPrev: function (tour) {},
onPause: function (tour) {},
onResume: function (tour) {},
onRedirectError: function (tour) {}
});
  // Initialize the tour
  tour.init();

  // Start the tour
  tour.start();
  </script>
  <% end %> -->
</html>
