<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <% if @pagename.empty? %>
    <title>Winkl</title>
    <% else %>
    <title><%= @pagename %></title>
    <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
      <%= stylesheet_link_tag 'style', media: 'all' %>
      <%= stylesheet_link_tag 'styles', media: 'all' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.8.min.js"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>

      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="376315237259-7obumn5nf7pg1a6qnc6jmkd084rfb6th">
    <% if defined?(@pagedescription) %>
    <meta name="description" content="<%= @pagedescription %>">
    <% else %>
    <meta name="description" content="Fashion Blog">
    <% end %>
  </head>
  <body style="background-color:#fff;">
    <% if !session['login'].nil? %>
    <nav class="navbar navbar-default fixed-navbar" id="header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          onclick="openNav()"
          style="border:0px;
          padding-bottom:0px;
          padding-top:2px;">
          <span><%= image_tag('menu.svg', alt: "side menubar", size: '25x20') %></span>
        </button>
        <div class="logolayout" style="height:50px;">
          <a href="/" style="margin-left:20px;"><%= image_tag('logo_horizontal.png', alt: "Winkl logo", class: "", size: "110x40") %></a>

        </div>
      </div>


      <div class="collapse navbar-collapse" id="collapsemenu">
        <ul class="topnav">
          <div class="col-sm-12 zeropadding zerocurvature" style="vertical-align:top;background-color: #fff;padding-top:10px;">
            <div>

            </div>
            <% if !session['login'].nil? %>
            <% if defined?(@create) %>
            <a href="/create">
              <div class="post button capitals" onmouseover="" style="top:0px;">
                CREATE A POST
              </div>
            </a>
            <% end %>

            <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
            <a href="/dashboard">
              <div class="dashboard-button button capitals" onmouseover="" style="top:0px;">
                Manage Blog
              </div>
              </a>
            <% else %>
            <a href="/blogger">
              <div class="post button" onmouseover="" style="top:0px">
                I AM A BLOGGER
              </div>
            </a>
            <% end %>

            <% if defined?(@type) && @type=="Content" && defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id'] %>
              <a href="/edit/<%= @content['id'] %>">
                <div class="dashboard-button button capitals" onmouseover="" style="top:0px;">
                  Edit post
                </div>
              </a>
            <% end %>

            <% end %>
            <% if !session['login'].nil? %>
              <div class="user button dropdown pointer" style="top:0px;">
              <img src="<%= session['user']['profile_pic'] %>" alt="Profile picture" class="img-circle" height="30px" width="30px" />
                <div class="dropdown-content">
                  <!-- <a href="#">Drafts</a> -->

                  <a href="/saved" target="_blank">Saved</a>
                  <a href="/create">New Post</a>
                  <a href="/drafts">Drafts</a>


                  <a href="#" onclick="signOut();">Logout</a>
                </div>
              </div>
            <% end %>



          </div>


        </ul>
      </div>
      <div id="mySidenav" class="sidenav" style="position:fixed;">
        <img src="/images/close.svg" alt="Close icon" class="closebtn" href="#" onclick="closeNav()" onmouseover="" style="cursor: pointer;"/>
        <div class="col-xs-12" style="margin-top:20px;margin-bottom:20px;">
          <div class="row">

          </div>
        </div>
        <div class="row">

        </div>

        <ul class="topnav" >
          <% if !session['login'].nil? %>
          <% if defined?(@create) %>
          <li><a href="/create" class="sidenav-list-a">CREATE A POST</a></li>

          <% end %>

          <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
          <li><a href="/dashboard" class="sidenav-list-a">Manage Blog</a></li>

          <% else %>
          <li><a href="/blogger" class="sidenav-list-a">I AM A BLOGGER</a></li>


          <% end %>

          <% if defined?(@type) && @type=="Content" && defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id'] %>
          <li><a href="/edit/<%= @content['id'] %>" class="sidenav-list-a">Edit Post</a></li>

          <% end %>

          <% end %>



          <li><hr></li>
          <% if !session['login'].nil? %>
          <li><a class="sidenav-list-a" href="/saved">Saved</a></li>
          <li><a class="sidenav-list-a" href="/logout">Logout</a></li>
          <% end %>

        </ul>

      </div>



    </nav>
  <% end %>
        <% if defined?(@blog) && !@blog.nil? %>
        <div class="container title-layout" style="width:100%;padding-bottom:20px;">
        <div class="jumbotron title-jumbotron" style="margin-top:50px;padding-top:60px;margin-bottom:0px;">
          <% if @blog['showlogo']==true %>
          <% if @blog['logosize']=='small' %>
        <%= image_tag( @blog['logo'], alt: "Blog logo", style: "max-width:200px;display:block;margin:auto;", id: "blog_logo") %>
          <% elsif @blog['logosize']=='medium' %>
        <%= image_tag( @blog['logo'], alt: "Blog logo", style: "max-width:300px;display:block;margin:auto;", id: "blog_logo") %>
          <% else %>
        <%= image_tag( @blog['logo'], alt: "Blog logo", style: "max-width:400px;display:block;margin:auto;", id: "blog_logo") %>
          <% end %>
          <% else %>
          <%= image_tag( '', alt: "Blog logo", style: "max-width:200px;display:block;margin:auto;", id: "blog_logo", class: 'hidden') %>

          <% end %>
        <% if @blog['showheading']==true %>
        <h1 style="text-align:center;margin-top:20px;font-family: Content-regular;color: #000;text-transform: uppercase;letter-spacing: 0px;" id="blog_name"><%= @blog['name'] %></h1>
        <% else %>
        <h1 style="text-align:center;margin-top:20px;font-family: Content-regular;color: #000;text-transform: uppercase;letter-spacing: 0px;" id="blog_name" class="hidden"><%= @blog['name'] %></h1>
        <% end %>
        <% if @blog['showdescription']==true %>
        <p style="text-align:center;font-size:15px;margin-top:20px;color: #aaa;text-transform: uppercase;" id="blog_description"><%= @blog['description'] %></p>
        <% else %>
        <p style="text-align:center;font-size:15px;margin-top:20px;color: #aaa;text-transform: uppercase;" id="blog_description" class="hidden"><%= @blog['description'] %></p>
        <% end %>

        <% else %>
        <div class="container title-layout" style="width:100%;padding-bottom:20px;">
        <div class="jumbotron title-jumbotron" style="margin-top:50px;padding-top:60px;margin-bottom:0px;">
        <%= image_tag( '/images/logo_horizontal.png', alt: "Blog logo", style: "max-width:200px;display:block;margin:auto;", id: "blog_logo") %>

        <h1 style="text-align:center;margin-top:20px;" id="blog_name">This is the blog name</h1>
        <p id="blog_description">This is the blog description</p>

        <% end %>

        <!-- <% if defined?(@blog) && !@blog.nil? %>
        <ul style="list-style-type:none;">
          <div class="social">
            <% if !@blog['facebook'].nil? && !@blog['facebook'].empty? %>
            <li class="socialicons" ><a href="https://facebook.com/<%= @blog['facebook'] %>" class="social-icon" target="_blank"><%= image_tag('facebook_black.svg',size: "15x15", alt: "facebook icon", class: "icon") %></a></li>
            <% end %>
            <% if !@blog['instagram'].nil? && !@blog['instagram'].empty? %>
            <li class="socialicons" ><a href="https://www.instagram.com/<%= @blog['instagram'] %>" class="social-icon" target="_blank"><%= image_tag('instagram.svg', size: "15x15", alt: "Instagram icon", class: "icon") %></a></li>
            <% end %>
            <% if !@blog['twitter'].nil? && !@blog['twitter'].empty? %>
            <li class="socialicons" ><a href="https://twitter.com/<%= @blog['twitter'] %>" class="social-icon" target="_blank"><%= image_tag('twitter_black.svg', size: "15x15", alt: "Twitter icon", class: "icon") %></a></li>
            <% end %>
            <% if !@blog['pinterest'].nil? && !@blog['pinterest'].empty? %>
            <li class="socialicons" ><a href="https://pinterest.com/<%= @blog['pinterest'] %>" class="social-icon" target="_blank"><%= image_tag('pinterest_black.svg', size: "15x15", alt: "Pinterest icon", class: "icon") %></a></li>
            <% end %>
          </div>
        </ul>
        <% end %> -->

      </div>
    </div>
<% if !defined?(@blog) %>
<div class="tab-menu" >
  <ul class="nav nav-pills" style="display:table;margin:auto;">
  <li><a href="#" class="blog-tabs">Home</a></li>
  <li><a href="#" class="blog-tabs">Menu 1</a></li>
  <li><a href="#" class="blog-tabs">About</a></li>
  </ul>
</div>

<% elsif defined?(@blog) && !@blog['category']!=""%>
  <div class="tab-menu" style="border-top:1px solid <%= @blog['theme_color'] %>;border-bottom:1px solid <%= @blog['theme_color'] %>;">
    <div class="container">
      <div class="col-xs-10 col-xs-offset-1" style="padding:0px;">
        <ul class="nav nav-pills" style="display:table;margin:auto;float:left;">
          <% if defined?(@active) && @active== "Home" %>
          <li><a href="/" style="color:#333;" class="blog-tabs"><span style="font-family:Content-regular;font-size:14px;border-bottom:2px solid #333;padding-bottom:3px;">Home</span></a></li>
          <% else %>
          <li><a href="/" style="color:#333;font-family:Content-regular !important;font-size:14px;" class="blog-tabs">Home</a></li>
          <% end %>
          <% tabs = @blog['category'].split("~"); %>
          <% (0..tabs.length-1).each do |tab| %>
            <% if defined?(@active) && @active==tabs[tab] %>
            <li><a href="/tabs/<%= tabs[tab] %>" style="color:#333;" class="blog-tabs"><span style="font-family:Content-regular;font-size:14px;border-bottom:2px solid #333;padding-bottom:3px;"><%= tabs[tab] %></span></a></li>
            <% else %>
            <li><a href="/tabs/<%= tabs[tab] %>" style="color:#333;font-family:Content-regular !important;font-size:14px;" class="blog-tabs"><%= tabs[tab] %></a></li>
            <% end %>
          <% end %>
          <% if defined?(@active) && @active =="About" %>
          <li><a href="/about" style="color:#333;" class="blog-tabs"><span style="font-family:Content-regular;font-size:14px;border-bottom:2px solid #333;padding-bottom:3px;">About</span></a></li>
          <% else %>
          <li><a href="/about" style="color:#333;font-family:Content-regular !important;font-size:14px;" class="blog-tabs">About</a></li>
          <% end %>
        </ul>
      </div>

    </div>

  </div>
<% end %>
    <% if defined?(@type) && @type=="Content" %>
    <div id="main" style="background-color:#fff;">
      <% else %>
      <div id="main" style="background-color:#fff;">
        <% end %>

        <div class="container zeropadding">
          <div class="col-sm-12" style="margin-bottom:40px;margin-top:40px;">
            <%= yield %>
          </div>
        </div>
    </div>
      <div id="login_popup" class="modal">
        <%= render(partial: 'partials/signin') %>
      </div>

      <% if defined?(@blog) && !@blog.nil? %>
      <div class="accent" style="background-color:<%= @blog['theme_color'] %>;">
      <% else %>
      <div class="accent" style="background-color:#333;">
      <% end %>
        <ul class="accent" style="display:table;margin:auto;height:30px;">

        </ul>
      </div>
      <div class="container footer-container">
        <div class="row">
          <div class="footer col-xs-12" style="background-color:#fff;">
            <footer class="global-footer content-loaded" style="margin-top:0px;padding-top:0px;margin-bottom:0px;border:0px;">
              <div class="jumbotron" style="margin-bottom:0px;">
                <% if defined?(@blog) && !@blog.nil? %>
                <ul style="list-style-type:none;margin:0px;padding:0px;">
                  <div class="social" style="float:none;">
                    <% if !@blog['facebook'].nil? && !@blog['facebook'].empty? %>
                    <li class="socialicons" style="margin-bottom:20px;" ><a style="opacity:1;" href="https://facebook.com/<%= @blog['facebook'] %>" class="social-icon footer-social" target="_blank"><i class="fa fa-facebook" style="border: 1px solid #aaa;padding: 10px;border-radius: 30px;width: 35px;height: 35px;margin-right:10px;"></i>FACEBOOK</a></li>
                    <% end %>
                    <% if !@blog['instagram'].nil? && !@blog['instagram'].empty? %>
                    <li class="socialicons" style="margin-bottom:20px;" ><a style="opacity:1;" href="https://www.instagram.com/<%= @blog['instagram'] %>" class="social-icon footer-social" target="_blank"><i class="fa fa-instagram" style="border: 1px solid #aaa;padding: 10px;border-radius: 30px;width: 35px;height: 35px;margin-right:10px;"></i>INSTAGRAM</a></li>
                    <% end %>
                    <% if !@blog['twitter'].nil? && !@blog['twitter'].empty? %>
                    <li class="socialicons" style="margin-bottom:20px;" ><a style="opacity:1;" href="https://twitter.com/<%= @blog['twitter'] %>" class="social-icon footer-social" target="_blank"><i class="fa fa-twitter" style="border: 1px solid #aaa;padding: 10px;border-radius: 30px;width: 35px;height: 35px;margin-right:10px;"></i>TWITTER</a></li>
                    <% end %>
                    <% if !@blog['pinterest'].nil? && !@blog['pinterest'].empty? %>
                    <li class="socialicons" style="margin-bottom:20px;" ><a style="opacity:1;" href="https://pinterest.com/<%= @blog['pinterest'] %>" class="social-icon footer-social" target="_blank"><i class="fa fa-pinterest" style="border: 1px solid #aaa;padding: 10px;border-radius: 30px;width: 35px;height: 35px;margin-right:10px;"></i>PINTEREST</a></li>
                    <% end %>
                  </div>
                 </ul>
                <% end %>
                <% if defined?(@blog) && !@blog.nil? %>

                <p style="text-align:center;margin-top:20px;" id="blog_description_footer"><%= @blog['description'] %></p>
                <% else %>
                <p style="text-align:center;margin-top:20px;" id="blog_description_footer">This is the blog description</p>
                <% end %>

              </div>
              <a href="http://www.winkl.co/blogger">
                <p class="powered" >POWERED BY WINKL</p>
              </a>
            </footer>
          </div>
        </div>
      </div>
  </body>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'script' %>
</html>
