<div class="col-xs-12" style="margin-top:60px;">
  <%= render(partial: 'partials/heading', locals: {heading: "Let your creativity shine"}) %>
</div>
<!-- Create the editor container -->
<div class="col-xs-6 col-xs-offset-3 content-editor zeropadding">
  <div id="title">
    <input type="text" name="name" class="content-title zeropadding" placeholder="Title - This is what makes people click">
  </div>
</div>
<div class="col-xs-6 col-xs-offset-3 content-editor zeropadding">
  <div id="description" style="margin-top: 20px;text-align:justify;">
    <textarea type="text" name="name" class="content-description zeropadding" placeholder="A short description about this post" style="font-size:20px;margin-bottom:0px;" onkeyup="textAreaAdjust(this)"></textarea>
    <hr style="width:30%;border-top: 3px solid #000;margin-top:20px;">

  </div>
</div>
<div id="tooltip-controls">
  <button id="bold-button"><i class="fa fa-bold"></i></button>
  <button id="italic-button"><i class="fa fa-italic"></i></button>
  <button id="underline-button"><i class="fa fa-underline"></i></button>
  <button id="strike-button"><i class="fa fa-strikethrough"></i></button>
  <button id="link-button"><i class="fa fa-link"></i></button>
  <button id="blockquote-button"><i class="fa fa-quote-right"></i></button>

</div>
<div id="sidebar-controls" style="background-color:#fff;">
  <button id="show-controls"><i class="fa fa-plus"></i></button>
  <span class="controls">
    <label for="image-button" class="input-label ql-image">
      <i class="fa fa-camera" style="padding-left:5px;"></i>
      <input type="file" id="image-button">
    </label>
    <button id="video-button"><i class="fa fa-play"></i></button>
    <button id="embed-button"><i class="fa fa-search-plus"></i></button>
    <button id="caption-button"><i class="fa fa-cc"></i></i></button>
    <button id="divider-button"><i class="fa fa-minus"></i></button>
    <button id="list"><i class="fa fa-list-ul"></i></button>
    <button id="list-ordered"><i class="fa fa-list-ol"></i></button>

  </span>
</div>
<div class="col-xs-6 col-xs-offset-3 content-editor zeropadding">
  <div id="editor-container">

  </div>
</div>




<div id="post_popup" class="modal">

  <div class="modal-content">
    <h4 style="font-family:Content-regular;">Add upto 5 tags to help the search engines and your readers</h4>
    <span class="close">&times;</span>
    <div class="row">

      <div id="example3" style="padding-left:30px;padding-right:30px;"></div>
      <h4 style="font-family:Content-regular;">Publish to:</h4>
      <div class="blog_section">
      <% if defined?(@blog) && @blog['category'].length!=0 %>
        <% cat = @blog['category'].split("~") %>
        <% (0..cat.length-1).each do |c| %>
          <label class="btn"> <%= cat[c] %><input type="checkbox" value="<%= cat[c] %>" class="badgebox" name="publish_to"><span class="badge">&check;</span></label>
        <% end %>
      <% end %>
      </div>
      <button type="button" class="next" style="display:block;margin:auto;" name="button">Submit</button>

    </div>
  </div>

</div>
<div class="modal loading-modal"></div>

<div class="modal insert-link">
  <div class="modal-content">
    <h4 style="font-family:Content-regular;">Add your link text and link</h4>
    <span class="close close-link">&times;</span>
    <div class="row">

      <div class="col-xs-10 col-xs-offset-1 checkbox-tags">
        <div class="col-sm-6 col-xs-12">
          <input type="text" name="name" value="" placeholder="Link Text" id="link-text">
        </div>
        <div class="col-sm-6 col-xs-12">
          <input type="text" name="name" value="" placeholder="Link" id="fulllink">
        </div>
        <button type="button" class="create-link more" name="button">Create</button>
      </div>

    </div>
  </div>

</div>
<div class="modal insert-embed">
  <div class="modal-content">
    <h4 style="font-family:Content-regular;">Add your link</h4>
    <span class="close close-embed">&times;</span>
    <div class="row">

      <div class="col-xs-10 col-xs-offset-1 checkbox-tags">

        <div class="col-sm-12 col-xs-12">
          <input type="text" name="name" value="" placeholder="Add Link" id="embedlink">
        </div>
        <button type="button" class="create-embed more" id="#embed" name="button">Add</button>
      </div>

    </div>
  </div>

</div>

</div>

<div id="snackbar">Your post was added succesfully!</div>

<script>
var example4 = new Taggle('example3');
var container = example4.getContainer();
var input = example4.getInput();

var extrascript = [];
var postid;
var quill = new Quill('#editor-container', {
placeholder: 'Start typing..'
});
function check_signin(){

  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      console.log(data);
      if (data==null)
        {
          setTimeout( wait, 1000 );
          function wait() {
            $('#login_popup').addClass('visible');
            set_size();
          }

      }
      }
      });
}
check_signin();
var Inline = Quill.import('blots/inline');
var Block = Quill.import('blots/block');
var BlockEmbed = Quill.import('blots/block/embed');

class BoldBlot extends Inline { }
BoldBlot.blotName = 'bold';
BoldBlot.tagName = 'strong';

class ItalicBlot extends Inline { }
ItalicBlot.blotName = 'italic';
ItalicBlot.tagName = 'em';

class LinkBlot extends Inline {
  static create(url) {
    var node = super.create();
    node.setAttribute('href', url);
    node.setAttribute('target', '_blank');
    return node;
  }

  static formats(node) {
    return node.getAttribute('href');
  }
}
LinkBlot.blotName = 'link';
LinkBlot.tagName = 'a';

class BlockquoteBlot extends Block { }
BlockquoteBlot.blotName = 'blockquote';
BlockquoteBlot.tagName = 'blockquote';

class HeaderBlot extends Block {
  static formats(node) {
    return HeaderBlot.tagName.indexOf(node.tagName) + 1;
  }
}
HeaderBlot.blotName = 'header';
HeaderBlot.tagName = ['H1', 'H2'];

class DividerBlot extends BlockEmbed { }
DividerBlot.blotName = 'divider';
DividerBlot.tagName = 'hr';

class ImageBlot extends BlockEmbed {
  static create(value) {
    var node = super.create();
    node.setAttribute('alt', value.alt);
    node.setAttribute('src', value.url);
    return node;
  }

  static value(node) {
    return {
      alt: node.getAttribute('alt'),
      url: node.getAttribute('src')
    };
  }
}
ImageBlot.blotName = 'image';
ImageBlot.tagName = 'img';

class VideoBlot extends BlockEmbed {
  static create(url) {
    var node = super.create();
    node.setAttribute('src', url);
    node.setAttribute('frameborder', '0');
    node.setAttribute('allowfullscreen', true);
    return node;
  }

  static formats(node) {
    var format = {};
    if (node.hasAttribute('height')) {
      format.height = node.getAttribute('height');
    }
    if (node.hasAttribute('width')) {
      format.width = node.getAttribute('width');
    }
    return format;
  }

  static value(node) {
    return node.getAttribute('src');
  }

  format(name, value) {
    if (name === 'height' || name === 'width') {
      if (value) {
        this.domNode.setAttribute(name, value);
      } else {
        this.domNode.removeAttribute(name, value);
      }
    } else {
      super.format(name, value);
    }
  }
}
VideoBlot.blotName = 'video';
VideoBlot.tagName = 'iframe';

class TweetBlot extends BlockEmbed {
  static create(id) {
    var node = super.create();
    node.dataset.id = id;
    twttr.widgets.createTweet(id, node);
    return node;
  }

  static value(domNode) {
    return domNode.dataset.id;
  }
}
TweetBlot.blotName = 'tweet';
TweetBlot.tagName = 'div';
TweetBlot.className = 'tweet';

class ProcLink extends BlockEmbed {
    static create(value) {
        var node = super.create(value);
        // give it some margin
        node.setAttribute('style', "border:none;width: 600px;padding: 0px;position: relative;max-width: 100%;margin: auto;");
        node.setAttribute('data-proc', value.value);
        node.innerHTML = value.text;
        return node;
    }
}

ProcLink.blotName = 'proc-link';
ProcLink.className = 'proc-link';
ProcLink.tagName = 'blockquote';

class ProcLinkFb extends BlockEmbed {
  static create(value) {
      var node = super.create(value);
      // give it some margin
      node.setAttribute('style', "border:none;width: 600px;padding: 0px;position: relative;max-width: 100%;margin: 0 auto;display: block;");
      node.setAttribute('data-proc', value.value);
      node.innerHTML = value.text;
      return node;
  }
  static formats(node) {
  // We still need to report unregistered embed formats
  var format = {};
  if (node.hasAttribute('height')) {
    format.height = node.getAttribute('height');
  }
  if (node.hasAttribute('width')) {
    format.width = node.getAttribute('width');
  }
  return format;
}

static value(node) {
  return node.getAttribute('src');
}

format(name, value) {
  // Handle unregistered embed formats
  if (name === 'height' || name === 'width') {
    if (value) {
      this.domNode.setAttribute(name, value);
    } else {
      this.domNode.removeAttribute(name, value);
    }
  } else {
    super.format(name, value);
  }
}
}

ProcLinkFb.blotName = 'proc-link-fb';
ProcLinkFb.className = 'proc-link-fb';
ProcLinkFb.tagName = 'span';

class ImageCaption extends Block {
    static create(value) {
        var node = super.create(value);
        // give it some margin
        node.setAttribute('style', "background-color:#fff;color:333;font-size:12px;");
        // node.setAttribute('data-proc', value.value);
        node.innerHTML = value.text;
        return node;
    }
}

ImageCaption.blotName = 'image-caption';
ImageCaption.className = 'image-caption';
ImageCaption.tagName = 'p';


Quill.register(BoldBlot);
Quill.register(ItalicBlot);
Quill.register(LinkBlot);
Quill.register(BlockquoteBlot);
Quill.register(HeaderBlot);
Quill.register(DividerBlot);
Quill.register(ImageBlot);
Quill.register(TweetBlot);
Quill.register(VideoBlot);
Quill.register(ProcLink);
Quill.register(ProcLinkFb);
Quill.register(ImageCaption);

var quill = new Quill('#editor-container', {
  placeholder: 'You can be a wonderful influence, start typing here'
});
quill.addContainer($("#tooltip-controls").get(0));
quill.addContainer($("#sidebar-controls").get(0));
quill.on(Quill.events.EDITOR_CHANGE, function(eventType, range) {
  if (eventType !== Quill.events.SELECTION_CHANGE) return;
  if (range == null) return;
  if (range.length === 0) {
    $('#tooltip-controls').hide();
    var [block, offset] = quill.scroll.descendant(Block, range.index);
    if (block != null && block.domNode.firstChild instanceof HTMLBRElement) {
      var lineBounds = quill.getBounds(range);
      $('#sidebar-controls').removeClass('active').show().css({
        left: lineBounds.left - 50,
        top: lineBounds.top - 2
      });
    } else {
      $('#tooltip-controls, #sidebar-controls').hide();
      $('#sidebar-controls').removeClass('active');
    }
  } else {
    $('#sidebar-controls, #sidebar-controls').hide();
    $('#sidebar-controls').removeClass('active');
    var rangeBounds = quill.getBounds(range);
    $('#tooltip-controls').show().css({
      left: rangeBounds.left + rangeBounds.width/2 - $('#tooltip-controls').outerWidth()/2,
      top: rangeBounds.bottom + 10
    });
  }
});

$('#bold-button').click(function() {
  var format = quill.getFormat();
  if(format['bold']!=null && format['bold']==true)
  quill.format('bold', false);
  else {
    quill.format('bold', true);
  }
});

$('#underline-button').click(function() {
  var format = quill.getFormat();
  if(format['underline']!=null && format['underline']==true)
  quill.format('underline', false);
  else {
    quill.format('underline', true);
  }
});

$('#strike-button').click(function() {
  var format = quill.getFormat();
  if(format['strike']!=null && format['strike']==true)
  quill.format('strike', false);
  else {
    quill.format('strike', true);
  }
});

$('#italic-button').click(function() {
  var active = $(this).hasClass('active');
  var format = quill.getFormat();
  if(format['italic']!=null && format['italic']==true)
  quill.format('italic', false);
  else {
    quill.format('italic', true);
  }
});

$('#link-button').click(function() {
  var value = prompt('Enter link URL');
  quill.format('link', value);
});

$('#blockquote-button').click(function() {
  var format = quill.getFormat();
  if(format['blockquote']!=null && format['blockquote']==true)
  quill.format('blockquote', false);
  else {
    quill.format('blockquote', true);
  }

});

$('#header-1-button').click(function() {
  quill.format('header', 1);
});

$('#header-2-button').click(function() {
  quill.format('header', 2);
});

$('#list').click(function() {
  quill.format('list', true);
  $('#sidebar-controls').hide();
});

$('#list-ordered').click(function() {
  quill.format('list', 'ordered');
  $('#sidebar-controls').hide();
});

$('#divider-button').click(function() {
  var range = quill.getSelection(true);
  quill.insertEmbed(range.index, 'divider', true, Quill.sources.USER);
  quill.setSelection(range.index + 1, Quill.sources.SILENT);
  $('#sidebar-controls').hide();
});

$('#image-button').click(function() {

  $("input:file").unbind().change(function (){
    if ( ! window.FileReader ) {
   return alert( 'FileReader API is not supported by your browser.' );
 }
 var $i = $( '#image-button' ), // Put file input ID here
   input = $i[0]; // Getting the element from jQuery
 if ( input.files && input.files[0] ) {
   file = input.files[0]; // The file
   fr = new FileReader(); // FileReader instance
   fr.onload = function () {
     // Do stuff on onload, use fr.result for contents of file
     quill.insertEmbed(quill.getSelection(true).index, 'image', {
       alt: 'content image',
       url: fr.result
     }, Quill.sources.USER);
     quill.setSelection(quill.getSelection(true).index + 1, Quill.sources.SILENT);
     var index = quill.getSelection(true).index;
     var cObj = {text : "Enter image caption..", value : 'value'};
     quill.insertEmbed(index,"image-caption",cObj);

     $('#sidebar-controls').hide();
   };
   //fr.readAsText( file );
   fr.readAsDataURL( file );
 } else {
   // Handle errors here
   alert( "File not selected or browser incompatible." )
 }
  });

});

$('#caption-button').click(function(){
  var index = quill.getSelection(true).index;
  var cObj = {text : "Enter image caption..", value : 'value'};
  quill.insertEmbed(index,"image-caption",cObj);
});

$('#video-button').click(function() {
  var range = quill.getSelection(true);
  $('#embedlink').val('');
  $('.insert-embed').addClass('visible');
  $('.close-embed').click(function(e){
    $('.insert-embed').removeClass('visible');
  });
  $('.create-embed').unbind().click(function(e){
    $('.insert-embed').removeClass('visible');
  var videourl = $('#embedlink').val();
  quill.insertText(range.index, '\n', Quill.sources.USER);
  var videoid = youtube_parser(videourl);
  if(videoid != null) {
    var url = 'https://www.youtube.com/embed/'+videoid+'?showinfo=0';
    quill.insertEmbed(range.index, 'video', url, Quill.sources.USER);
    quill.formatText(range.index , 1, { height: '500', width: $('#editor-container').width() });
    quill.setSelection(range.index + 1, Quill.sources.SILENT);
  }
  function youtube_parser(url){
  var regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
  var match = url.match(regExp);
  return (match&&match[7].length==11)? match[7] : false;
  }
  });
  $('#sidebar-controls').hide();
});
$('#show-controls').click(function() {
  $('#sidebar-controls').toggleClass('active');
  quill.focus();
});
$('#embed-button').click(function(e){
  var range = quill.getSelection(true);
  $('#embedlink').val('');
  $('.insert-embed').addClass('visible');
  $('.close-embed').click(function(e){
    $('.insert-embed').removeClass('visible');
  });
  $('.create-embed').unbind().click(function(e){
    $('.insert-embed').removeClass('visible');
  var embedcode = $('#embedlink').val();
  var block = embedcode.match(/<\s*blockquote[^>]*>(.*?)<\s*\/\s*blockquote>/g);
  var script = embedcode.match(/<\s*script[^>]*>(.*?)<\s*\/\s*script>/g);
  var iframe = embedcode.match(/<\s*iframe[^>]*>(.*?)<\s*\/\s*iframe>/g);
  console.log(iframe);

  var index = quill.getSelection(true).index;
  if(block == null && iframe !=null){
    var src = embedcode.match(/src\s*=\s*"(.+?)"/g)[0].split('"')[1];
    var height = embedcode.match(/height\s*=\s*"(.+?)"/g)[0].split('"')[1];
    var width = embedcode.match(/width\s*=\s*"(.+?)"/g)[0].split('"')[1];
    var cObj = {text : embedcode, value : 'value'};
    quill.insertEmbed(index,"proc-link-fb",cObj)
    // quill.insertEmbed(range.index + 1, 'proc-link', src, Quill.sources.USER);
    quill.formatText(range.index + 1, 1, { height: height, width: width });
    quill.insertText(quill.getSelection(true).index,'\n')
  }
  else {
    var cObj = {text : block[0], value : 'value'};
    quill.insertEmbed(index,"proc-link",cObj)
    quill.setSelection(index + 2, Quill.sources.SILENT);
    quill.insertText(quill.getSelection(true).index,'\n')
    extrascript.push(script[0].match(/src="([^"]+)"/g)[0].split('"')[1]);
  }
  });
});

  var images = {};
  var up = 0;
  var done = 0;
  quill.on('text-change', function(delta, oldDelta, source) {
  if (source == 'api') {

  } else if (source == 'user') {

    var info = delta['ops'];
    for (i=0;i<info.length;i++){
      if(info[i].hasOwnProperty("insert"))
      {
        if(info[i]['insert'].hasOwnProperty("image"))
        {
          // var index = quill.getSelection(true).index;
          // var cObj = {text : "Enter image caption..", value : 'value'};
          // quill.insertEmbed(index,"image-caption",cObj);
          items = quill.container.firstChild.innerHTML.match(/src="(data:image\/[^;]+;base64[^"]+)"/g);
          var item;
          if(items!=null){

            item = items[items.length-1];
            up+=1;
            $('#proceed-create').addClass('hidden');
            $('#loading').removeClass('hidden');
            $.ajax({
              type: "POST",
              data: {
                    title: $('.content-title').val(),
                    data: item
                },
              dataType: "json",
              url: "/single_upload",
              success: function(data){
                done+=1;
                if(up==done){
                  $('#proceed-create').removeClass('hidden');
                  $('#loading').addClass('hidden');
                }
                replace = data['data'].split('"')[1];
                images [replace] = data['url'];
              }
            });
          }
        }

      }
    }


  }
  });

$('.content-title').focus();
$('.next').click(function(e){
  $body = $("body");
  $body.addClass("loading");

  var category = [];

  $("input[class=badgebox]:checked").each(function () {
         category.push($(this).val());
  });
  // var typecontent = checked.join(',');
  var typecontent = example4.getTagValues().join(',');
  var contentcategory = category.join('~');
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      if (data!=null){
        $('.image-caption').each(function(){
        	if($(this).text()=="Enter image caption.."){
        		$(this).remove();
            }
        });
        var stuff = quill.container.firstChild.innerHTML;
        for (var key in images){
          stuff = stuff.replace(key,images[key]);
        }
        $.ajax({
              type: "POST",
              data: {
                    title: $('.content-title').val(),
                    hack: stuff,
                    description: $('.content-description').val(),
                    type: typecontent,
                    extrascript: extrascript.join(),
                    category: contentcategory
                },
              dataType: "json",
              url: "/create_post",
              success: function(data){
                $body.removeClass("loading");
                if (postid!=null){
                $.ajax({
                      type: "POST",
                      data: {
                            id: postid
                        },
                      dataType: "json",
                      url: "/delete_draft",
                      success: function(data){

                      }
                    });
                  }
                myFunction();

                // $('.login').addClass('hidden');
              }
            });

      }
      else {
        $('#login_popup').addClass('visible');
        set_size();
      }
    }
    });

});

$('#post-save').click(function(e){
save();


});

function save(){
  $('#post-save').text("Saving..");
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      if (data!=null){
        var stuff = quill.container.firstChild.innerHTML;
        for (var key in images){
          stuff = stuff.replace(key,images[key]);
        }
        if(postid==null){
        $.ajax({
              type: "POST",
              data: {
                    title: $('.content-title').val(),
                    hack: stuff,
                    description: $('.content-description').val(),
                    extrascript: extrascript.join()
                },
              dataType: "json",
              url: "/save_post",
              success: function(data){
                postid = data['id'];
                $('#post-save').text("Saved");
              }
            });
          }
          else{
            $.ajax({
                  type: "POST",
                  data: {
                        id: postid,
                        title: $('.content-title').val(),
                        hack: stuff,
                        description: $('.content-description').val(),
                        extrascript: extrascript.join()
                    },
                  dataType: "json",
                  url: "/save_post",
                  success: function(data){
                    postid = data['id'];
                    $('#post-save').text("Saved");
                  }
                });
          }
      }
      else {
        $('#login_popup').addClass('visible');
        set_size();
      }
    }
    });
};

var modal = document.getElementById('post_popup');
var btn = document.getElementById("proceed-create");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  $('#post_popup').addClass('visible');

}
span.onclick = function() {
  $('#post_popup').removeClass('visible');

}
window.onclick = function(event) {
    if (event.target == modal) {
      $('#post_popup').removeClass('visible');
    }
}

function escape(s) {
  return s.replace('</', '<\\/');
}

function myFunction() {
  // Get the snackbar DIV
  $('#post_popup').removeClass('visible');
  $body.removeClass("loading");
  var x = document.getElementById("snackbar")

  // Add the "show" class to DIV
  x.className = "show";

  setTimeout(function(){ x.className = x.className.replace("show", "");
  window.location.href = '/';
}, 2000);
}
document.onkeypress=throttle(function(e){
  save();
});
function throttle(f, delay){
    var timer = null;
    return function(){
        var context = this, args = arguments;
        clearTimeout(timer);
        timer = window.setTimeout(function(){
            f.apply(context, args);
        },
        delay || 2000);
    };
}
</script>
