<div class="col-xs-12" style="margin-top:60px;">
  <%= render(partial: 'partials/heading', locals: {heading: 'Submit a post'}) %>
</div>
<div class="col-sm-12" style="background-color:#fff;">
  <div class="form-group">
    <label class="control-label col-sm-2 submitpost-element" for="name">Title:</label>
    <div class="col-sm-10">
      <input type="text" class="title-text submitpost-fields" id="question" placeholder="Enter title here..">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 submitpost-element" for="name">Summary:</label>
    <div class="col-sm-10">
      <textarea type="text" class="summary-text submitpost-fields" id="details" placeholder="Add details here.." style="line-height:30px;" onkeyup="textAreaAdjust(this)"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 submitpost-element" for="name">Url:</label>
    <div class="col-sm-10">
      <input type="text" class="url-text submitpost-fields" id="details" placeholder="Add url here..">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2 submitpost-element" for="name">Image:</label>
    <div class="col-sm-10">
      <input type="test" class="url-text submitpost-fields" id="imageurl" placeholder="Add image url..">
    </div>
  </div>

  <div id="post_popup" class="modal">

    <div class="modal-content">
      <h4>SELECT ATLEAST 2 TAGS</h4>
      <span class="close">&times;</span>
      <div class="row">
        <!-- <input type="text" class="form-control" id="tokenfield" value="red,green,blue" /> -->

        <div class="col-xs-10 col-xs-offset-1 checkbox-tags">
            <div class="row">
              <label class="checkbox-label"><input type="checkbox" checked value="fashion" /> Fashion</label>
              <label class="checkbox-label"><input type="checkbox" value="beauty" /> Beauty</label>
              <label class="checkbox-label"><input type="checkbox" value="nift" /> NIFT</label>
            </div>
              <hr>
            <div class="row">
              <label class="checkbox-label"><input type="checkbox" checked value="diy" /> DIYs & Tutorials</label>
              <label class="checkbox-label"><input type="checkbox" value="entertainment" /> Entertainment</label>
              <label class="checkbox-label"><input type="checkbox" value="shopping" /> Shopping</label>
              <label class="checkbox-label"><input type="checkbox" value="inspiration" /> Inspiration</label>
            </div>
              <hr>
            <label class="checkbox-label"><input type="checkbox" value="video" /> Video</label>
        </div>
        <button type="button" class="post-create" name="button">Submit</button>


      </div>
    </div>

  </div>

  </div>
<script>


function check_signin(){

  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      console.log(data);
      if (data==null)
        {
          setTimeout( wait, 1000 );
          function wait() {
            $('#login_popup').addClass('visible');
            set_size();
          }

      }
      }
      });
}
check_signin();
var modal = document.getElementById('post_popup');
var btn = document.getElementById("proceed-create");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
  $('#post_popup').addClass('visible');

}
span.onclick = function() {
  $('#post_popup').removeClass('visible');

}
window.onclick = function(event) {
    if (event.target == modal) {
      $('#post_popup').removeClass('visible');

    }
}
$('.post-create').click(function(e){
  var checked = []
  $("input[type='checkbox']:checked").each(function () {
         checked.push($(this).val())
  });
  var typecontent = checked.join(',');
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      if (data!=null){
    $.ajax({
      type: "POST",
      data: {
            title: $('.title-text').val(),
            hack: $('.summary-text').val(),
            url: $('.url-text').val(),
            image: $('#imageurl').val(),
            type: typecontent,
        },
      dataType: "json",
      url: "/create_submit_post",
      success: function(data){
        window.location.href = "/hack";
      }
    });
  }
  else {
    alert('signin');
  }
}
});
});
</script>
