<% (1..2).each do |a| %>
  <div class="col-xs-12">
    <%= render(partial: 'partials/heading', locals: {heading: 'Product Hunt'}) %>
  </div>
  <% (1..4).each do |n|%>
  <div class="col-lg-3 col-sm-6 col-xs-12 side-padding-5">
  <%= render(partial: 'partials/hackcard') %>
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"></div>
  <% end %>
  <%= render(partial: 'partials/space') %>
  <% (1..3).each do |n|%>
  <div class="col-lg-4 col-sm-6 col-xs-12 side-padding-5">
  <%= render(partial: 'partials/hackcard') %>
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"></div>
  <% end %>
  <% (1..1).each do |n|%>
  <div class="col-xs-12 side-padding-5" style="padding-bottom:50px;">
    <%= render(partial: 'partials/hackcardhorizontal') %>
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"></div>
  <% end %>
<% end %>
