<div class="col-lg-10 col-lg-offset-1 hack" style="margin-top:20px;margin-bottom:20px;background-color:#fff;padding:0px;">
  <% if defined?(hack) %>
  <div class="col-lg-6" style="padding:0px;">
    <% if !hack['image'].nil? && !hack['image'].empty? %>
    <a href="/content/<%= hack['slug'] %>">
    <img class="list-img" src="<%= hack['image'] %>" alt="Post image" width="100%" style="background-color:#f1f1f1;object-fit:cover;min-height:300px">
    </a>
    <% else %>
    <% colors = ['#a02525','#269476','#3787cc','#cc8b2a','#b9473c','#9669FE', '#23819C', '#1F88A7', '#FF9331'] %>
    <% color = colors[Random.rand(colors.length-1)] %>
    <a href="/content/<%= hack['slug'] %>">
    <img class="chic-list-img-blank" src="" alt="" height="300px" width="100%" style="background-color:<%=color%>;object-fit:cover;">
    </a>
    <div class="image-text" style="top:35%;">
      <%= hack['title'][0].upcase %>
    </div>
    <% end %>
    <% else %>
    <img class="chic-list-img-blank" src="" alt="" height="300px" width="100%" style="background-color:#f1f1f1;object-fit:cover;">
    <% end %>
  </div>

  <div class="col-lg-6">
    <div class="blog-details">
    <div class="row">

      <div class="col-xs-12 zeropadding">
        <% if defined?(hack) %>
        <% tags = hack['posttype'].split(",") %>
          <% (0..tags.length-2).each do |n| %>
          <span class="chic-blog-tags"><%= tags[n] %><i class="fa fa-star-o" style="font-size:10px;margin-left:5px;margin-right:5px;vertical-align:baseline;" aria-hidden="true"></i></span>
          <% end %>
          <span class="chic-blog-tags"><%= tags[tags.length-1] %></span>

        <% end %>
      </div>
    </div>
    <% if defined?(hack) %>
    <a href="/content/<%= hack['slug'] %>">
    <h1 class="blog-list-title" style="font-family:Content-regular;"><%= hack['title']%></h1>
    </a>
    <% else %>
    <div class="illustration-text" style="margin:10px;margin-top:20px;">

    </div>
    <% end %>
    <p class="date"><%= hack['created_at'] %></p>
    <div class="col-xs-12" style="padding:0px;">
      <hr style="width:30%;float:left;">

    </div>
    <% if defined?(hack) %>
    <a href="/content/<%= hack['slug'] %>">
    <p class="blog-list-description"><%= hack['description'] %></h4>
    </a>
    <% else %>
    <div class="illustration-text" style="width:90%;margin-left:10px;margin-right:20px;" >

    </div>
    <% end %>
    <br>

    </div>
  </div>

</div>
