<div class="container">
  <% if @blog['bio']!="" %>
  <div class="col-lg-6 col-lg-offset-3 col-xs-offset-1 content-editor zeropadding" style="background-color:transparent;margin-bottom:-100px;">
    <div id="editor-container">

    </div>

  </div>
  <% end %>

<% if @blog['facebook']!="" || @blog['instagram']!="" || @blog['twitter']!="" || @blog['pinterest']!=""  %>
  <div class="col-xs-12" style="margin-top:20px;">
    <%= render(partial: 'partials/heading', locals: {heading: "Follow me on"}) %>
    <div class="social" style="text-align:center;float:none;">
      <% if @blog['facebook']!="" %>
      <li class="socialicons" style="float:none;" ><a href="https://facebook.com/<%= @blog['facebook'] %>" class="social-icon" style="float:none;" target="_blank"><%= image_tag('facebook_black.svg',size: "15x15", alt: "facebook icon", class: "icon", style: "display:initial;") %></a></li>
      <% end %>
      <% if @blog['instagram']!="" %>
      <li class="socialicons" style="float:none;" ><a href="https://www.instagram.com/<%= @blog['instagram'] %>" class="social-icon" style="float:none;" target="_blank"><%= image_tag('instagram.svg', size: "15x15", alt: "Instagram icon", class: "icon", style: "display:initial;") %></a></li>
      <% end %>
      <% if @blog['twitter']!="" %>
      <li class="socialicons" style="float:none;" ><a href="https://twitter.com/<%= @blog['twitter'] %>" class="social-icon" style="float:none;" target="_blank"><%= image_tag('twitter_black.svg', size: "15x15", alt: "Twitter icon", class: "icon", style: "display:initial;") %></a></li>
      <% end %>
      <% if @blog['pinterest']!="" %>
      <li class="socialicons" style="float:none;" ><a href="https://pinterest.com/<%= @blog['pinterest'] %>" class="social-icon" style="float:none;" target="_blank"><%= image_tag('pinterest_black.svg', size: "15x15", alt: "Pinterest icon", class: "icon", style: "display:initial;") %></a></li>
      <% end %>
    </div>
  </div>
<% end %>

<% if @blog['phone']!="" || @blog['email']!=""  %>

  <div class="col-xs-12" style="margin-top:20px;">
    <%= render(partial: 'partials/heading', locals: {heading: "Contact me on"}) %>
    <div class="social" style="text-align:center;float:none;">
      <% if @blog['phone']!="" %>
      <li class="socialicons" style="float:none;" ><a href="tel:<%= @blog['phone'] %>" class="social-icon" style="float:none;" target="_blank"><i class="fa fa-phone" style="margin-right:20px;" aria-hidden="true"></i><%= @blog['phone'] %></a></li>
      <% end %>
      <% if @blog['email']!="" %>
      <li class="socialicons" style="float:none;" ><a href="mailto:<%= @blog['email'] %>" class="social-icon" style="float:none;" target="_blank"><i class="fa fa-envelope" style="margin-right:20px;" aria-hidden="true"></i><%= @blog['email'] %></a></li>
      <% end %>
    </div>
  </div>
<% end %>
</div>
<script type="text/javascript">
var quill = new Quill('#editor-container', {

});
quill.enable(false);
quill.container.firstChild.innerHTML = `<%= (@blog['bio'].html_safe) %>`;

</script>
