<% (0..@userhacks.length-1).each do |n|%>
<div class="col-lg-4 col-xs-12 side-padding-5">
<%= render(partial: 'partials/hackcard', locals: {hack: @userhacks[n], delete: true}) %>
</div>
<div class="clearfix visible-xs-block"></div>
<% if (n+1)%3 == 0 %>
<div class="clearfix visible-lg-block"></div>
<% end %>
<% end %>
<script type="text/javascript">
$('.delete').click(function(e){
  var item = this;
  var result = confirm("Want to delete?");
if (result) {
  $.ajax({
    type: "POST",
    data: {
          id: $(item).parents('.id').attr('id')
          },
    dataType: "json",
    url: "/delete_post",
    success: function(data){
      window.location.reload();
    }
  });
}


});
</script>
