<div class="container" style="margin-top:100px;">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 style="font-family:Heading;text-align:center;text-transform:uppercase">Export your wordpress blog to Winkl.</h1>
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">1. Go to your wordpress dashboard and select the "Tools" option</p>
    <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/wordpress_export/1.jpg" style="width:100%;height:auto;margin-bottom:50px;" alt="Wordpress Export">
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">2. From Tools select the "Export" option</p>
    <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/wordpress_export/2.jpg" style="width:100%;height:auto;margin-bottom:50px;" alt="Wordpress Export">
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">3. Click on "Start Export"</p>
    <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/wordpress_export/3.jpg" style="width:100%;height:auto;margin-bottom:50px;" alt="Wordpress Export">
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">4. Select "All content"</p>
    <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/wordpress_export/4.jpg" style="width:100%;height:auto;margin-bottom:50px;" alt="Wordpress Export">
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">5. Click "Download export file" and wait for the option to save the file. It might take a few seconds.</p>
    <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/wordpress_export/5.jpg" style="width:100%;height:auto;margin-bottom:50px;" alt="Wordpress Export">
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">6. One you have the file saved on your computer, go to the dashboard of your blog and click on "Import your wordpress blog".</p>
    <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/wordpress_export/6.jpg" style="width:100%;height:auto;margin-bottom:50px;" alt="Wordpress Export">
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">7. Click on the upload button to add your file</p>
    <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/wordpress_export/7.jpg" style="width:100%;height:auto;margin-bottom:50px;" alt="Wordpress Export">
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">8. Select the file you downloaded from wordpress</p>
    <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/wordpress_export/8.jpg" style="width:100%;height:auto;margin-bottom:50px;" alt="Wordpress Export">
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">9. Click on start import. The import might take a few seconds after which the page will redirect you to your blog.</p>
    <img src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/wordpress_export/9.jpg" style="width:100%;height:auto;margin-bottom:50px;" alt="Wordpress Export">
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">10. And you are done! Your blog is exported to Winkl.</p>
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">Your blogs on Winkl are formatted in such a way that they look beautiful for the theme you selected. Since you have exported your wordpress blog, you might have to format a couple of posts to make them look good. This is <b style="font-family:Content-bold">not compulsory</b>, but will help make your content look good.</p>
    <p style="font-family:Content-regular;margin-top:30px;font-size:20px;margin-bottom:30px;line-height:25px;color:#575757">Incase you have any issues while exporting your content, you can contact us directly and we will help you export your content. You can contact us from <a href="/help" style="color:blue;text-decoration:underline" target="_blank">here.</a></p>

  </div>
</div>
