<div style="padding-top:60px;">
  <div class="" style="width:100%;display:table;height:450px;background: url('https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/contact_banner.jpg') no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;z-index:-100;">
    <div class="row header text-center" style="display:table-cell;vertical-align: middle;">
      <div class="col-xs-12">
        <h1 class="blog-heading-title">We are here to help</h1>
        <p class="blog-heading-desc">For any help regarding errors, suggesions, technical support please contact us :)</p>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render(partial: 'partials/heading', locals: {heading: 'Contact Us'}) %>
    </div>
    <div class="col-lg-6">
      <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/people/rahul.png" alt="Rahul's profile picture" style="display:block;margin:auto;" height="200px" width="200px" />
      <h3 style="text-align:center;">Thakur Rahul Singh</h3>
      <div class="col-xs-12" style="text-align:center;">
        <span>Phone no:  </span><a href="tel:8904783190" style="text-decoration:underline;">8904783190</a>
      </div>
      <div class="col-xs-12" style="text-align:center;">
        <span>Email Id:  </span><a href="mailto:rahul@winkl.in" style="text-decoration:underline;">rahul@winkl.in</a>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/people/nikhil.png" alt="Nikhil's profile picture" style="display:block;margin:auto;" height="200px" width="200px" />
      <h3 style="text-align:center;">Nikhil Kumar</h3>
      <div class="col-xs-12" style="text-align:center;">
        <span>Phone no:  </span><a href="tel:9008984092" style="text-decoration:underline;">9008984092</a>
      </div>
      <div class="col-xs-12" style="text-align:center;">
        <span>Email Id:  </span><a href="mailto:nikhil4092@gmail.com" style="text-decoration:underline;">nikhil4092@gmail.com</a>
      </div>
    </div>

  </div>

</div>
