<h1 style="text-align:center;margin-bottom:40px;margin-top:80px;">New blog</h1>

<div class="blog-options">
<div class="col-sm-12">
<div class="input_box">
  <div class="row">
    <div class="col-lg-3 col-xs-12 Title-name">
      Name*
    </div>
    <div class="col-lg-9 col-xs-12">
      <input type="text" id="title" name="name" value="" placeholder="Give a name to your blog" required>
      <p class="hint-text">Ex: The Winkl Blog</p>
    </div>
  </div>
</div>
</div>
<div class="col-sm-12">
<div class="input_box">
  <div class="row">
    <div class="col-lg-3 col-xs-12 Title-name">
      Description*
    </div>
    <div class="col-lg-9 col-xs-12">
      <input type="text" id="description" name="name" value="" placeholder="What is your blog about?">
      <p class="hint-text">Keep it short :)</p>
    </div>
  </div>

</div>
</div>
<div class="col-sm-12">
<div class="input_box">
  <div class="row">
    <div class="col-lg-3 col-xs-12 Title-name">
      Logo
    </div>
    <div class="image-upload col-lg-9 col-xs-12">
    <label for="logo">
      <div class="row">
        <div class="col-sm-6 col-xs-12 zeromargin zeropadding">
          <p class="hint-text">Add logo</p>
          <p class="hint-text">This is the logo for your blog. For it to look great, it should have a transparent background & it should be atleast 200px in width.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
          <img id="logo-holder" src="/images/user.jpg" height="100px" style="cursor:pointer;object-fit: cover;"/>
        </div>
      </div>

    </label>
    <input style="font-size:15px;border:none;padding-top:10px;" type="file" id="logo">

    </div>
  </div>

</div>
</div>

<div class="col-sm-12">
<div class="input_box">
  <div class="row">
    <div class="col-lg-3 col-xs-12 Title-name">
      Subdomain*
    </div>
    <div class="col-lg-9 col-xs-12">
      <input type="text" id="subdomain" name="name" value="" class="autoexpand" placeholder="Domain" onkeyup="textAreaAdjustHorizontal(this)">
      <span class="input_text">.winkl.co</span><i style="margin-left:20px;" class="fa fa-circle-o-notch fa-spin fa-1x fa-fw hidden loading"></i> <span style="color:green;margin-left:20px;" class="available hidden"><i class="fa fa-check" aria-hidden="true"></i> Available</span><span style="color:#ff4747;margin-left:20px;" class="unavailable hidden"><i class="fa fa-times" aria-hidden="true"></i> Unavailable</span>
      <p class="hint-text">Ex: yourblog.winkl.co</p>
    </div>
  </div>

</div>
</div>

<div class="col-sm-12">
<div class="input_box">
  <div class="row">
    <div class="col-lg-3 col-xs-12 Title-name">
      Social
    </div>
    <div class="col-lg-9 col-xs-12">
      <i class="fa fa-facebook-square" aria-hidden="true"></i><span style="font-size:20px;margin-left:10px;">facebook.com/</span><input type="text" class="autoexpand_big" id="facebook" name="name" value="" placeholder="username">
      <br><i class="fa fa-instagram" aria-hidden="true"></i><span style="font-size:20px;margin-left:10px;">instagram.com/</span><input type="text" class="autoexpand_big" id="instagram" name="name" value="" placeholder="username">
      <br><i class="fa fa-twitter-square" aria-hidden="true"></i><span style="font-size:20px;margin-left:10px;">twitter.com/</span><input type="text" class="autoexpand_big" id="twitter" name="name" value="" placeholder="username">
      <br><i class="fa fa-pinterest-square" aria-hidden="true"></i><span style="font-size:20px;margin-left:10px;">pinterest.com/</span><input type="text" class="autoexpand_big" id="pinterest" name="name" value="" placeholder="username">
    </div>
  </div>

</div>
</div>

</div>


<div class="theme-options hidden">
  <div class="col-sm-6">
  <div class="input_box">
    <div class="row">
      <div class="col-lg-6 col-xs-12 Title-name">
        Display Blog Title
      </div>
      <div class="col-lg-6 col-xs-12">

        <form id="showheading">
        <input type="checkbox" style="display:inline;width:auto;margin-right:10px;" name="heading" value="Show" checked>  Show<br>
          </form>
        </div>

    </div>
  </div>
  </div>
  <div class="col-sm-6">
  <div class="input_box">
    <div class="row">
      <div class="col-lg-6 col-xs-12 Title-name">
        Display Description
      </div>
      <div class="col-lg-6 col-xs-12">

        <form id="showdescription">
        <input type="checkbox" style="display:inline;width:auto;margin-right:10px;" name="description" value="Show" checked>  Show<br>
          </form>
        </div>

    </div>
  </div>
  </div>
  <div class="col-sm-6">
  <div class="input_box">
    <div class="row">
      <div class="col-lg-6 col-xs-12 Title-name">
        Display logo
      </div>
      <div class="col-lg-6 col-xs-12">

        <form id="showlogo">
        <input type="checkbox" style="display:inline;width:auto;margin-right:10px;" name="showlogo" value="Show" checked>  Show<br>
          </form>
        </div>

    </div>
  </div>
  </div>
  <div class="col-sm-6">
  <div class="input_box">
    <div class="row">
      <div class="col-lg-6 col-xs-12 Title-name">
         Logo size
      </div>
      <div class="col-lg-6 col-xs-12">

        <form id="logo-size">
          <input type="radio" style="display:inline;width:auto;margin-right:10px;" name="logo-size" value="small" checked>  Small<br>
          <input type="radio" style="display:inline;width:auto;margin-right:10px;" name="logo-size" value="medium">  Medium<br>
        <input type="radio" style="display:inline;width:auto;margin-right:10px;" name="logo-size" value="large">  Large<br>
          </form>
        </div>

    </div>
  </div>
  </div>
  <div class="col-sm-12">
  <div class="input_box">
    <div class="row">
      <div class="col-lg-3 col-xs-12 Title-name">
        Select theme color
      </div>
      <div class="col-lg-9 col-xs-12">
        <span><input type="text" id="color-picker" value="#111111"></span>
        <p class="hint-text" style="margin-top:10px;">This gives a unique touch to your blog. Choose the color that defines your style & personality!</p>
        <p class="hint-text">Scroll around to see how your new color looks.</p>
      </div>
    </div>
  </div>
  </div>
  <div class="col-sm-12">
  <div class="input_box tab_layout">
    <div class="row">
      <div class="col-lg-3 col-xs-12 Title-name">
        Menus*
      </div>

      <div class="col-xs-7">
        <input type="text" class="tab" name="name" value="" placeholder="Enter menu name">
      </div>
      <div class="col-xs-2">
        <button class="add-remove" style="margin:0xp;padding:0px;margin-left:10px;width:auto;height:auto;" type="button" name="button" id="add"><img src="/images/plus.svg" height="25px" width="25px" alt="Add menu"></button>
        <button class="add-remove" style="margin:0px;padding:0px;margin-left:10px;width:auto;height:auto;" type="button" name="button" id="remove"><img src="/images/minus.svg" height="25px" width="25px" alt="remove menu"></button>
      </div>

    </div>

  </div>
  <div class="col-lg-7 col-lg-offset-3 col-xs-12">
    <p class="hint-text">This appears just below the header and can be used to categorise your content. For ex: fashion, beauty, lookbook, collaborations etc. The default menu tabs are home & about.</p>
  </div>

  </div>
  <div class="col-sm-12">
  <div class="input_box">
    <div class="row">
      <div class="col-lg-3 col-xs-12 Title-name">
        Select layout format
      </div>
      <div class="col-lg-9 col-xs-12">

        <form id="myForm">
        <input type="radio" style="display:inline;width:auto;margin-right:10px;" name="layout" value="grid" checked>  Grid<br>
          <input type="radio" style="display:inline;width:auto;margin-right:10px;" name="layout" value="list">  List<br>
          </form>
        </div>

    </div>
  </div>
  </div>
</div>
<div class="proceed-layout">
  <span class="step1 steps">Step 1 of 2</span>
  <span class="step2 steps hidden">Step 2 of 2</span>
  <button type="button" name="button" class="back hidden" id="back">Back</button>
  <button type="button" class="next hidden" id="loading" name="button">Loading..</button>
  <button type="button" class="create hidden" id="create-blog" name="button">Create</button>
  <button type="button" class="next" name="button" id="next">Next</button>


</div>


<div class="col-xs-12">
  <p style="float:right;color:#aaa;">* required</p>

</div>
<div class="modal loading-modal"></div>
<div class="content-preview hidden">

<div class="col-lg-8">
  <div class="list-layout hidden" style="margin-top:50px;">
    <% (1..2).each do |a| %>
      <%= render(partial: 'partials/blog_post') %>
    <% end %>
  </div>
  <div class="grid-layout visible" style="margin-top:50px;">
    <% (1..4).each do |a| %>
    <div class="col-lg-6 col-sm-6 col-xs-12">
      <%= render(partial: 'partials/mockcard') %>
        </div>
    <% end %>
  </div>
</div>
<div class="col-lg-1">
</div>
<div class="col-lg-3" style="margin-top:50px;">
  <%= render(partial: 'partials/blog_about') %>

    <ul id="instafeed"></ul>


</div>


<br>
</div>
<div id="snackbar">Name, description and subdomain are required!</div>
<div id="snackbar2">Add atleast 1 menu option</div>


<script type="text/javascript">
$("#color-picker").spectrum({
showPaletteOnly: true,
togglePaletteOnly: true,
togglePaletteMoreText: 'more',
togglePaletteLessText: 'less',
color: '#111111',
preferredFormat: "rgb",
palette: [
    ["#ee0048", "#fe938c", "#272D2D", "#D63230","#aa8439","#000000", "#E7003E", "#F10026"],
    ["#ffaa00", "#009B9B" , "#882d61"],
    ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
    ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
    ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],


]
});
$('.title-layout').addClass('hidden');
$('.tab-menu').addClass('hidden');
$('.footer-container').addClass('hidden');
$('.user').addClass('hidden');
$('.dashboard-button').addClass('hidden');
$('#next').click(function(e){
  if($('#title').val()!="" && $('#description').val()!="" && $('#subdomain').val()!="")
  {$('.blog-options').addClass('hidden');
  $('.theme-options').removeClass('hidden');
  $('.title-layout').removeClass('hidden');
  $('.tab-menu').removeClass('hidden');
  $(this).addClass('hidden');
  $('#back').removeClass('hidden');
  $('#create-blog').removeClass('hidden');
  $('.content-preview').removeClass('hidden');
  $('.footer-container').removeClass('hidden');
  $('.step1').addClass('hidden');
  $('.step2').removeClass('hidden');
  window.scrollTo(0, 0);
  if($('#logo').val()=="" && ($('#logo-holder').attr('src')=="" || $('#logo-holder').attr('src')=="/images/user.jpg")){
    $("#showheading input").prop('checked', true);
    $("#showheading input").attr("disabled", true);
    $("#blog_logo").attr('src','');
    $('#blog_logo').addClass('hidden');
    $("#showlogo input").prop('checked', false);
    $("#showlogo input").attr("disabled", true);
    $('input[name=logo-size]', '#logo-size').attr('disabled',true);
  }
  else {
    $("#showheading input").removeAttr("disabled");
    $("#showlogo input").prop('checked', true);
    $('#showlogo input').removeAttr('disabled');
    $('#blog_logo').removeClass('hidden');
    $('input[name=logo-size]', '#logo-size').removeAttr('disabled');
  }
}
else {
  myFunction();
}

});
$('#back').click(function(e){
  $('.blog-options').removeClass('hidden');
  $('.theme-options').addClass('hidden');
  $('.title-layout').addClass('hidden');
  $('.tab-menu').addClass('hidden');
  $(this).addClass('hidden');
  $('#next').removeClass('hidden');
  $('#create-blog').addClass('hidden');
  $('.content-preview').addClass('hidden');
  $('.footer-container').addClass('hidden');
  $('.step2').addClass('hidden');
  $('.step1').removeClass('hidden');
});
var logo_image;
$('#add').click(function(e){
  var tabs = $('.tab_layout > .row');
  if(tabs.length<5){
  $('.tab_layout').append(`<div class="row" style="margin-top:20px;">
    <div class="col-lg-3 Title-name">

    </div>
    <div class="col-lg-9 col-xs-12">
      <input type="text" class="tab" name="name" value="" placeholder="Enter menu name">
    </div>
  </div>`);
}
});

$('#remove').click(function(e){
  var tabs = $('.tab_layout > .row');
  if(tabs.length>1)
   {$('.tab_layout > .row')[tabs.length-1].remove();}
});
$("#subdomain").on({
  keydown: function(e) {
    if (e.which === 32)
      return false;
  },
  change: function() {
    this.value = this.value.replace(/\s/g, "");
  }
});
  $('#create-blog').click(function(e){
    $('#create-blog').addClass('hidden');
    $('#loading').removeClass('hidden');
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/get_session_user",
      success: function(data){
        if (data!=null){

          var arr = [];
          $('.tab').each(function(i, obj){
          arr.push($(obj).val());
          });
          var category = arr.join("~");
          if(category!=""){
            $body = $("body");
            $body.addClass("loading");
          $.ajax({
            type: "POST",
            data: {
                  data: logo_image,
                  title: $('#title').val()
                  },
            dataType: "json",
            url: "/logo_upload",
            success: function(data){
              console.log(data);
              var color = "#ffffff";
              var h = hex2rgb($('#color-picker').val());
              if ((h[0]*0.299 + h[1]*0.587 + h[2]*0.114) > 186){
              color = "#000000";
              }
              else {
                color= "#ffffff";
              }
              var showheading = false;
              var showdescription = false;
              var showlogo = false;

              if($('input[name=heading]:checked').length>0){
                showheading = true;
              }
              if($('input[name=description]:checked').length>0){
                showdescription = true;
              }
              if($('input[name=showlogo]:checked').length>0){
                showlogo = true;
              }
              var logosize = $('input[name=logo-size]:checked', '#logo-size').val();
              $.ajax({
                type: "POST",
                data: {
                      name: $('#title').val(),
                      description: $('#description').val(),
                      subdomain: $('#subdomain').val(),
                      theme_color: $('#color-picker').val(),
                      logo: data['url'],
                      layout: $('input[name=layout]:checked', '#myForm').val(),
                      facebook: $('#facebook').val(),
                      instagram: $('#instagram').val(),
                      twitter: $('#twitter').val(),
                      pinterest: $('#pinterest').val(),
                      category: category,
                      text_color: color,
                      showheading: showheading,
                      showdescription: showdescription,
                      showlogo: showlogo,
                      logosize: logosize
                      },
                dataType: "json",
                url: "/create_blog",
                success: function(data){

                  $body.removeClass('Loading');
                  window.location.href = "http://"+ data['subdomain'] +".winkl.co/about/edit";
                }
              });


            }
          });
        }
          else {
            myFunction2();
            $('#create-blog').removeClass('hidden');
            $('#loading').addClass('hidden');
          }

  }
  else {

    $('#login_popup').addClass('visible');
    set_size();
    $('#create-blog').removeClass('hidden');
    $('#loading').addClass('hidden');
  }
  }
  });
  });
  $('#color-picker').on('change',function(){
    $('.tab-menu').css('border-bottom-color',$('#color-picker').val());
    $('.tab-menu').css('border-top-color',$('#color-picker').val());
    $('.blog-tabs').css('color',$('#color-picker').val());
    $('.accent').css('background-color',$('#color-picker').val());
    $('.blog-aboutme').css('background-color',$('#color-picker').val());
    $('#about-readmore').css('background-color',$('#color-picker').val());
    var h = hex2rgb($('#color-picker').val());
    if ((h[0]*0.299 + h[1]*0.587 + h[2]*0.114) > 186)
      {
      $('.blog-aboutme').css('color','#000000');
    }
    else{
        $('.blog-aboutme').css('color','#ffffff');
    }
  });

  $('#description').on('input',function(){
    $('#blog_description').text($('#description').val());
    $('#blog_description_footer').text($('#description').val());
  });

    var typingTimer;                //timer identifier
    var doneTypingInterval = 1000;  //time in ms, 5 second for example

    //on keyup, start the countdown
    $('#subdomain,#title').on('keyup', function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    //on keydown, clear the countdown
    $('#subdomain,#title').on('keydown', function () {
      clearTimeout(typingTimer);
    });

    //user is "finished typing," do something
    function doneTyping () {
      if($('#subdomain').val()!=""){
      $('.loading').removeClass('hidden');
      $('.available').addClass('hidden')
      $('.unavailable').addClass('hidden')
      $.ajax({
        type: "POST",
        data: {
              subdomain: $('#subdomain').val(),
              },
        dataType: "json",
        url: "/check_subdomain",
        success: function(data){
          console.log(data);
          $('.loading').addClass('hidden');
          if(data['available']==true){
            $('.available').removeClass('hidden')
          }
          else {
            $('.unavailable').removeClass('hidden')
          }
        }
      });
      }
    }

  $('#title').on('input',function(){
    $('#blog_name').text($('#title').val());
    $('#subdomain').val($('#title').val().replace(/\W/g, '').toLowerCase());
    textAreaAdjustHorizontal($('#subdomain'));
  });

  $("#logo").unbind().change(function (){
    if ( ! window.FileReader ) {
   return alert( 'FileReader API is not supported by your browser.' );
 }
 var $i = $( '#logo' ), // Put file input ID here
   input = $i[0]; // Getting the element from jQuery
 if ( input.files && input.files[0] ) {
   file = input.files[0]; // The file
   fr = new FileReader(); // FileReader instance
   fr.onload = function () {
     // Do stuff on onload, use fr.result for contents of file
     $('#blog_logo').removeClass('hidden');
     $('#blog_logo_footer').removeClass('hidden');
     $('#blog_logo').attr('src',fr.result);
     $('#blog_logo_footer').attr('src',fr.result);
     $('#logo-holder').attr('src',fr.result);
     logo_image = fr.result;
   };
   //fr.readAsText( file );
   fr.readAsDataURL( file );
 } else {
   // Handle errors here
   alert( "File not selected or browser incompatible." )
 }
 });
 $('#myForm input').on('change', function() {
   if($('input[name=layout]:checked', '#myForm').val()=='grid'){
     $('.grid-layout').removeClass('hidden');
     $('.list-layout').addClass('hidden');
   }
   else if ($('input[name=layout]:checked', '#myForm').val()=='list') {
     $('.grid-layout').addClass('hidden');
     $('.list-layout').removeClass('hidden');
   }
});

$('#showheading input').on('change', function() {

  if($('input[name=heading]:checked').length>0){
    $('#blog_name').removeClass('hidden');
    $('#blog_logo').css('max-width','200px')
    $('input[value=small]', '#logo-size').prop('checked',true);

  }
  else {
    $('#blog_name').addClass('hidden');

    $('#blog_logo').css('max-width','400px');
    $('input[value=large]', '#logo-size').prop('checked',true);
  }
});
$('#showdescription input').on('change', function() {

  if($('input[name=description]:checked').length>0){
    $('#blog_description').removeClass('hidden');
  }
  else {
    $('#blog_description').addClass('hidden');
  }
});
$('#showlogo input').on('change', function() {


  if($('input[name=showlogo]:checked').length>0){
    $('#blog_logo').removeClass('hidden');
    $("#showheading input").removeAttr("disabled");
    $('input[name=logo-size]', '#logo-size').removeAttr('disabled');
    }
  else {

    $('#blog_name').removeClass('hidden');
    $("#showheading input").prop('checked', true);
    $("#showheading input").attr("disabled", true);
    $('input[name=logo-size]', '#logo-size').attr('disabled',true);

    $('#blog_logo').addClass('hidden');
  }
});
$('#logo-size input').on('change', function() {
  console.log('change');
  var size = $('input[name=logo-size]:checked', '#logo-size').val()
  if(size=='small'){
    $('#blog_logo').css('max-width','200px');
  }
  else if (size=='medium'){
    $('#blog_logo').css('max-width','300px');
  }
  else{
    $('#blog_logo').css('max-width','400px');
  }

});

function hex2rgb (hex, opacity) {
    hex = hex.trim();
    hex = hex[0] === '#' ? hex.substr(1) : hex;
    var bigint = parseInt(hex, 16), h = [];
    if (hex.length === 3) {
        h.push((bigint >> 4) & 255);
        h.push((bigint >> 2) & 255);
    } else {
        h.push((bigint >> 16) & 255);
        h.push((bigint >> 8) & 255);
    }
    h.push(bigint & 255);
    if (arguments.length === 2) {
        h.push(opacity);
        return h;
    } else {
        return h;
    }
}
$('#color-picker').on('click',function(){
	window.scrollTo(0, 0);
});
function myFunction() {

  var x = document.getElementById("snackbar")

  // Add the "show" class to DIV
  x.className = "show";

  setTimeout(function(){ x.className = x.className.replace("show", "");

}, 2000);
}
function myFunction2() {

  var x = document.getElementById("snackbar2")

  // Add the "show" class to DIV
  x.className = "show";

  setTimeout(function(){ x.className = x.className.replace("show", "");

}, 2000);
}
// window.addEventListener("beforeunload", function (e) {
//     var confirmationMessage = 'It looks like you have been creating a blog. '
//                             + 'If you leave before creating, your changes will be lost.';
//
//     (e || window.event).returnValue = confirmationMessage; //Gecko + IE
//     return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
// });
</script>
