
<div style="padding-top:60px;">
  <div class="" style="width:100%;display:table;height:450px;background: url('	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/model_post.jpg') no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;z-index:-100;">
    <div class="row header text-center" style="display:table-cell;vertical-align: middle;">
      <div class="col-xs-12">
        <h1 class="blog-heading-title">Winkl helps you become an <b class="bold-font">influencer</b></h1>
        <p class="blog-heading-desc">It helps you setup a beautiful blog in less than 5 minutes, grow your audience, monetize your content and never worry about plugins and SEO.</p>
        <button class="ghost-button" id="create-blog">CREATE BLOG</button>
      </div>
    </div>

  </div>
</div>

<div class="" style="width:100%;display:table;height:400px">
  <div class="row" style="display:table-cell;vertical-align:middle;">
    <div class="col-lg-4 margin-top-down-50">
      <img class="icon" style="margin-bottom:30px;" src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/megaphone.png" alt="" height="100px" width="100px">
      <h4 class="feature-title">GROW YOUR AUDIENCE</h4>
      <p class="feature-description">Write to an audience that keeps coming back for your personal style.</p>
    </div>
    <div class="col-lg-4 margin-top-down-50">
      <img class="icon" style="margin-bottom:30px;" src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/settings.png" alt="" height="100px" width="100px">
      <h4 class="feature-title">SUPER EASY SETUP</h4>
      <p class="feature-description">Start a beautiful blog in 5 minutes and never worry about plugins again.</p>

    </div>
    <div class="col-lg-4 margin-top-down-50">
      <img class="icon" style="margin-bottom:30px;" src="	https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/pay-per-click.png" alt="" height="100px" width="100px">
      <h4 class="feature-title">MONETISE YOUR CONTENT</h4>
      <p class="feature-description">Get paid while you create great content.</p>

    </div>
  </div>
</div>

    <div class="" style="width:100%;display:table;height:550px;background: url('https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/banner1.jpg') no-repeat;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;z-index:-100;">
      <div class="row header text-center" style="display:table-cell;vertical-align: middle;">
        <div class="col-xs-12">
          <h1 class="pitch-heading">While you focus on creating great content and influencing your readers with your unique style statements, we take care of the rest.</h1>
          </div>
      </div>

    </div>
    <div class="" style="width:100%;display:table;height:550px;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;z-index:-100;">
      <div class="row header text-center" style="display:table-cell;vertical-align: middle;">
        <div class="col-xs-12">
          <h1 class="traffic-heading">Be a success. Start your dream blog on Winkl.</h1>
          <button class="ghost-button-black" id="create-blog2">CREATE BLOG</button>
          </div>
      </div>

    </div>
    <div id="login_popup" class="modal">
      <%= render(partial: 'partials/signin') %>
    </div>
