<div class="col-lg-8">
<% (1..2).each do |a| %>
  <%= render(partial: 'partials/blog_post') %>
<% end %>
</div>
<div class="col-lg-1">
  <hr style="height:1000px;width:1px;border-left:1px solid #ccc;">
</div>
<div class="col-lg-3">
  <%= render(partial: 'partials/blog_about') %>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1264843070193974";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <div class="fb-page" style="margin-top:30px;" data-href="https://www.facebook.com/ItsOnWinkl/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/ItsOnWinkl/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/ItsOnWinkl/">Winkl</a>
      </blockquote>
    </div>

</div>
