<div class="col-xs-12">
  <%= render(partial: 'partials/heading', locals: {heading: 'About'}) %>
</div>

<div class="col-lg-10 col-xs-12 col-lg-offset-1">
<p class="about-us">
  Winkl is the perfect place to create, share and discover the best articles, tutorials, videos and content on fashion, beauty and style.
  <br>
  <br>
  <b>Democratising Media by Bringing In Community:</b>
  <br><br>
  We are changing the way traditional media works by giving a voice to each and everyone in the Winkl community to be heard, share and influence in shaping what content the community consumes. Be it style advice, latest trends, useful tutorials or anything that matters. Media will no more be led by a handful of editors, writers and bloggers. If you think something is cool, it is, and it deserves to be seen by others. If you come across information that’s relevant and needs to be shared with others, millions will see it.
<br><br>As we grow, our community will be at the centre. Be it reporting relevant news, creating content or re-sharing something important. Every single community member will get the same initial influencing power or viewership. Our feed algorithms will not be based majorly on views, clicks or likes.
<br><br><b>Crowdsourced Content:</b><br><br>We believe that magic happens when the community gets together and creates content and shares ideas to add value in each others lives. There’s so much to learn from each other, so many different experiences and view points to exchange and endless possibilities that are made a reality by the power of crowdsourcing.
<br><br>There are a lot of rough edges and bugs that we’ll optimise as we build it further. If you find any bugs or issues yourself, please do get in touch with us. That would be helpful!
</p>
</div>
<div class="col-xs-12">
  <div class="col-xs-12">
    <%= render(partial: 'partials/heading', locals: {heading: 'Team'}) %>
  </div>
<div class="container" style="margin-top:40px;margin-bottom:40px;">
  <div class="row">
    <div class="col-sm-6 col-xs-12" style="margin-top:10px;">
      <div class="row">
        <div class="col-xs-12 zeropadding">
          <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/people/rahul.png" alt="Rahul's profile picture" style="display:block;margin:auto;" height="200px" width="200px" />
        </div>
        <div class="col-xs-12 member-name">
          <b>Rahul Singh Thakur</b> - Product
        </div>
        <div class="col-xs-12 member-name">
          <a href="https://in.linkedin.com/in/thakurrahulsingh" style="color:blue;text-align:center;">Linkedin</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12" style="margin-top:10px;">
      <div class="row">
        <div class="col-xs-12 zeropadding">
          <img src="https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/people/nikhil.png" alt="Nikhil's profile picture" style="display:block;margin:auto;" height="200px" width="200px" />
        </div>
        <div class="col-xs-12 member-name">
          <b>Nikhil Kumar</b> - Technology
        </div>
        <div class="col-xs-12 member-name">
          <a href="https://in.linkedin.com/in/nikhil4092" style="color:blue;text-align:center;">Linkedin</a>
        </div>
      </div>    </div>

  </div>

</div>

</div>
