<div class="col-xs-12 contact">
  <%= render(partial: 'partials/heading', locals: {heading: 'Contact'}) %>
</div>
<div class="container">
  <div class="well well-sm">
    <div class="row">
      <div class="col-sm-12">
         <h3 class="text" style="text-align:center;"><b>Address</b></h3>
         <h4 class="text" style="text-align:center;">
           Boven Technologies Private Limited
           <h5 style="text-align:center;"><br>No. 36, Pateghar Palya Main Rd, Next to Canara Bank ATM, 60ft Road, Malagala,
           <br>Vijaynagar 2nd Stage, Bangalore - 560091
           <br>Ph: +91 8904783190
           </h5>
           <br>
           <h5 style="text-align:center;">Email: <a href="mailto:contact@winkl.in" class="email">contact@winkl.in</a>
             </h5>
         </h4>

      </div>

      <!-- <div class="col-sm-6">
        <h3 class="text"><b>Get in touch</b></h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class="col-sm-10">
              <input type="name" class="form-control" id="name" placeholder="Enter name">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="message">Message:</label>
            <div class="col-sm-10">
              <input type="message" rows="10" class="form-control" id="message" placeholder="Enter message">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div> -->
    </div>
  </div>
</div>
