// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-us{
  font-size: 18px;
  color: #primary;
  font-family: Content-regular;
  line-height: 25px;
}

.about-us b {
  font-size: 20px;
  font-family: Content-bold;
}

.about-us a {
  color: blue;
}

.member-name {
  text-align:center;
  margin-top:20px;
}

.about-bio {
  text-align:justify;
  font-size: 15px;
  font-family: Content-regular;
  line-height: 25px;
  margin: 50px;
}

.autoexpand_big {
    display: block;
    width: 100%;
    max-width: 570px;
    padding-bottom: 0px;
    font-weight: 300;
    border: 0px;
    border-bottom: 1px solid #ababab;
    font-size: 20px;
    padding: 0px;
    outline: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: auto;
    min-width: 30px;
    max-width: 200px;
    text-align: left;
    padding-left: 10px;
    background-color: transparent;

}

#editor-container .ql-editor{
  padding-bottom: 0px;
}
