// Place all the styles related to the Blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.input_box input, div.input_box textarea {
    display: block;
    width: 100%;
    max-width: 570px;
    padding-bottom: 0px;
    font-weight: 300;
    border: 0px;
    border-bottom: 1px solid #ababab;
    font-size: 20px;
    padding: 0px;
    outline: none;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #000;
    transition-property: color;
    transition-duration: 5s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
}

.Title-name {
  font-size: 20px;
}

.content-preview {
  margin-top: 50px;
}

div.input_box {
    display: block;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    transition-property: all;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -moz-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -ms-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -o-transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    transition-timing-function: cubic-bezier(0.165, 0.63, 0.14, 0.82);
    -webkit-font-smoothing: antialiased;
}

div.input_box input.autoexpand {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: auto;
    min-width: 30px;

}


div.input_box input.autoexpand_big {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  width: auto;
  min-width: 30px;
  max-width: 200px;
  text-align: left;
  padding-left: 10px;
}

span.input_text {
    display: inline-block;
    width: auto;
    padding-bottom: 0px;
    font-weight: 100;
    border: 0px;
    font-size: 20px;
    outline: none;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #8b8b8b;
    padding-left: 0px;
    margin-left: 0px;
}

div.centerize {
    padding: 0px;
    margin: 0px;
    max-width: 570px;
    margin: 0 auto;
}

.illustration-text {
  height: 25px;
  width: 100px;
  background-color: #f1f1f1;
  border-radius: 5px;
  display: block;
  margin: auto;
}

.tab-menu {
  display: block;
  margin: auto;
  border-bottom: 5px solid #ccc;
  border-top: 1px solid #ccc;
}

.follow-blog {
    float: right;
    border: 1px solid green;
    width: auto;
    height: 20px;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    margin-top: 5px;
    margin-right: 20px;
}

.footer-social {
  opacity: 0.2;
}

.blog-tabs {
  color: #333;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 20px;
  font-family: Heading !important;
  font-size: 18px;
  letter-spacing: 2px;
}

.blog-tabs:hover {
  color: #000;
}

.blog-tabs-active {
  border-bottom: 2px solid #000;
}

.ghost-button {
  border: 1px solid #fff;
  background-color: none;
  padding: 10px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  width:auto;
  height:auto;
  background-color:transparent;
}

.ghost-button:hover {
  background-color: #fff;
  color: #333;
}

.ghost-button-black {
  border: 1px solid #333;
  background-color: none;
  padding: 10px;
  color: #333;
  padding-left: 20px;
  padding-right: 20px;
  width:auto;
  height:auto;
  background-color:transparent;
}

.ghost-button-black:hover {
  background-color: #333;
  color: #fff;
}

.icon {
  display: block;
  margin: auto;
}

.blog_section {
  text-align: center;
  margin: 30px;
}

.verticalLine {
  border-left: 1px solid #fff;
  float: left;
  height: 58px;
}

.socialicons .social-icon {
  float: left;
  margin-left: 20px;
}

.image-upload > input {
  visibility:hidden;
  width:0;
  height:0
}

.next {
  background-color: transparent;
  border: 1px solid #aaa;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  height: auto;
  width: auto;
  border-radius: 5px;
  color: #aaa;
  margin-top: 30px;
}


.back {
  @extend .next;

}

.create {
  @extend .next;
  border: 1px solid #00ab6b;
  color: #00ab6b;
  margin-left: 10px;
}

.create:hover {
  background-color: #00ab6b;
  color: #fff;
}

.proceed-layout {
  text-align: center;
}

.hint-text{
  color: #aaa;
  -webkit-font-smoothing: antialiased;
}

.steps {
  font-family: Content-regular;
  color: #aaa;
  margin-right: 20px;
  font-size: 15px;
}

.blog-heading-title {
  color:#fff;
  font-family:Content-light;
  font-size:42px;
}

.blog-heading-desc {
  color:#fff;
  margin-top:20px;
  margin-bottom:30px;
  font-family:Content-light;
  font-size:18px;
  line-height: 25px;
  margin-left: 250px;
  margin-right: 250px;

}

.feature-title {
  text-align:center;
  font-family:Content-bold;
}

.feature-description {
  text-align:center;
  font-family:Content-regular;
  margin-left:100px;
  margin-right:100px;
    color: #aaa;
}



.pitch-heading {
  color:#fff;
  font-size:42px;
  font-family:Content-light;
  padding-left:60px;
  padding-right:60px;
  line-height: 55px;
}

.traffic-heading {
  color:#333;
  margin-bottom:40px;
  font-size:42px;
  font-family:Content-light;
  padding-left:60px;
  padding-right:60px;
  line-height: 45px;
}

.bold-font {
  font-family: Content-bold;
}

@media (max-width: 1200px) {

  .blog-heading-title {
    font-size: 30px;
  }
  .blog-heading-desc {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .pitch-heading {
    font-size: 30px;
  }
  .traffic-heading {
    font-size: 30px;
  }
  .feature-description {
    margin-left: 20px;
    margin-right: 20px;
  }
  .pitch-heading {
    padding-left: 20px;
    padding-right: 20px;
  }
  .traffic-heading {
    padding-left: 20px;
    padding-right: 20px;
  }
  .blog-list-title {
    font-size: 25px;
  }

}

.margin-top-down-50{
  margin-top: 50px;
  margin-bottom: 50px;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar2 {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar2.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

input[type="color"] {
    -webkit-appearance: none;
  }

.add-remove {
  background-color: transparent;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0px;}

.blog-tags {
  float:right;
  font-size:12px;
  margin-top:5px;
  border-radius:5px;
  padding:5px;
  margin-left:5px;
  font-family: Content-regular;
  min-width: 50px;
  text-align: center;
  background-color: #f0f0f0;
  text-transform: uppercase;
}

.blog-readmore {
  background-color: transparent;
  border: 1px solid #333;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  width: auto;
  color: #333;
  margin-top: 30px;
  font-size: 12px;
}

.blog-readmore:hover{
  background-color: #333;
  color: #fff;
}

.blog-details {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.blog-list-title {
  font-family:Heading;
  text-transform:uppercase;
  margin-top:15px;
}

.blog-list-description {
  font-size:16px;
  line-height:28px;
  font-family:Content-light;
}

.blog-list-readmore {
  text-align:center;
  padding-bottom:20px;
  margin-top: 20px;
}

.blog-aboutme {
  text-align:center;
  color:#fff;
  background-color:#333;
  padding:5px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Heading;
    font-size: 18px;
    letter-spacing: 2px;
}

#instafeed{
  list-style:none
}
#instafeed li{
  float:left;
  width:200px;
  height:200px;
  margin:10px
}
#instafeed li img{
  max-width:100%;
  max-height:100%;
}

.dashboard-button {
  float: right;
  border: 1px solid #42ae82;
  border-radius: 5px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  margin-right: 20px;
  height: 30px;
  color: #42ae82;
  background-color: transparent;

}

#blog_description
{
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 30px;
}

#blog_description_footer
{
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 30px;
    color: #aaa;
    text-transform: uppercase;
    font-size: 15px;
}

.chic-blog-tags {
  float: left;
  text-transform: uppercase;
  font-size: 12px;
}

#subscribe {
  background-color:#fff;
  color:#333;
  border-radius:5px;
  font-family:Content-regular;
  font-size:14px;
  width: 50%;
  height: 30px;
  font-size: 12px;
  border: 0px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #575757;
}

#unsubscribe {
  background-color:#42ae82;
  color:#fff;
  border-radius:5px;
  font-family:Content-regular;
  font-size:14px;
  width: 50%;
  height: 30px;
  font-size: 12px;
  border: 0px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #42ae82;
}
