// Place all the styles related to the Content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor-container {
  font-family: 'Content-regular';
  font-size: 1.2em;
  height: 100%;
  margin: 0 auto;

}
#editor-container .ql-editor {
  min-height: 100%;
  height: inherit;
  overflow-y: inherit;
  padding-bottom: 75px;
  padding-left: 0px;
  padding-right: 0px;
}

#editor-container .ql-editor > * {
  margin-top: 1.5em;
}
#editor-container .ql-editor img {
  display: block;
  margin: auto;
}
#editor-container .ql-editor blockquote {
  font-family: Content-regular;
}
#editor-container .ql-editor > *:last-child {
  margin-bottom: 50px;
}
#editor-container h1 + p,
#editor-container h2 + p {
  margin-top: 0.5em;
}
#editor-container blockquote {
  border-left: 4px solid #888;
  padding-left: 1em;
}
#editor-container hr {
  border: none;
  color: #111;
  letter-spacing: 1em;
  text-align: center;
}
.share-heading {
  text-transform: uppercase;
  text-align: center;
}

.back-button {
  position: absolute;
  right: 20px;
  top: 10px;
}

.user-image {
  left: 50%;
  margin-left: -50px;
}

.submit-heading {
  text-align: center;
}

.submit-button {
  background-color: blue;
  color: #fff;
  border-radius: 25px;
}

.ql-toolbar.ql-snow {
  background-color: #fff;
}

.full-article {
  text-align: center;
  display: block;
  margin: auto;
}

.content-title {
  font-family: 'Heading';
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.content-description {
  font-family: 'Content-regular';
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  text-align:justify;
  line-height: 30px;
  margin: 0px;
  margin-bottom: 20px;
}


.user-layout {
  display: block;
  margin: 0 auto;
  width: 50%
}

.author-layout{
  background-color:#006b62;
  margin-bottom: 20px;
}

.content-tag {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
}

#editor-container .ql-editor {
  padding: 0px;
}

.submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 440px;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.content-holder .more-content .card {
  background-color: #f1f1f1;
}
.content-holder.more-content.card.container {
  background-color: #f1f1f1;
}

.mobile-share {
  position: fixed;
  bottom: 0px;
  height: 50px;
  background-color: #fff;
  width: 100%;
  left: 0px;
  border-top: 1px solid #333;
  z-index: 100;
  transition: transform .5s;
}

.move-down {
  transform: translateY(100%);
}

.subscribe-banner{
  margin-top:103px;
  margin-bottom:-70px;
  overflow:hidden;
  background-color:#006b62;
  height: auto;
}

.email-field {
  margin-top:40px;
  border:none;
  background-color:#fff;
}

.email-card-form {
    position: relative;
    height: 50px;
    width: 100%;
    max-width: 314px;
    margin: 1em auto;
    padding: 7px 8px 6px 20px;
    background: #fff;
    border-radius: 30px;
    border: 0 solid transparent;
    box-sizing: border-box;
    margin-top: 25px;
}

.email-card-input {
    background: transparent;
    border: 0 solid transparent;
    box-sizing: border-box;
    float: left;
    width: 100px;
    padding: 0;
    margin-top: 10px;
}

.email-card-submit {
    background-color: #006b62;
    border-radius: 17px;
    -moz-border-radius: 17px;
    -webkit-border-radius: 17px;
    border: 0;
    color: #fff;
    float: right;
    padding: 2px 15px 0;
    margin: 0;
    vertical-align: 5px;
    outline: 0;
    height: auto;
    width: auto;
    line-height: 35px;
    -webkit-tap-highlight-color: transparent;
}

.email-submitted {
  background-color: green;
}

.white-more {
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 25px;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  width: 200px;
  text-transform: capitalize;
}
