// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact .text {
  color: #primary;
  font-weight: 60;
}

.email {
  color:#337ab7;
}

.email:hover {
  color: #337ab7;
  background: none;
}

.email:visited {
  color: #337ab7;
}
