// Place all the styles related to the Create controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editor-container {
  font-family: 'Content-regular';
  font-size: 1.2em;
  height: 100%;
  margin: 0 auto;

}
#editor-container .ql-editor {
  min-height: 100%;
  height: inherit;
  overflow-y: inherit;

  padding-left: 0px;
  padding-right: 0px;
}

#editor-container .ql-editor > * {
  margin-top: 1.5em;
}
#editor-container .ql-editor img {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
  width: 100%;
}
#editor-container .ql-editor blockquote {
  font-family: Content-regular;
}
#editor-container .ql-editor > *:last-child {
  margin-bottom: 50px;
}
#editor-container h1 + p,
#editor-container h2 + p {
  margin-top: 0.5em;
}
#editor-container blockquote {
  border-left: 4px solid #111;
  padding-left: 1em;
}
#editor-container hr {
  border: none;
  color: #111;
  letter-spacing: 1em;
  text-align: center;
}
#editor-container hr:before {
  content: '...';
}

#tooltip-controls {
  background-color: #111;
  border-radius: 4px;
  display: none;
  padding: 5px 10px;
  position: absolute;
}
#tooltip-controls::before {
  box-sizing: border-box;
  border-bottom: 6px solid #111;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: ' ';
  display: block;
  height: 6px;
  left: 50%;
  position: absolute;
  margin-left: -6px;
  margin-top: -6px;
  top: 0;
  width: 6px;
}
#tooltip-controls button {
  background-color: transparent;
  color: #fff;
  border: none;
}
#tooltip-controls button.active {
  color: #21b384;
}

#sidebar-controls {
  display: none;
  position: absolute;
}
#sidebar-controls button {
  background-color: transparent;
  border: none;
  padding: 0;
}
#sidebar-controls i.fa {
  background-color: #fff;
  border: 1px solid #111;
  border-radius: 50%;
  color: #111;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
#sidebar-controls .controls {
  display: none;
  margin-left: 15px;
}
#sidebar-controls #show-controls i.fa::before {
  content: "\f067";
}
#sidebar-controls.active .controls {
  display: inline-block;
}
#sidebar-controls.active #show-controls i.fa::before {
  content: "\f00d";
}

button {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  padding: 0;
  height: 32px;
  width: 32px;
  text-align: center;
}
button:active, button:focus {
  outline: none;
}

#image-button {
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  filter: alpha(opacity=0); /* IE < 9 */
  opacity: 0;
}
.input-label {
  cursor: pointer;
  position: relative;
  display: inline-block;
}


.content-editor {
  background-color: #fff;
  padding: 20px;
}

.ql-formats button {
  margin-top: 10px;
  margin-right: 0px;
}

.ql-formats {
  width: 30px;
}

#titleeditor {
  border: none;
}

#descriptioneditor {
  border: none;
}

.question-text {
  display: block;
  margin: 0;
  margin-top: 100px;
  font-size: 50px;
  border: 0px;
  background-color: none;
}

.detail-text {
  display: block;
  margin: 0;
  font-size: 20px;
  border: 0px;
  background-color: none;
}

.question-submit {
  position: fixed;
  right: 20%;
  bottom: 50px;
  background-color: #EEE;
  border: 0px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #333;
  font-family: Content-regular;
}

.add-images {
  position: fixed;
  left: 20%;
  bottom: 50px;
  font-family: Content-regular;
  color: #bbb;
}

.plus-button {
  margin-right: 10px;
}

.submitpost-fields {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  width: 100%;
}

.submitpost-element {
  margin-bottom: 20px;
  margin-top: 20px;
}

.submit-button {
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #00BFA5;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  margin: auto;
  color: #00BFA5;
  margin-top: 440px;
}

.post-create {

  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #00BFA5;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  margin: auto;
  color: #00BFA5;
  width: auto;
}

@media (max-width: 900px) {
  .ql-toolbar.ql-snow {
    bottom:10px;
    left: 50px;
    width:auto;
  }
  .ql-formats {
    width: auto;
  }
  .ql-formats button {
    margin-right: 5px;
    margin-top: 0px;
  }
}

.checkbox-label {
  margin-right: 20px;
}

.checkbox-tags {
  margin-top: 50px;
  margin-bottom: 30px;
}


#titleeditor .ql-editor {
  font-family: 'Heading';
  font-size: 2.5em;
  text-decoration: none;

}

#title .content-title {
  font-family: 'Heading';
  font-size: 2.5em;
  text-decoration: none;
  border: none;
  width: 100%;
  margin: 0px;
  text-transform: uppercase;
  text-align: center;
}

#descriptioneditor .ql-editor {
  font-family: 'Content-regular';
  text-decoration: none;

}

#description .content-description {
  font-family: 'Content-regular';
  text-decoration: none;
  border: none;
  width: 100%;
}

#editor .ql-editor {
  font-family: 'Content-regular';
  text-decoration: none;
}


.token {
}

.form-control {
}

.token-label {
  padding: 5px;
}

.modal-content h4 {
  font-family: 'Heading';
  text-align: center;
}

.modal-content label {
  font-family: Content-regular;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  color: #333;
}
.modal-content label:hover {
  border: 1px solid #aaa;
  background-color: #f1f1f1;
  color: #333;
}
.modal-content label:focus {
  border: 1px solid #aaa;
  background-color: #333;
  color: #fff;
}

.modal-content label:active {
  border: 1px solid #aaa;
  background-color: #333;
  color: #fff
}

.badge {
  background-color: #fff !important;
  color: #333 !important;
}

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/loading_anim.gif')
                50% 50%
                no-repeat;
    background-size: 150px 150px;
}

body.loading {
    overflow: hidden;
}


body.loading .loading-modal {
    display: block;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
}

.modal.visible {
  display: block;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 100px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#link-text, #fulllink, #embedlink {
  padding: 5px;
  border-radius: 25px;
  border: 1px solid #ababab;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.image-caption {
  border: none;
  width: 100%;
  font-size: 12px;
  text-align: center;
  font-family: Content-regular;
  font-style: italic;
}

.badgebox
{
    opacity: 0;
}

.badgebox + .badge
{
    /* Move the check mark away when unchecked */
    text-indent: -999999px;
    /* Makes the badge's width stay the same checked and unchecked */
	width: 27px;
}

.badgebox:focus + .badge
{
    /* Set something to make the badge looks focused */
    /* This really depends on the application, in my case it was: */

    /* Adding a light border */
    box-shadow: inset 0px 0px 5px;
    /* Taking the difference out of the padding */
}

.badgebox:checked + .badge
{
    /* Move the check mark back when checked */
	text-indent: 0;
}
