// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-icons {
  display: block;
  margin: auto;
}

.dashboard-itemheading {
  text-align: center;
  font-family: Content-regular;
  text-transform: uppercase;
  font-size: 20px;
}

.dashboard-editbutton {
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid #333;
  display: block;
  margin: auto;
  padding-left: 30px;
  padding-right: 60px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  display: block;
  margin: auto;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 29px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}

.dashboard-innerlayout {
  margin:10px;

  background-color:#fff;
  padding:20px;
  padding-top: 80px;
  padding-bottom: 80px;

}

.connect-button {
  background-color: #42ae82;
  color: #fff;
  border: 0px;
  border-radius: 5px;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: right;

}

.social-title {
  font-size: 25px;
}
.stats-card {
  text-align:center;
  border:0px;
  margin-bottom: 30px;

}

.collab-details {
  text-align: center;
}
