// Place all the styles related to the Notification controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notification-description {
  text-align: left;
  font-family: Content-regular;
}

.notification-title {
  font-size: 20px;
  font-family: Content-bold;
}

.notification-image {
  display: block;
  margin: 0 auto;
}
