// Place all the styles related to the Privacy controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ol li .title {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
}

.level1, .level2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.direct-text {
  padding-top: 20px;
  padding-bottom: 20px;
}
