// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  .profile {

    padding-top: 40px;
    padding-bottom: 40px;
  }

  .profile-stats {

  }

  .stat {
    height: 100px;
  }

  .stat-title {
    text-align: center;
    font-family: Content-regular;
  }

  .stat-desc {
    text-align: center;
    font-family: Content-regular;
  }

  .user-name {
    text-align: center;
    margin-top: 10px;
    font-family: Content-regular;
    font-size: 20px;
    color: green;
  }

  .bio {

    margin-top: 5px;
    font-family: Content-regular;
    font-size: 15px;
    text-align: center;

  }

  .user-follow {
    text-align: center;
    border: 1px solid blue;
    color: blue;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;
  }

  ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    width:100%;
  }

  /* Float the list items side by side */
  ul.tab li {float: left;
    display: block;
    padding-left: 50px;
  }

  /* Style the links inside the list items */
  ul.tab li a {
      display: inline-block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 17px;
  }

  /* Change background color of links on hover */
  ul.tab li a:hover {background-color: #ddd;}

  /* Create an active/current tablink class */


  /* Style the tab content */
  .tabcontent {
      display: none;
      padding: 6px 12px;
      border-top: none;
  }

  .badge-image {
    display: block;
    margin: auto;
  }

  .badge-name {
    padding-top: 90px;
    font-family: Content-regular;
  }

  .badge-task {
    font-family: Content-regular;
    color: #bbb;
  }

#bio {
  border: none;
  background-color: #f1f1f1;
}

#savebio {
  background: #f1f1f1;
  border: 1px solid #333;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
}

#addbio {
  background: #f1f1f1;
  border: 1px solid #333;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 10px;
}

#editbio {
  margin-top: 5px;
}

.bio-layout {
    margin-top: 5px;
    font-family: Content-regular;
    font-size: 15px;
    text-align: center;
}
