// Place all the styles related to the QandA controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.more {
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: #42ae82;
  color: #fff;
  border-radius: 25px;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  width: 200px;
  text-transform: capitalize;
}

.answers-number {
  float: right;
  margin-right: 10px;
  margin-bottom: 0px;
  text-align: center;
  background-color: #333;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}

h4.question {
  color: #primary;
  padding-bottom:10px;
  margin: 0px;
  text-align: left;
  font-family: Heading;

}

h4.answer {
  color: #primary;
  padding-bottom:10px;
  margin: 0px;
  text-align: left;
  font-family: Content-regular;
  line-height: 25px;
}

.answer-layout {
  padding: 20px;
}

h4.question.question_withanswer {
  font-size: 15px;

}

a.left:hover, a.right:hover {
  background: none;
}

.left-arrow {
  position:relative;
  top:50%;
}

.right-arrow {
  position:relative;
  top:50%;
}

.answer-this {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background: #42ae82;
  color: #fff;
}

.post-card {
  color: #bbb;

}
