html {

    height: 100%;
}

body {
    height: 100%;

    background-color: #f1f1f1;
}

p, span {
  font-family: 'Content-regular';
}

.font-content {
  font-family: 'Content-regular'
}

.font-heading {
  font-family: 'Heading';
}

.scroll-wrapper {
  height: 100%;
  overflow-y: auto;
}


@font-face {
  font-family: 'Heading';
  src:url('/fonts/PathwayGothicOne-Regular.ttf');
  src:url('/fonts/PathwayGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;;
  font-style: normal;
}

@font-face {
  font-family: 'Content-light';
  src:url('/fonts/OpenSans-Light.ttf');
  src:url('/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: lighter;;
  font-style: normal;
}

@font-face {
  font-family: 'Content-bold';
  src:url('/fonts/OpenSans-Bold.ttf');
  src:url('/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bolder;;
  font-style: bolder;
}

@font-face {
  font-family: 'Content-regular';
  src:url('/fonts/OpenSans-Regular.ttf');
  src:url('/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;;
  font-style: normal;;
}

@font-face {
  font-family: 'Content-semibold';
  src:url('/fonts/OpenSans-Semibold.ttf');
  src:url('/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

.list-a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 95%;
    font-weight: bold;
    font-family: 'Content-bold'
}

.list-a:hover {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 95%;
}

.sidenav-list-a {
    color: #333;
    text-decoration: none;
    font-size: 95%;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    font-weight: bold;
}

.sidenav-list-a:hover {
    display: block;
    color: #333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 95%;
}

.menubar {
  padding-left: 0px;
  padding-right: 0px;
  height: 100vh;
  background-color: #f1f1f1;
  position: fixed;
  z-index: 1;
}

.blacktext{
  color: #333;
}

a{
  color: #333;
}

.login:hover{
  background-color: #333;
  color: #fff;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.zeropadding{
  padding: 0px;
}

.search {
  float: left;

}

.zerocurvature{
  border-radius: 0px;
}

.zeromargin {
  margin: 0px;
}

.padding20{
  padding: 20px;
}

.side-margin-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.side-margin-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.side-padding-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.list-group .list-group-item {
  background-color: #f1f1f1;
}

.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  height: 100%;
}

.social{
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.social-sidenav{
  float: left;
  margin-right: 10px;
  margin-top: 20px;
}

.socialicons{
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
}

a:hover {
  background-color: none;
}


.container {

}

.list-group-item.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
  z-index: 10;
}

img.logo {
    margin: auto;
    display:block;
    margin-left: 10px;
    margin-right: 10px;
    height: 40px;
}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.disableClick{
    pointer-events: none;
}

.bottom {
   position:absolute;
   bottom:0;
   left:0;
}

.list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #333333;
  border-color: #333333;
}

.left-addon .glyphicon  {
  left:  0px;
}

.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.left-addon input {
  padding-left:  30px;
}

.right-addon input {
  padding-right: 30px;
}

.searchbar{
  background-color: #f1f1f1;
  border-radius: 50px 50px 50px 50px;
  width: 200px;
  height: 35px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.searchtext{
  border: 0px;
  padding-top: 3px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 5px;
  border-radius: 50px 50px 50px 50px;
  background-color: #f1f1f1;
  width: 80%;
  font-family: Content-regular;
}

.searchtext:active, .searchtext:hover{
  border: 0px;
}

.searchimg{
  float: left;
  padding-left: 10px;
  padding-top: 5px;
  height: 20px;
  width: 20px;

}

.searchbar-sidenav{
  background-color: #f1f1f1;
  border-radius: 50px 50px 50px 50px;
  width: 220px;
  height: 30px;
  padding: 5px;
  margin: auto;

}

.searchtext-sidenav{
  border: 0px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 50px 50px 50px 50px;
  background-color: #f1f1f1;
  width: 85%;
}

.searchimg-sidenav{
  float: left;
  padding-left: 10px;
  padding-top: 3px;

}

.navbar{
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#header {

}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*.banner {
  background-image: url("/assets/home-banner.jpg");
  background-repeat: no-repeat
  width: 100%;
  background-size: 100%;
  display: block;
  margin: 0px;
}*/

.banner {
  /*background-image: url("/assets/home-banner.jpg");*/
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  height: auto;
  width: 100%;
  display: block;
  margin: 0px;
}

.banner-content {

  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 100px 100px 100px 100px;
}

.center {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    margin-left: -25px;
    margin-top: -25px;
}

.middle {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30px;
}

.centered-block {
    width: 100px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    position: absolute;
}

.center-vertical {
  display: inline-block;
}

.jumbotron {
    padding: 20px 0;
    background-color: #fff;
}

.logolayout {
  padding-top:5px;

  float:left;
}

.footer{
  background-color: #f1f1f1;
  height: 270px;
  overflow: hidden;
}

.footer-item {
  font-size: 80%;
  font-weight: bold;
  font-family: Content-bold;
}



.footer-item:hover{
  color: #333;
}

.global-footer p a {
    text-decoration: underline;
    font-size: 100%;
}

hr {
    display: block;
    height: .5px;
    border: 0;
    border-top: 1px solid #ccc;

    padding: 0;
}

.global-footer.content-loaded {
    display: block;
}

.global-footer {
    display: block;
    font-family: sans-serif;
    font-size: 10px;
    letter-spacing: .1em;
    line-height: 1.2em;
    word-spacing: normal;
    font-weight: 400;
    display: none;
    margin: 50px auto 0;
    padding: 50px 0;
    border-top: 1px solid #ccc;
    text-align: center;
}

.global-footer ul {
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.global-footer ul li {
    color: #b1b1b2;
    display: inline-block;
    margin: 0;
    height: 25px;
    line-height: 25px;
}

.global-footer ul li.copyright {
    color: #000;
}
.subscribe-modal-content {
  background-color:#fef6e7;
  padding:0px;
}

.subscriber-row {
  align-items:center;
  display:flex;
}

@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
  .logolayout {
    height:50px;
  }
  .logolayout img.logo {
      content: url("/images/logo_horizontal.png");
      height: 40px;
      width: 112px;
  }
  .modal-content {
      width: 90%;
      height: auto;
      padding:0px;

    }
    .subscriber-row {
      display: block;
    }
    .subscribe-text {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .content-title{
      font-size: 25px;
    }
    .ql-editor p {
      font-size: 18px;
    }
    .content-description {
      font-size: 14px;
    }

}



.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #fff;
    border-left: 1px solid #bbb;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    height: 20px;
    width: 20px;
    margin-left: 50px;
    margin-top: 20px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.hint-card {
    position: absolute;
    right: -230px;
    top: 300px;
    z-index: 200;
    background-color: #fff;
    padding: 20px;


}

.hint-card ul {
  list-style-image: url('tick.svg');
  font-size: 20px;
  line-height: 40px;
}

#googlelogin {
    background: #fff;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font: 14px/48px gotham_medium;
    margin: 20px 0px;
    padding: 0 0 0 40px;
    height: 50px;
    text-decoration: none;
    position: relative;
    text-align: center;
    font-family: Content-regular;
    width: 100%;
    border: 1px solid #f1f1f1;
}

#fblogin {
    background: #3B5998;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    font: 14px/48px gotham_medium;
    margin: 20px 0px;
    padding: 0 0 0 40px;
    height: 45px;
    text-decoration: none;
    position: relative;
    text-align: center;
    font-family: Content-regular;
    width: 100%;

}

.oauth-btn .icon {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.share-icon {
  margin-top: 10px;
}

.login-heading {
  font-family: Content-regular;
  color: #333;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 30px;
}

.login-content {
  font-family: Content-regular;
  color: #bbb;
  text-align: center;
  padding-top: 30px;

}

.post-heading {
  font-family: Content-regular;
  color: #333;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.add-new {
  display: inline-block;
  font: 14px/48px gotham_medium;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  height: 50px;
  text-decoration: none;
  position: relative;
  text-align: center;
  font-family: Content-regular;
  width: 100%;
}

.add-new .icon {
  margin-bottom: 20px;
}

.add-new a:hover {
  text-decoration: none;
  color: #333;
}

.text-center {
  text-align: center;
}

.search-modal {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

.search-text {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: 50px;
  border: 0px;
  font-family: Content-regular;
  background-color: #f1f1f1;
}

.search-button {
  display: block;
  margin: auto;
  margin-top: 30px;
  background-color: #42ae82;
  color: #fff;
  border-radius: 25px;
  border: 0px;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
  width: 150px;
  text-transform: capitalize;
}

.search-close {
  font-size: 40px;
  display: block;
  top: 40px;
  right: 40px;
  position: fixed;
}

.img-circle {
  object-fit: cover;
}

a:hover {
  color: #333;
  text-decoration: none;
}

#header {
  background-color:#fff;
  width:100%;
  position:fixed;
  z-index:100;
  transition: transform .5s;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.nav-up {
    transform: translateY(-100%);
}

.abcRioButtonLightBlue {
    background-color: #fff;
    color: #757575;
    border-radius: 25px;
    border: 1px solid #f1f1f1;
    height: 50px;
    width: 100%;
}

#customBtn {
      display: inline-block;
      background: white;
      color: #444;
      width: 190px;
      border-radius: 5px;
      border: thin solid #888;
      box-shadow: 1px 1px 1px grey;
      white-space: nowrap;
    }
    #customBtn:hover {
      cursor: pointer;
    }
    span.label {
      font-family: serif;
      font-weight: normal;
    }
    span.icon {
      background: url('/assets/google_login.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 14px;
      font-weight: bold;
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
    }


.image-text {
        left: 0;
        position:absolute;
        text-align:center;
        width: 100%;
        color: white;
        font-size: 60px;
  }

.proc-link {
  border: none;
}

blockquote img {
  background-color: transparent;
}
.hackcard .imagecard img {
  background-color: #bababa;
}

.ql-editor img {
  background-color: #f1f1f1;
}

.powered {
  font-size:12px;
  font-family: Content-bold;
}

.powered:hover {
  text-decoration: underline;
  color: #aaa;
}
