// Place all the styles related to the Terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.terms-heading {
  color: #333;
  font-family: Heading;
  margin-top: 30px;
  margin-bottom: 30px;
}

.terms-content {
  color: #777;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  font-size: 15px;
  font-family: Content-regular;
  ol li{
    font-family: Content-regular;
    color: #777;
  }
}
