// Place all the styles related to the Tips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.small-tip .quote-cardsize {
   max-width: 400px;
   min-width: 300px;
   .logo {
     position:relative;
     right:10px;
     top:50px;
     height: 30px;
     width: 30px;
   }
}

.big-tip .detailscard {
  width:80%;
  z-index:10;
  position: relative;
  bottom:20px;
  background-color:#ffffff;
  margin: auto;
}

.tabcontent .big-tip .detailscard {
  width:50%;
  z-index:10;
  position: relative;
  bottom:20px;
  background-color:#ffffff;
  margin: auto;
}

.small-tip .detailscard {
  width:90%;
  z-index:10;
  position: relative;
  bottom:20px;
  background-color:#ffffff;
  margin: auto;
}

.big-tip .quote-cardsize .imagecard{

   width: 500px;
   height: 500px;
   margin: auto;
   .blockquote {
    position: relative;
    top: 20%;
    height: 50%;
   }
   .logo {
     position:relative;
     right:30px;
     top:50px;
     height: 30px;
     width: 30px;
   }

}

@media (max-width: 1200px) {
  .big-tip .quote-cardsize .card{
    max-width: 400px;
    min-width: 300px;
    height: auto;
    .logo {
      position:relative;
      right:10px;
      top:50px;
      height: 30px;
      width: 30px;
    }
  }
 .big-tip .quote-cardsize {
   max-width: 400px;
   min-width: 300px;
   height: auto;
   .logo {
     position:relative;
     right:10px;
     bottom:10px;
     height: 30px;
     width: 30px;
   }
 }
 .big-tip .detailscard {
   width:90%;
 }
}

.quote {
  transform: rotate(180deg);

}

.quote-text {
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-family: Heading;
  line-height: 40px;
  text-shadow: 1px 1px #000;
}

.quote-footer {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
  font-family: Content-regular;
  text-shadow: 1px 1px #000;
  font-size: 15px;
}

.blockquote {
  border-left: 0px;
}

hr.white-small {
  border-top: 3px solid #fff;
  width:60px;
  margin: 0 auto;
  margin-top:60px;
}

.quote-cardsize .card {
  // background-image: url('/assets/5.jpg');
  background-position: center;
}

.notfollowed {
  content:url("/images/bookmark-normal.svg");
}

.followed {
  content:url("/images/bookmark-full.svg");
}

.unupvoted {
  content:url("/images/like-onhover.svg");
}

.upvoted {
  content:url("/images/like-full.svg");
}

.tip-input {
  background: transparent;
  border: none;
  color: #fff;
  text-shadow: none;
  resize: none;
  max-width: 350px;
  word-wrap: break-word;

}

#submit-tip {
  width: 400px;
  height: 50px;
  background-color: #fff;
  color: #333;
  border: 0px;
  font-family: 'Content-regular';
}

.tipcard-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}
