// Place all the styles related to the Video controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.play-button {
  position:absolute;
  width: 80px;
  z-index: 10;
  top: 40%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;

}

.videocard .imagecard .mainimage {
  height: 400px;
  overflow: hidden;
  object-fit: cover;
}
