<div class="col-xs-12">
    <%= render(partial: 'partials/heading', locals: {heading: 'Tutorials'}) %>
</div>
  <% (0..@videos.length-1).each do |n|%>
  <div class="col-lg-4 col-sm-6 col-xs-12 side-padding-5">
  <%= render(partial: 'partials/videocard', locals: {video: @videos[n]}) %>
  </div>
  <div class="clearfix visible-xs-block visible-sm-block"></div>
  <% end %>
