<% (0..@hacks.length-1).each do |a| %>
  <% if @blog['layout']=='grid' %>
    <div class="col-lg-6 col-xs-12 side-padding-5">
    <%= render(partial: 'partials/hackcard', locals: {hack: @hacks[a]}) %>
    </div>
    <% if (a+1)%2==0 %>
      <div class="clearfix visible-lg-block"></div>
    <% end %>
  <% elsif @blog['layout']=='list' %>
    <div class="col-xs-12">
      <%= render(partial: 'partials/blog_post', locals: {hack: @hacks[a]}) %>
    </div>
  <% end %>
<% end %>
