<div class="col-lg-9">
<% if @hacks.length == 0 %>
  <div class="col-xs-12">
    <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>

    <%= render(partial: 'partials/firstpost') %>
    <% else %>
    <p style="text-align:center;font-size:18px;font-family:Content-regular;margin:20px;">There are not posts on this blog, yet.</p>
    <% end %>
  </div>
<% end %>

<div class="hack-card-layout" id="hack-card-layout">
<% (0..@hacks.length-1).each do |a| %>
  <% if @blog['layout']=='grid' %>
    <div class="col-lg-6 col-xs-12 side-padding-5">
    <%= render(partial: 'partials/hackcard', locals: {hack: @hacks[a]}) %>
    </div>
    <% if (a+1)%2==0 %>
      <div class="clearfix visible-lg-block"></div>
    <% end %>
  <% elsif @blog['layout']=='list' %>
    <div class="col-xs-12">
      <%= render(partial: 'partials/blog_post', locals: {hack: @hacks[a]}) %>
    </div>
  <% end %>
<% end %>
</div>
<% if @hacks.length != 0 %>
<div class="col-xs-12 show-more">
  <button type="button" class="more" style="background-color:<%= @blog['theme_color'] %>" name="button">SHOW MORE</button>
</div>
<div class="col-xs-12 show-more-loading hidden">
  <button type="button" class="more" style="background-color:<%= @blog['theme_color'] %>" name="button" ><span><img src="/images/loading.gif" height="30px" width="30px" alt="Loading image" /></span></button>
</div>
<% end %>
</div>

<div class="col-lg-3 zeropadding">
  <%= render(partial: 'partials/blog_about', locals: {blog: @blog}) %>

</div>

<script type="text/javascript">
$('.more').unbind().click(function(e){
  $('.show-more').addClass('hidden');
  $('.show-more-loading').removeClass('hidden');
  $.ajax({
    type: "GET",
    url: "/more_blogposts?offset="+$('.hack-card-layout').find('.hack').length,
    success: function(html){
      $('.show-more').removeClass('hidden');
      $('.show-more-loading').addClass('hidden');
      if (html==""){
        $('.more').remove();
      }
      else {
      $("#hack-card-layout").append(html);


    }
    }
  });
});
$('.upvotes').unbind("click").click(function(e){
  var elementid = $(this).parents('.id').attr('id');
  var $click = $(this);
  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      if (data!=null){
        $.ajax({
          type: "POST",
          data: {
                id: elementid
                },
          dataType: "json",
          url: "/upvote_hack",
          success: function(data){
            console.log(data);
          }
        });
        var $upvote = $click.children('.upvote');
        if($upvote.hasClass('upvoted')){
          $upvote.removeClass('upvoted');
          $upvote.addClass('unupvoted');
          var upvotenum = +$click.children('.count').text() - 1 ;
          $click.children('.count').text(upvotenum);
        }
        else {
          $upvote.removeClass('unupvoted');
          $upvote.addClass('upvoted');
          var upvotenum = +$click.children('.count').text() + 1 ;
          $click.children('.count').text(upvotenum);
        }
      }
      else {
        // $('#login_popup').addClass('visible');
        // set_size();
        window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;
      }
    }
  });
});
$('.follow').click(function(e){
  var elementid = $(this).parents('.id').attr('id');
  var $click = $(this);

  $.ajax({
    type: "GET",
    dataType: "json",
    url: "/get_session_user",
    success: function(data){
      if (data!=null){

        $.ajax({
          type: "POST",
          data: {
                id: elementid
                },
          dataType: "json",
          url: "/follow_hack",
          success: function(data){
            console.log(data);
          }
        });
        var $follow = $click.children('.followimage');
        if($follow.hasClass('followed')){
          $follow.removeClass('followed');
          $follow.addClass('notfollowed');
          var follownum = +$click.children('.count').text() - 1 ;
          $click.children('.count').text(follownum);
        }
        else {
          $follow.removeClass('notfollowed');
          $follow.addClass('followed');
          var follownum = +$click.children('.count').text() + 1 ;
          $click.children('.count').text(follownum);
        }
      }
      else {
        window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;

        // $('#login_popup').addClass('visible');
        // set_size();
      }
    }
  });

});
</script>
