<% if @savedhacks.length!=0 %>
<div class="col-xs-12">
  <%= render(partial: 'partials/heading', locals: {heading: 'Saved DIYs/Hacks'}) %>
</div>
<% end %>
<% (0..@savedhacks.length-1).each do |n|%>
<div class="col-sm-6 col-xs-12 side-padding-5">
<%= render(partial: 'partials/hackcard', locals: {hack: @savedhacks[n]}) %>
</div>
<div class="clearfix visible-xs-block visible-sm-block"></div>
<% end %>

<% if @savedtips.length!=0 %>
<div class="col-xs-12">
  <%= render(partial: 'partials/heading', locals: {heading: 'Saved Tips'}) %>
</div>
<% end %>
<% (0..@savedtips.length-1).each do |n|%>
<div class="col-lg-4 col-xs-12 side-padding-5 small-tip">
<%= render(partial: 'partials/quotes', locals: {tip: @savedtips[n]}) %>
</div>
<% if (n+1)%3==0 %>
<div class="clearfix"></div>
<% end %>
<% end %>

<% if @savedvideos.length!=0 %>
<div class="col-xs-12">
  <%= render(partial: 'partials/heading', locals: {heading: 'Saved Videos'}) %>
</div>
<% end %>
<% (0..@savedvideos.length-1).each do |n|%>
<div class="col-lg-4 col-sm-6 col-xs-12 side-padding-5">
<%= render(partial: 'partials/videocard', locals: {video: @savedvideos[n]}) %>
</div>
<% if (n+1)%3==0 %>
<div class="clearfix">
</div>
<% end %>
<% end %>
<script>
$('.quote-cardsize .imagecard').each(function( index ) {
  var num = Math.floor((Math.random() * 15) + 1);
var imageUrl = "https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/tips/"+num+".jpg";
  $(this).css({'background-image':'url(' + imageUrl + ')'});
});
  $('.follow').remove();
  $('.upvotes').remove();
  $('.comment').remove();
</script>
