<% (0..@newtips.length-1).each do |n|%>
  <div class="col-lg-4 col-xs-12 side-padding-5 small-tip"><%= render(partial: 'partials/quotes', locals: {tip: @newtips[n]}) %>
  </div>
  <% if (n+1)%3==0 %>
  <div class="clearfix">
  </div>
  <% end %>
<% end %>
