<div class="tipcontent-container">
  <div class="col-xs-12">
    <%= render(partial: 'partials/heading', locals: {heading: 'Tips'}) %>
  </div>
  <% (1..1).each do |n|%>
  <div class="col-xs-12 add-tip">
    <div class="row">
      <div class="col-lg-6 col-xs-12 side-padding-5 col-lg-offset-3">
      <%= render(partial: 'partials/hintcreatecardtip', locals: {topic: 'Add your tip..'}) %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="tip-card-layout" id="tip-card-layout">
    <% (0..@tips.length-1).each do |n|%>
    <div class="col-lg-4 col-xs-12 side-padding-5 small-tip">
    <%= render(partial: 'partials/quotes', locals: {tip: @tips[n]}) %>
    </div>
    <% if (n+1)%3==0 %>
    <div class="clearfix"></div>
    <% end %>
    <% end %>
  </div>


  </div>
  <div class="col-xs-12 show-more">
    <button type="button" class="more" name="button">SHOW MORE</button>
  </div>
  <div class="col-xs-12 show-more-loading hidden">
    <button type="button" class="more" name="button" ><span><img src="/images/loading.gif" height="30px" width="30px" /></span></button>
  </div>
  <div id="create-tip" class="modal small-tip">
    <%= render(partial: 'partials/createtip') %>
  </div>
  <div class="modal loading-modal"></div>
  <%= javascript_include_tag 'screenshot' %>
