<div class="col-sm-1 col-sm-offset-0 share-layout share-layout-desktop hidden" style="position:fixed;top:40%;display:none;">
  <% if defined?(@blog) && !@blog['subdomain'].nil? %>
  <%= render(partial: 'partials/share', locals: {link: "http://"+@blog['subdomain']+".winkl.co/content/"+@content['slug']}) %>
  <% else %>
  <%= render(partial: 'partials/share', locals: {link: "http://winkl.co/content/"+@content['slug']}) %>
  <% end %>
  <br>
  <br>
</div>

<div class="col-lg-6 col-xs-12 col-lg-offset-3 content-container">
  <p class="date" style="text-align:center;text-transform:uppercase;"><%=  @content['created_at'] %></p>
</div>
<div class="col-lg-6 col-xs-12 col-lg-offset-3 content-container">
  <h1 class="content-title" style="text-align:center;text-transform:uppercase;"><%=  @content['title'] %></h1>
</div>
<div class="col-lg-6 col-xs-12 col-lg-offset-3 content-container">
  <h2 class="content-description" style=""><%= @content['description'] %></h2>
  <hr style="width:30%;border-top: 3px solid #000;margin-top:50px;">
</div>
<% if !@content['url'].empty? %>
  <div class="col-xs-6 col-xs-offset-3">
    <img src="<%= @content['image'] %>" style="width:100%;" alt="Post main image" />
  </div>
<% end %>
<div class="col-lg-6 col-xs-12 col-lg-offset-3 content-container">
  <div id="editor-container">

  </div>
</div>

<% if !@content['url'].empty? %>
  <div class="col-xs-12">
    <a href="<%= @content['url'] %>" type="button" class="full-article" target="_blank"><span><button type="button" class="more" name="button">FULL ARTICLE</button></span></a>
  </div>
<% end %>
<div class="col-lg-10 col-lg-offset-1 col-xs-12 content-container id" id="<%= @content['id'] %>" style="margin-top:40px;">
  <div class="row" style="margin-bottom:30px;">
    <div class="col-xs-12 col-sm-12">
      <% tags = @content['posttype'].split(',') %>
      <% tags.each do |tag| %>
      <p class="content-tag side-margin-5" style="float:left;"><%= tag %></p>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6 col-lg-offset-3" style="margin-left:5px;">


  <% if @content['counter_views'] ==1 %>
  <p class="views" style="float:left;"><%= @content['counter_views'] %> View</p>
  <% else %>
  <p class="views" style="float:left;"><%= @content['counter_views'] %> Views</p>
  <% end %>
  <div class="side-margin-10 upvotes pointer" style="float:left;">
    <p class="helpful-num count">
      <%= @content['counter_upvotes'] %>
    </p>
    <% if @content['hack_upvoted'] %>
        <img class="upvoted upvote side-margin-5" alt="Upvote Image" width="25px;" height="25px;" style="float:right;" />
    <% else %>
      <img class="unupvoted upvote side-margin-5" alt="not upvote Image" width="25px;" height="25px;" style="float:right;" />
    <% end %>

  </div>
  <div class="side-margin-10 follow pointer" style="float:left;">
    <p class="bookmark-num count">
      <%= @content['counter_follows'] %>
    </p>
    <% if @content['hack_followed'] %>
      <img class="followed follow side-margin-5" alt="Follow Image" width="25px;" height="25px;" style="float:right;" />
    <% else %>
      <img class="notfollowed follow side-margin-5" alt="not followed Image" width="25px;" height="25px;" style="float:right;" />
    <% end %>

  </div>
</div>

  <!-- <div class="side-margin-10" style="float:right;">
    <p class="comment-num count">
      5
    </p>
    <img src="/assets/chat-normal.svg" alt="Image" width="20px;" height="20px;" style="float:right;" class="side-margin-5" onmouseover="chat_hover(this);" onmouseout="chat_unhover(this);" />
  </div> -->
  <!-- <p class="views side-margin-10" style="float:left;">10k views</p> -->
</div>
<div class="col-lg-5 col-xs-12 col-lg-offset-1" style="margin-top:30px;">
  <% if @blog['facebook']!="" || @blog['instagram']!="" || @blog['twitter']!="" || @blog['pinterest']!=""  %>
    <div class="col-xs-12" style="margin-top:20px;margin-bottom:40px;">
      <p class="blog-aboutme" style="background-color:#fff;color:#333;border-radius:5px;font-family:Content-regular;font-size:18px;">FOLLOW ME</p>
      <div class="social" style="text-align:center;float:none;">
        <% if @blog['facebook']!="" %>
        <li class="socialicons" style="float:none;" ><a href="https://facebook.com/<%= @blog['facebook'] %>" class="social-icon" style="float:none;" target="_blank"><%= image_tag('/images/fb_share.svg',size: "30x30", alt: "facebook icon", class: "icon", style: "display:initial;") %></a></li>
        <% end %>
        <% if @blog['instagram']!="" %>
        <li class="socialicons" style="float:none;" ><a href="https://www.instagram.com/<%= @blog['instagram'] %>" class="social-icon" style="float:none;" target="_blank"><%= image_tag('instagram.svg', size: "30x30", alt: "Instagram icon", class: "icon", style: "display:initial;") %></a></li>
        <% end %>
        <% if @blog['twitter']!="" %>
        <li class="socialicons" style="float:none;" ><a href="https://twitter.com/<%= @blog['twitter'] %>" class="social-icon" style="float:none;" target="_blank"><%= image_tag('/images/twitter_share.svg', size: "30x30", alt: "Twitter icon", class: "icon", style: "display:initial;") %></a></li>
        <% end %>
        <% if @blog['pinterest']!="" %>
        <li class="socialicons" style="float:none;" ><a href="https://pinterest.com/<%= @blog['pinterest'] %>" class="social-icon" style="float:none;" target="_blank"><%= image_tag('/images/pin_share.png', size: "30x30", alt: "Pinterest icon", class: "icon", style: "display:initial;") %></a></li>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="col-lg-5" style="margin-top:30px">
  <% if defined?(@blog) && !@blog.nil? %>
  <div class="col-xs-12" style="text-align:center;margin-top:20px;margin-bottom:40px">
  <p class="blog-aboutme" style="background-color:#fff;color:#333;border-radius:5px;font-family:Content-regular;font-size:18px;">DONT MISS OUT</p>
  <p style="font-family:Content-regular;text-align:center;margin-top:0px;margin-bottom:10px;">Subscribe to get updates from the blog and never miss a post!</p>
  <% if @blog['blog_followed']==false %>
  <button type="button" id="subscribe" value="<%= @blog['id'] %>" name="button">SUBSCRIBE</button>
  <button type="button" id="unsubscribe" value="<%= @blog['id'] %>" name="button" class="hidden">SUBSCRIBED</button>
  <% else %>
  <button type="button" id="subscribe" value="<%= @blog['id'] %>" name="button" class="hidden">SUBSCRIBE</button>
  <button type="button" id="unsubscribe" value="<%= @blog['id'] %>" name="button">SUBSCRIBED</button>
  <% end %>
  <script type="text/javascript">
    $('#subscribe').click(function(){
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "/get_session_user",
        success: function(data){
          if (data!=null){
            $.ajax({
              type: "POST",
              data: {
                    id: $('#subscribe').val()
                    },
              dataType: "json",
              url: "/follow_blog",
              success: function(data){
                console.log(data);
              }
            });
            $('#subscribe').addClass('hidden');
            $('#unsubscribe').removeClass('hidden');
          }
          else {
            window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;
          }
        }
      });
    });

    $('#unsubscribe').click(function(){
      $.ajax({
        type: "GET",
        dataType: "json",
        url: "/get_session_user",
        success: function(data){
          if (data!=null){
            $.ajax({
              type: "POST",
              data: {
                    id: $('#unsubscribe').val()
                    },
              dataType: "json",
              url: "/follow_blog",
              success: function(data){
                console.log(data);
              }
            });
            $('#unsubscribe').addClass('hidden');
            $('#subscribe').removeClass('hidden');
          }
          else {
            window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;
          }
        }
      });

    });
  </script>
  </div>
  <% end %>
</div>
<div class="col-lg-8 col-lg-offset-2 col-xs-10 col-xs-offset-1" style="margin-top:0px;margin-bottom:30px;" >

  <div class="col-xs-12">
    <%= render(partial: 'partials/heading', locals: {heading: "Contribute to the discussion"}) %>
  </div>
<div id="disqus_thread"></div>
</div>


<div class="mobile-share hidden">
  <% if defined?(@blog) && !@blog['subdomain'].nil? %>
  <%= render(partial: 'partials/sharemob', locals: {link: "http://"+@blog['subdomain']+".winkl.co/content/"+@content['slug']}) %>
  <% else %>
  <%= render(partial: 'partials/sharemob', locals: {link: "http://winkl.co/content/"+@content['slug']}) %>
  <% end %>
</div>


<script>
var test = []
test = `<%= @content['extrascript'].split(',') %>`;
test = test.split('&quot;').join("");
test = test.replace("[","");
test = test.replace("]","");
test = test.split(",");
for(var i=0;i<test.length;i++){
  test[i] = test[i].replace(" ","");
  $.getScript(test[i]);
}
// $.getScript('//platform.twitter.com/widgets.js');
// $.getScript('//platform.instagram.com/en_US/embeds.js');
var disqus_config = function () {
this.page.url = 'http://<%= @blog['subdomain'] %>.winkl.co/content/<%= @content['slug'] %>';
this.page.identifier = '/content/<%= @content['slug'] %>';
};

(function() {
var d = document, s = d.createElement('script');
s.src = '//winkl.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- <%= javascript_include_tag 'content', 'data-turbolinks-track': 'reload' %> -->
<script>
var toolbarOptions = [
  []
];
  var quill = new Quill('#editor-container', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow'
  });
  var toolbar = quill.getModule('toolbar');
  toolbar.addHandler('link', showLinkUI);
  var Embed = Quill.import('blots/embed');

if (typeof ProcLink == 'undefined'){
  class ProcLink extends Embed {
      static create(value) {
          let node = super.create(value);
          // give it some margin
          node.setAttribute('style', "");
          node.setAttribute('data-proc', value.value);
          node.innerHTML = value.text;
          return node;
      }
  }

  ProcLink.blotName = 'proc-link';
  ProcLink.className = 'proc-link';
  ProcLink.tagName = 'blockquote';

  Quill.register({
      'formats/proc-link': ProcLink
  });
}

  // class ScriptLink extends Embed {
  //     static create(value) {
  //         let node = super.create(value);
  //         // give it some margin
  //         node.setAttribute('style', "");
  //         node.setAttribute('data-proc', value.value);
  //         node.innerHTML = value.text;
  //         return node;
  //     }
  // }
  //
  // ScriptLink.blotName = 'script';
  // ScriptLink.tagName = 'span';
  //
  // class ImageCaption extends Embed {
  //     static create(value) {
  //         let node = super.create(value);
  //         // give it some margin
  //         node.setAttribute('style', "");
  //         node.setAttribute('data-proc', value.value);
  //         node.innerHTML = value.text;
  //         return node;
  //     }
  // }
  //
  // ImageCaption.blotName = 'image-caption';
  // ImageCaption.className = 'image-caption';
  // ImageCaption.tagName = 'textarea';


  // Quill.register({
  //     'formats/script': ScriptLink
  // });
  // Quill.register({
  //     'formats/image-caption': ImageCaption
  // });

  // class ImageCaption extends Inline {
  //     static create(value) {
  //         var node = super.create(value);
  //         // give it some margin
  //         node.setAttribute('style', "background-color:#fff;color:333;font-size:12px;");
  //         node.setAttribute('data-proc', value.value);
  //         node.setAttribute('contenteditable',true);
  //         node.innerHTML = value.text;
  //         return node;
  //     }
  // }
  //
  // ImageCaption.blotName = 'image-caption';
  // ImageCaption.className = 'image-caption';
  // ImageCaption.tagName = 'p';
  //
  // Quill.register({
  //     'formats/image-caption': ImageCaption
  //   });

  function showLinkUI(value) {
      // if (value) {
      //   var href = prompt('Enter the URL');
      //   this.quill.pasteHTML('<a href="'+href+'">'+href+'</a>');
      // } else {
      //   this.quill.format('link', false);
      // }
  }

  quill.enable(false);
  quill.container.firstChild.innerHTML = `<%= (@content['hack'].html_safe) %>`;
  $(document).ready(function() {

  });

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1753312334956150',
      cookie     : true,
     xfbml      : true,
     version    : 'v2.8'
   });
   FB.AppEvents.logPageView();
  };
  $.ajaxSetup({ cache: true });
  $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
    FB.init({
      appId: '1753312334956150',
      cookie     : true,
     xfbml      : true,
     version    : 'v2.8'// or v2.1, v2.2, v2.3, ...
    });
    $('.fb-icon').click(function(e){

      FB.ui({
        method: 'share',
        mobile_iframe: true,
        href: window.location.href,
      }, function(response){});
    });
  });

  $(document).ready(function () {


  });
  $('.hint-card').remove();
    $('.ql-toolbar').remove();
  function Utils() {

  }

  $('.upvotes').click(function(e){
    var elementid = $(this).parents('.id').attr('id');
    var $click = $(this);
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/get_session_user",
      success: function(data){
        if (data!=null){
          $.ajax({
            type: "POST",
            data: {
                  id: elementid
                  },
            dataType: "json",
            url: "/upvote_hack",
            success: function(data){
            }
          });
          var $upvote = $click.children('.upvote');
          if($upvote.hasClass('upvoted')){
            $upvote.removeClass('upvoted');
            $upvote.addClass('unupvoted');
            var upvotenum = +$click.children('.count').text() - 1 ;
            $click.children('.count').text(upvotenum);
          }
          else {
            $upvote.removeClass('unupvoted');
            $upvote.addClass('upvoted');
            var upvotenum = +$click.children('.count').text() + 1 ;
            $click.children('.count').text(upvotenum);
          }
        }
        else {
          window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;

          // $('#login_popup').addClass('visible');
        }
      }
    });
  });
  $('.follow').click(function(e){
    var elementid = $(this).parents('.id').attr('id');
    var $click = $(this);
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/get_session_user",
      success: function(data){
        if (data!=null){
          $.ajax({
            type: "POST",
            data: {
                  id: elementid
                  },
            dataType: "json",
            url: "/follow_hack",
            success: function(data){
            }
          });
          var $follow = $click.children('.follow');
          if($follow.hasClass('followed')){
            $follow.removeClass('followed');
            $follow.addClass('notfollowed');
            var follownum = +$click.children('.count').text() - 1 ;
            $click.children('.count').text(follownum);
          }
          else {
            $follow.removeClass('notfollowed');
            $follow.addClass('followed');
            var follownum = +$click.children('.count').text() + 1 ;
            $click.children('.count').text(follownum);
          }
        }
        else {
          window.location.href = "http://www.winkl.co/login_page?from="+window.location.href;

          // $('#login_popup').addClass('visible');
        }
      }
    });
  });
  $(document).ready(function () {
    $(window).scroll(function(){
      if($('.tab-menu').offset().top - $(window).scrollTop()<60){
        $('.share-layout-desktop').removeClass('hidden');
        }
      else {
        $('.share-layout-desktop').addClass('hidden');
        }
    });
  });
  $('iframe').css('max-width',$('#editor-container').width());
  $('.ql-video')[0].width = $('#editor-container').width();
  $('.ql-video')[0].height = ($('#editor-container').width()/16)*9;
  $(window).resize(function(){
    $('iframe').css('max-width',$('#editor-container').width());
    $('.ql-video')[0].width = $('#editor-container').width();
    $('.ql-video')[0].height = ($('#editor-container').width()/16)*9;
  });

</script>
