<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1342737595777850",
        enable_page_level_ads: true
      });
    </script>
    <% if @pagename.empty? %>
    <title>Winkl</title>
    <% else %>
    <title><%= @pagename %></title>
    <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'style', media: 'all' %>
      <%= stylesheet_link_tag 'styles', media: 'all' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'masonry', 'data-turbolinks-track': 'reload' %>

      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="376315237259-7obumn5nf7pg1a6qnc6jmkd084rfb6th">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="2CdhIXg6dEcaaAb2cQqeO65aj3MX4BTULIQnlhU2jHM" />
    <% if defined?(@pagedescription) %>
    <meta name="description" content="<%= @pagedescription %>">
    <% else %>
    <meta name="description" content="Create, share and discover the best articles, videos, ideas and tutorials on Fashion, Beauty and Style.">
    <% end %>
    <% if defined?(@content) %>
      <meta property="og:url" content="http://www.winkl.co/content/<%= @content['slug'] %>" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="<%=  @content['title'] %>" />
      <meta property="og:description" content="<%= @content['description'] %>" />
      <meta property="og:image" content="<%= @content['image'] %>" />
      <meta property="og:image:width" content="600" />
      <meta property="og:image:height" content="314" />
    <% end %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <% if @type.nil? %>
    <body>
  <% else %>
    <body style="background-color:#fff;">
  <% end %>
    <div id="main" class="scroll-wrapper">
    <nav class="navbar navbar-default scroll-navbar" id="header">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          onclick="openNav()"
          style="border:0px;
          padding-bottom:0px;
          padding-top:2px;">
          <span><%= image_tag('menu.svg', alt: "side menubar", size: '25x20') %></span>
        </button>
        <div class="logolayout">
          <a href="/"><%= image_tag('logo_horizontal.png', alt: "Winkl Logo", class: "logo") %></a>

        </div>
      </div>

      <div class="collapse navbar-collapse" id="collapsemenu">
        <ul class="topnav">
          <div class="col-sm-12 zeropadding zerocurvature" style="vertical-align:top;">
            <div>
              <form class="search" role="search" style="margin: 0 auto;margin-left:20px;">
                <div class="form-group searchbar">
                    <input type="text" class="searchtext" placeholder="Search"></input>
                    <%= image_tag('search.svg', alt: "Search button", class: "searchimg") %>
                </div>

              </form>
            </div>

            <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
            <a href="http://<%= @blog['subdomain'] %>.winkl.co">
              <div class="post button" onmouseover="" style="background-color:transparent;color:#42ae82;width:80px;">
                My blog
              </div>
            </a>
            <% else %>
            <a href="/blogger">
              <div class="post button" onmouseover="">
                I AM A BLOGGER
              </div>
            </a>
            <% end %>

            <% if session['login'].nil? %>
              <div class="login button capitals" style="margin-right:10px;" id="login">
                LOGIN
              </div>
            <% end %>
            <% if !session['login'].nil? %>
            <a href="/notification">
              <div class="notification button capitals dropdown hidden">
                <img src="https://image.flaticon.com/icons/svg/61/61073.svg" alt="" height="25px" width="25px" />


              </div>
            </a>
            <% end %>
            <% if !session['login'].nil? %>
              <div class="user button dropdown pointer">
                <img src="<%= session['user']['profile_pic'] %>" alt="Profile picture" class="img-circle" height="30px" width="30px" />
                <div class="dropdown-content">
                  <!-- <a href="#">Drafts</a> -->

                  <!-- <a href="#">Settings</a> -->
                  <a href="/saved">Saved</a>
                  <a href="#" onclick="signOut();">Logout</a>
                </div>
              </div>
            <% end %>
          </div>


        </ul>
      </div>


      <div id="mySidenav" class="sidenav" style="position:fixed;">
        <img src="/images/close.svg" alt="Close icon" class="closebtn" href="#" onclick="closeNav()" onmouseover="" style="cursor: pointer;"/>
        <div class="col-xs-12" style="margin-top:20px;margin-bottom:20px;">
          <div class="row">

            <div class="col-xs-6 zeropadding">
              <% if session['login'].nil? %>
                <div class="login button capitals" id="loginslider" style="top:0px;">
                  LOGIN
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <form class="search" role="search" style="margin-left: 15px;">
            <div class="form-group searchbar">
                <input type="text" class="searchtext" placeholder="Search"></input>
                <img class="searchimg" src="/images/search.svg" alt="Search icon"></img>
            </div>

          </form>
        </div>

        <ul class="topnav">
          <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
          <li><a href="http://<%= @blog['subdomain'] %>.winkl.co" class="sidenav-list-a">My Blog</a></li>
          <% end %>
          <li><a href="/blogger" class="sidenav-list-a">I AM A BLOGGER</a></li>


          <li><hr></li>
          <% if !session['login'].nil? %>
          <li><a class="sidenav-list-a" href="/saved">Saved</a></li>
          <li><a class="sidenav-list-a" href="/logout">Logout</a></li>
          <% end %>

        </ul>
        <div class="social-sidenav">
          <div class="row" >

            <div class="col-xs-2 col-xs-offset-1">
              <a class="socialicons" href="https://facebook.com/itsonwinkl"  target="_blank"><%= image_tag('facebook_black.svg',size: "15x15", alt: "Facebook icon", class: "icon") %></a>
            </div>
            <div class="col-xs-2">
              <a class="socialicons" href="https://instagram.com/itsonwinkl" target="_blank"><%= image_tag('instagram.svg',size: "15x15", alt: "Instagram icon", class: "icon") %></a>
            </div>
            <div class="col-xs-2">
              <a class="socialicons" href="https://in.pinterest.com/ItsOnWinkl/" target="_blank"><%= image_tag('pinterest_black.svg',size: "15x15", alt: "Pinterest icon", class: "icon") %></a>
            </div>
            <div class="col-xs-2">
              <a class="socialicons" href="https://www.youtube.com/channel/UCyHZsnbcur-nZP3LGut5gYA" target="_blank"><%= image_tag('youtube.svg',size: "15x15", alt: "Youtube icon", class: "icon") %></a>
            </div>
            <div class="col-xs-2">
              <a class="socialicons" href="https://twitter.com/itsonwinkl" target="_blank"><%= image_tag('twitter_black.svg',size: "15x15", alt: "Twitter icon", class: "icon") %></a>
            </div>

          </div>
        </div>

      </div>


    </nav>


    <% if @pagename == "Fashion, beauty & lifestyle from the best bloggers & influencers" %>
        <header class="banner" style="margin-top:55px;margin-bottom:-70px;overflow:hidden;">
          <div class="container">
            <div class="col-sm-8 col-xs-12 home-banner">
              <h1 class="banner-title" style="margin:0 0 20px;font-family:Content-bold;line-height:45px;">For the love of Fashion, Beauty & Style.</h1>
              <h2 style="margin:0 0 0px;line-height:30px;font-size:18px;">Winkl is driven by you. Your thoughts. Your voice. Your style.</h2>
              <a href="/blogger">
                <button type="button" class="post iamblogger" style="float:left;margin-left:10px;margin-top:20px;height:40px;" name="button">LEARN HOW</button>
              </a>

            </div>
            <div class="col-sm-4 banner-image">
              <%= image_tag("https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/banner_illustration.jpg", alt: "Winkl illustration", height: '370', width: 'auto' ) %>

            </div>
          </div>
        </header>
    <% end %>

    <% if defined?(@type) && @type == "Content" && session['subscribe'].nil? %>
      <div class="subscribe-banner" style="padding-top:10px;padding-bottom:10px;">
        <div class="container">
          <div class="col-sm-2 col-xs-2 col-sm-offset-1 col-xs-offset-4">
            <%= image_tag("https://s3-us-west-2.amazonaws.com/winkl-production/Indicator_icons/email.gif", alt: "Email illustration", size: '100x100' ) %>
          </div>
          <div class="col-sm-5 col-xs-12">
            <h1 id="email-pitch" style="margin:30px 0 0px 0px;font-family:Content-bold;text-align:center;line-height:25px;color:#fff;font-size:20px;">The best of fashion, beauty and style, delivered weekly!</h1>
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="email-card-form">
              <input id="emailid" type="email" class="email-card-input" name="email" placeholder="Your Email">
              <button class="email-card-submit" id="email-submit" val="">Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    <% end %>


        <div class="container zeropadding">
          <div class="col-sm-12 content-holder" style="margin-bottom:10px;margin-top:90px;">
            <%= yield %>
          </div>
        </div>
        <% if defined?(@content) %>
          <div class="col-xs-12" style="width:100%;background-color:#f1f1f1;">
          <div class="col-xs-12">
            <%= render(partial: 'partials/heading', locals: {heading: 'Posts you might like'}) %>
          </div>



          <div class="col-lg-10 col-xs-12 col-lg-offset-1 more-">
            <% (0..@hacks.length-1).each do |n|%>
            <div class="col-lg-4 col-sm-6 col-xs-12 side-padding-5">
            <%= render(partial: 'partials/hackcard', locals: {hack: @hacks[n], color: 'grey'}) %>
            </div>
            <% if (n+1)%3==0 %>
            <div class="clearfix visible-lg-block"></div>
            <% end %>
            <% end %>
          </div>
          </div>
        <% end %>


        <% if @type.nil? %>
        <div class="container">
          <div class="row">
            <div class="footer col-xs-12">
              <footer class="global-footer content-loaded">
                <ul>
                  <li class="copyright" style="font-weight:bold;">© 2017 WINKL</li>
                  <li><%= link_to("TERMS",{controller: 'about', action: 'terms'}, class: "footer-item") %></li>
                  <li><%= link_to("ABOUT",{controller: 'about', action: 'about'}, class: "footer-item") %></li>
                  <li><%= link_to("PRIVACY",{controller: 'about', action: 'privacy'}, class: "footer-item") %></li>
                  <!-- <li><%= link_to("PRESS",{controller: 'about', action: 'press'}, class: "footer-item") %></li> -->
                  <!-- <li><%= link_to("JOBS",{controller: 'about', action: 'jobs'}, class: "footer-item") %></li> -->
                  <!-- <li><%= link_to("FEEDBACK",{controller: 'about', action: 'feedback'}, class: "footer-item") %></li> -->
                  <li><%= link_to("CONTACT",{controller: 'about', action: 'contact'}, class: "footer-item") %></li>
                </ul>

                <p class="footer-item">By using our service, you agree to our <a href="/terms" class="footer-item">Terms</a> and <a href="/privacy" class="footer-item">Privacy</a>. <br>Winkl name &amp; logo and Winkl logo are trademarks of Winkl.</p>
                <div class="social">
                  <li class="socialicons" ><a href="https://facebook.com/itsonwinkl" class="social-icon" target="_blank"><%= image_tag('facebook_black.svg',size: "15x15", alt: "facebook icon", class: "icon") %></a></li>
                  <li class="socialicons" ><a href="https://www.instagram.com/itsonwinkl" class="social-icon" target="_blank"><%= image_tag('instagram.svg', size: "15x15", alt: "Instagram icon", class: "icon") %></a></li>
                  <li class="socialicons" ><a href="https://in.pinterest.com/ItsOnWinkl/" class="social-icon" target="_blank"><%= image_tag('pinterest_black.svg',size: "15x15", alt: "Pinterest icon", class: "icon") %></a></li>
                  <li class="socialicons" ><a href="https://www.youtube.com/channel/UCyHZsnbcur-nZP3LGut5gYA" class="social-icon" target="_blank"><%= image_tag('youtube.svg', size: "15x15", alt: "Youtube icon", class: "icon") %></a></li>
                  <li class="socialicons" ><a href="https://twitter.com/itsonwinkl" class="social-icon" target="_blank"><%= image_tag('twitter_black.svg', size: "15x15", alt: "Twitter icon", class: "icon") %></a></li>
                </div>
              </footer>
            </div>
          </div>
        </div>
        <% end %>

        <div id="login_popup" class="modal">
          <%= render(partial: 'partials/signin') %>
        </div>

        <div id="post_popup" class="modal">
          <%= render(partial: 'partials/post') %>
        </div>
        <div id="search_popup" class="modal search-modal">
          <%= render(partial: 'partials/search') %>
        </div>
        <div id="subscribe_popup" class="modal subscribe-modal">
          <%= render(partial: 'partials/subscribe') %>
        </div>
      </div>

  </body>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'script' %>
</html>
