<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <% if @pagename.empty? %>
    <title>Winkl</title>
    <% else %>
    <title><%= @pagename %></title>
    <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
      <%= stylesheet_link_tag 'style', media: 'all' %>
      <%= stylesheet_link_tag 'styles', media: 'all' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.8.min.js"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>

      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="376315237259-7obumn5nf7pg1a6qnc6jmkd084rfb6th">
    <% if defined?(@pagedescription) %>
    <meta name="description" content="<%= @pagedescription %>">
    <% else %>
    <meta name="description" content="Fashion Blogger">
    <% end %>
  </head>
  <body style="background-color:#fff;">
    <div id="main" class="scroll-wrapper">
    <nav class="navbar navbar-default fixed-navbar" id="header">

      <div class="logolayout" style="height:50px;">
        <a href="/" style="margin-left:20px;"><%= image_tag('logo_horizontal.png', alt: "Winkl logo", class: "", size: "110x40") %></a>

      </div>

        <ul class="topnav">
          <div class="col-sm-12 zeropadding zerocurvature" style="vertical-align:top;background-color: #fff;padding-top:10px;">
            <div>

            </div>
            <% if session['login'].nil? %>
              <div class="login button capitals" style="margin-right:10px;top:0px;" id="login">
                LOGIN
              </div>
            <% end %>
            <% if !session['login'].nil? %>
              <div class="user button dropdown pointer" style="top:0px;">
                <img src="<%= session['user']['profile_pic'] %>" alt="Profile picture" class="img-circle" height="30px" width="30px" />
                <div class="dropdown-content">
                  <!-- <a href="#">Drafts</a> -->

                  <!-- <a href="#">Settings</a> -->
                  <a href="/saved">Saved</a>
                  <a href="#" onclick="signOut();">Logout</a>
                </div>
              </div>
            <% end %>
          </div>


        </ul>



    </nav>



    <div id="main" style="background-color:#fff;">



            <%= yield %>


    </div>
    <div class="container">
      <div class="row">
        <div class="footer col-xs-12" style="background-color:#fff;">
          <footer class="global-footer content-loaded">
            <ul>
              <li class="copyright" style="font-weight:bold;">© 2017 WINKL</li>
              <li><%= link_to("TERMS",{controller: 'about', action: 'terms'}, class: "footer-item") %></li>
              <li><%= link_to("ABOUT",{controller: 'about', action: 'about'}, class: "footer-item") %></li>
              <li><%= link_to("PRIVACY",{controller: 'about', action: 'privacy'}, class: "footer-item") %></li>
              <!-- <li><%= link_to("PRESS",{controller: 'about', action: 'press'}, class: "footer-item") %></li> -->
              <!-- <li><%= link_to("JOBS",{controller: 'about', action: 'jobs'}, class: "footer-item") %></li> -->
              <!-- <li><%= link_to("FEEDBACK",{controller: 'about', action: 'feedback'}, class: "footer-item") %></li> -->
              <li><%= link_to("CONTACT",{controller: 'about', action: 'contact'}, class: "footer-item") %></li>
            </ul>

            <p class="footer-item">By using our service, you agree to our <a href="/terms" class="footer-item">Terms</a> and <a href="/privacy" class="footer-item">Privacy</a>. <br>Winkl name &amp; logo and Winkl logo are trademarks of Winkl.</p>
            <div class="social">
              <li class="socialicons" ><a href="https://facebook.com/itsonwinkl" class="social-icon" target="_blank"><%= image_tag('facebook_black.svg',size: "15x15", alt: "facebook icon", class: "icon") %></a></li>
              <li class="socialicons" ><a href="https://www.instagram.com/itsonwinkl" class="social-icon" target="_blank"><%= image_tag('instagram.svg', size: "15x15", alt: "Instagram icon", class: "icon") %></a></li>
              <li class="socialicons" ><a href="https://in.pinterest.com/ItsOnWinkl/" class="social-icon" target="_blank"><%= image_tag('pinterest_black.svg',size: "15x15", alt: "Pinterest icon", class: "icon") %></a></li>
              <li class="socialicons" ><a href="https://www.youtube.com/channel/UCyHZsnbcur-nZP3LGut5gYA" class="social-icon" target="_blank"><%= image_tag('youtube.svg', size: "15x15", alt: "Youtube icon", class: "icon") %></a></li>
              <li class="socialicons" ><a href="https://twitter.com/itsonwinkl" class="social-icon" target="_blank"><%= image_tag('twitter_black.svg', size: "15x15", alt: "Twitter icon", class: "icon") %></a></li>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <div id="login_popup" class="modal">
      <%= render(partial: 'partials/signin', locals: {location: 'create_blog'}) %>
    </div>
    </div>
  </body>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'script' %>
</html>
<script type="text/javascript">
  $('#create-blog,#create-blog2').click(function(e){
    $.ajax({
      type: "GET",
      dataType: "json",
      url: "/get_session_user",
      success: function(data){
        if (data!=null){
          window.location.href = "/create_blog"
        }
        else {
          $('#login_popup').addClass('visible');
          set_size();
        }
    }
  });
});
</script>
