<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <% if @pagename.empty? %>
    <title>Winkl</title>
    <% else %>
    <title><%= @pagename %></title>
    <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
      <%= stylesheet_link_tag 'style', media: 'all' %>
      <%= stylesheet_link_tag 'styles', media: 'all' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.8.min.js"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>

      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="376315237259-7obumn5nf7pg1a6qnc6jmkd084rfb6th">
  </head>
  <body style="background-color:#fff;">
    <nav class="navbar navbar-default fixed-navbar" id="header">

      <div class="logolayout" style="height:50px;">
        <a href="/" style="margin-left:20px;"><%= image_tag('logo_horizontal.png', alt: "Winkl logo", class: "", size: "110x40") %></a>

      </div>

        <ul class="topnav">
          <div class="col-sm-12 zeropadding zerocurvature" style="vertical-align:top;background-color: #fff;padding-top:10px;">
            <div>

            </div>
            <div class="publish button capitals" id="proceed-create" onmouseover="">
              PUBLISH
            </div>
            <div class="publish loading hidden" id="loading">
              Loading..
            </div>
            <div class="publish button capitals" id="post-save" onmouseover="">
              Save
            </div>
            <div class="cancel button capitals" id="back" onclick="window.location.href = '/'">
              Cancel
            </div>


          </div>


        </ul>



    </nav>
    <div id="main" style="background-color:#fff;height:100%;">

        <div class="container zeropadding">
          <div class="col-sm-12" style="margin-bottom:10px;">
            <%= yield %>
          </div>
        </div>
      </div>
      <div id="login_popup" class="modal">
        <%= render(partial: 'partials/signin') %>
      </div>
  </body>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'script' %>
</html>
