<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <% if @pagename.empty? %>
    <title>Winkl</title>
    <% else %>
    <title><%= @pagename %></title>
    <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
      <%= stylesheet_link_tag 'style', media: 'all' %>
      <%= stylesheet_link_tag 'styles', media: 'all' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.8.min.js"></script>
      <script src="https://apis.google.com/js/platform.js" async defer></script>

      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="376315237259-7obumn5nf7pg1a6qnc6jmkd084rfb6th">
    <% if defined?(@pagedescription) %>
    <meta name="description" content="<%= @pagedescription %>">
    <% else %>
    <meta name="description" content="Dashboard">
    <% end %>
  </head>
  <body style="background-color:#fff;">
    <% if !session['login'].nil? %>
    <nav class="navbar navbar-default fixed-navbar" id="header">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
          onclick="openNav()"
          style="border:0px;
          padding-bottom:0px;
          padding-top:2px;">
          <span><%= image_tag('menu.svg', alt: "side menubar", size: '25x20') %></span>
        </button>
        <div class="logolayout" style="height:50px;">
          <a href="http://winkl.in" style="margin-left:20px;"><%= image_tag('logo_horizontal.png', alt: "Winkl logo", class: "", size: "110x40") %></a>

        </div>
      </div>

      <div class="collapse navbar-collapse" id="collapsemenu">
      <ul class="topnav">
        <div class="col-sm-12 zeropadding zerocurvature" style="vertical-align:top;background-color: #fff;padding-top:10px;">
          <div>

          </div>
          <% if !session['login'].nil? %>
          <% if defined?(@create) %>
          <a href="/create">
            <div class="post button capitals" onmouseover="" style="top:0px;">
              CREATE A POST
            </div>
          </a>
          <% end %>

          <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
          <a href="/dashboard">
            <div class="dashboard-button button capitals" onmouseover="" style="top:0px;">
              Manage Blog
            </div>
            </a>
          <% end %>
          <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
          <a href="/">
            <div class="post button" onmouseover="" style="background-color:transparent;color:#42ae82;width:80px;top:0px;">
              My blog
            </div>
          </a>
          <% end %>

          <% end %>
          <% if !session['login'].nil? %>
            <div class="user button dropdown pointer" style="top:0px;">
              <img src="<%= session['user']['profile_pic'] %>" alt="Profile picture" class="img-circle" height="30px" width="30px" />
              <div class="dropdown-content">
                <!-- <a href="#">Drafts</a> -->
                <!-- <a href="#">Settings</a> -->
                <a href="/saved" target="_blank">Saved</a>
                <a href="/create">New Post</a>
                <a href="/drafts">Drafts</a>


                <a href="#" onclick="signOut();">Logout</a>
              </div>
            </div>
          <% end %>


        </div>


      </ul>
    </div>
    <div id="mySidenav" class="sidenav" style="position:fixed;">
      <img src="/images/close.svg" alt="Close icon" class="closebtn" href="#" onclick="closeNav()" onmouseover="" style="cursor: pointer;"/>
      <div class="col-xs-12" style="margin-top:20px;margin-bottom:20px;">
        <div class="row">

        </div>
      </div>
      <div class="row">

      </div>

      <ul class="topnav" >
        <% if !session['login'].nil? %>
        <% if defined?(@create) %>
        <li><a href="/create" class="sidenav-list-a">CREATE A POST</a></li>

        <% end %>

        <% if defined?(@blog) && !@blog.nil? && !session['user'].nil? && !@blog['blog_user'].nil? && @blog['blog_user']['id']==session['user']['id']%>
        <li><a href="/dashboard" class="sidenav-list-a">Manage Blog</a></li>
        <% end %>
        <% end %>



        <li><hr></li>
        <% if !session['login'].nil? %>
        <li><a class="sidenav-list-a" href="/saved">Saved</a></li>
        <li><a class="sidenav-list-a" href="/logout">Logout</a></li>
        <% end %>

      </ul>

    </div>



    </nav>
  <% end %>


    <div id="main" style="background-color:#f9f9f9;">

        <div class="container zeropadding">
          <div class="col-sm-12" style="margin-bottom:40px;margin-top:40px;">
            <%= yield %>
          </div>
        </div>
    </div>
      <div id="login_popup" class="modal">
        <%= render(partial: 'partials/signin') %>
      </div>

      </div>
      <div class="container footer-container">
        <div class="row">
          <div class="footer col-xs-12" style="background-color:#fff;">
            <footer class="global-footer content-loaded" style="margin-top:0px;padding-top:0px;margin-bottom:0px;border:0px;">
              <div class="jumbotron" style="margin-bottom:0px;">
                <% if defined?(@blog) && !@blog.nil? %>
                <ul style="list-style-type:none;margin:0px;padding:0px;">
                  <div class="social">
                    <% if !@blog['facebook'].nil? && !@blog['facebook'].empty? %>
                    <li class="socialicons" ><a href="https://facebook.com/<%= @blog['facebook'] %>" class="social-icon footer-social" target="_blank"><%= image_tag('facebook_black.svg',size: "15x15", alt: "facebook icon", class: "icon") %></a></li>
                    <% end %>
                    <% if !@blog['instagram'].nil? && !@blog['instagram'].empty? %>
                    <li class="socialicons" ><a href="https://www.instagram.com/<%= @blog['instagram'] %>" class="social-icon footer-social" target="_blank"><%= image_tag('instagram.svg', size: "15x15", alt: "Instagram icon", class: "icon") %></a></li>
                    <% end %>
                    <% if !@blog['twitter'].nil? && !@blog['twitter'].empty? %>
                    <li class="socialicons" ><a href="https://twitter.com/<%= @blog['twitter'] %>" class="social-icon footer-social" target="_blank"><%= image_tag('twitter_black.svg', size: "15x15", alt: "Twitter icon", class: "icon") %></a></li>
                    <% end %>
                    <% if !@blog['pinterest'].nil? && !@blog['pinterest'].empty? %>
                    <li class="socialicons" ><a href="https://pinterest.com/<%= @blog['pinterest'] %>" class="social-icon footer-social" target="_blank"><%= image_tag('pinterest_black.svg', size: "15x15", alt: "Pinterest icon", class: "icon") %></a></li>
                    <% end %>
                  </div>
                 </ul>
                <% end %>
                <% if defined?(@blog) && !@blog.nil? %>
                <%= image_tag( @blog['logo'], alt: "Blog logo", style: "max-height:50px;display:block;margin:auto;margin-top:50px;", id: "blog_logo_footer") %>
                <p style="text-align:center;margin-top:20px;" id="blog_description_footer"><%= @blog['description'] %></p>
                <% else %>
                <%= image_tag( '/images/logo_horizontal.png', alt: "Blog logo", style: "max-height:50px;display:block;margin:auto;margin-top:50px;", id: "blog_logo_footer") %>
                <p style="text-align:center;margin-top:20px;" id="blog_description_footer">This is the blog description</p>
                <% end %>

              </div>
              <p class="footer-item">By using our service, you agree to our <a href="/terms" class="footer-item">Terms</a> and <a href="/privacy" class="footer-item">Privacy</a>. <br>Winkl name &amp; logo and Winkl logo are trademarks of Winkl.</p>
            </footer>
          </div>
        </div>
      </div>
  </body>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'script' %>
</html>
