<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <% if @pagename.empty? %>
    <title>Winkl</title>
    <% else %>
    <title><%= @pagename %></title>
    <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
      <%= stylesheet_link_tag 'style', media: 'all' %>
      <%= stylesheet_link_tag 'styles', media: 'all' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.4.8.min.js"></script>
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body style="background-color:#fff;">
    <nav class="navbar navbar-default fixed-navbar" id="header">

      <div class="logolayout" style="height:50px;">
        <a href="/" style="margin-left:20px;"><%= image_tag('logo_horizontal.png', alt: "Winkl logo", class: "", size: "110x40") %></a>

      </div>

        <ul class="topnav">
          <div class="col-sm-12 zeropadding zerocurvature" style="vertical-align:top;background-color: #fff;padding-top:10px;">
            <div>

            </div>
            <% if @pagename == "Edit post" %>
            <div class="publish button capitals" id="proceed-create" onmouseover="">
              SAVE
            </div>
            <% else %>
            <div class="publish button capitals" id="post-save" onmouseover="">
              Save
            </div>
            <div class="publish button capitals" id="proceed-create" onmouseover="">
              Publish
            </div>
            <% end %>
            <div class="publish loading hidden" id="loading">
              Loading..
            </div>
            <% if @pagename == "Edit post" %>
            <div class="cancel button capitals" id="back" onclick="window.location.href = '/'">
              Cancel
            </div>
            <% else %>
            <div class="cancel button capitals" id="back" onclick="window.location.href = '/drafts'">
              Cancel
            </div>
            <% end %>
          </div>


        </ul>



    </nav>
    <div id="main" style="background-color:#fff;height:100%;">

        <div class="container zeropadding">
          <div class="col-sm-12" style="margin-bottom:10px;">
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'script' %>
</html>
