<!DOCTYPE html>
<html lang="en-UK">
  <head>
    <% if @pagename.empty? %>
    <title>Winkl - </title>
    <% else %>
    <title><%= @pagename %></title>
    <% end %>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
      <%= stylesheet_link_tag 'style', media: 'all' %>
      <%= stylesheet_link_tag 'styles', media: 'all' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Create, share and discover the best articles, videos, ideas and tutorials on fashion, beauty and style.">

  </head>
  <body style="background-color:#fff;">
    <div class="back-button">
      <img src="assets/back.svg" alt="Image" height="25px" width="25px" />
    </div>
    <div id="main" style="background-color:#fff;height:100%;">

        <div class="container zeropadding">
          <div class="col-sm-12" style="margin-bottom:10px;">
            <%= yield %>
          </div>
        </div>
      </div>
  </body>
  <%= javascript_include_tag 'bootstrap.min' %>
  <%= javascript_include_tag 'script' %>
</html>
